<!-- Footer Start-->

<div class="container-fluid"
  style="background:#EAEAEA 0% 0% no-repeat padding-box; padding-top: 100px;padding-bottom: 40px;padding-left:60px;padding-right:60px;margin-top:-70px;">
  <div class="row">
    <div class="col-sm-3">
      <img src="assets/QKS_Logo_Dark_2.png" style="width:10pc;">

      <p class="quadrant">Quadrant Knowledge Solutions is a global advisory and consulting firm focused on helping
        clients in achieving business transformation goals with Strategic Business, and Growth Advisory Services.
      </p>
    </div>
    <div class="col-sm-3">
      <h4 class="Quick"><b>Quick Links</b></h4>
      <ul class="links" style="list-style-type: none; padding-left:0rem;line-height: 30px;">
        <li><a class="dropdown-item" href="#" routerLink="/home">Home</a></li>
        <li> <a class="dropdown-item" href="#" routerLink="/about-us">About Us</a></li>
        <li><a class="dropdown-item" href="#" routerLink="/blogs">Blogs</a></li>
        <li><a class="dropdown-item" href="#" routerLink="/press-release">Press Release</a></li>
        <li><a class="dropdown-item" href="#" routerLink="/career">Careers</a></li>
        <li><a class="dropdown-item" href="#" routerLink="/contact-us">Contact Us</a></li>

      </ul>
    </div>
    <div class="col-sm-3">
      <h4 class="Quick"><b>Services</b></h4>
      <ul class="text-left links" style="list-style-type: none;padding-left:0rem;line-height: 30px;">
        <li> <a class="dropdown-item"  routerLink="/market-research">Research</a></li>
        <li><a class="dropdown-item" routerLink="/content-strategy-services">Content Strategy Services</a></li>
        <li><a class="dropdown-item"  routerLink="/advisoryservices">Quadrant Advisory Services</a></li>
        <li><a class="dropdown-item"  routerLink="/quadrant-research-methodologies">Research  Methodologies</a></li>

        <!-- <li><a class="dropdown-item" href="#" routerLink="/market-research">Research</a></li> -->

      </ul>
    </div>
    <div class="col-sm-3">
      <h4 class="Quick"><b>Contact</b></h4>
      <p class="links"><b>Address : </b>Regus Business Center 35 Village
        Road, Suite 100, Middleton
         Massachusetts, 01949, United States
    
        
      </p>
      <p class="links"><b>Email :  </b><a class="email" href="mailto:ajinkya@quadrant-solutions.com"
          style="color:black; text-decoration:none;">ajinkya@quadrant-solutions.com</a></p>
      <p class="links"><b>Phone :</b> <a href="tel:(+1) 978-344-2770" style="color:black; text-decoration:none;"> 
       (+1) 978-344-2770</a></p>
      <p class="links"><b>Follow Us: </b>

        <a href="https://www.facebook.com/quadrantknowledgesolutions" target="_blank" class="fa fa-facebook"></a>
        <a href="https://www.instagram.com/lifeatquadrant/" target="_blank" class="fa fa-instagram"></a>

        <a href="https://www.linkedin.com/company/quadrant-knowledge-solutions/" target="_blank" class="fa fa-linkedin"></a>
        <a href="https://twitter.com/QKS_Quadrant" target="_blank" class="fa fa-twitter"></a>
        <a href="https://www.youtube.com/channel/UC3m0FzPazwQCREA5Vc9-9VQ" target="_blank" class="fa fa-youtube"></a>
      </p>

    </div>
  </div>
</div>

<!-- footer signature-->

<div class="container-fluid" style="background:#404040 0% 0% no-repeat padding-box;color:white;padding:10px;">
  <div class="row">
    <div class="col-md-6">
      <p class="copyright">Copyright 2024 © Quadrant Knowledge Solutions </p>
    </div>
    <div class="col-md-6">
      <ul class="copyrights" style="list-style-type: none;display:flex;">
        <li class="ter2"  style="padding-right: 20px;">  <a routerLink="/citation-policy" style="color:white;text-decoration: none;">Citation Policy</a></li>

        <li class="ter1" style="padding-right: 20px;"><a routerLink="/TermsofUse" style="color:white;text-decoration: none;">Terms & Use</a></li>
        <li class="ter"> <a routerLink="/PersonalInformation" style="color:white;text-decoration: none;">Privacy Policy</a> </li>
        <li class="ter"  style="padding-left: 20px;">  <a routerLink="/CookiePolicy" style="color:white;text-decoration: none;">Cookie Policy</a></li>
        <li class="ter"  style="padding-left: 20px;">  <a routerLink="/refundpolicy" style="color:white;text-decoration: none;">Returns & Refund Policy</a></li>

        
      </ul>
    </div>
  </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">