<app-banner></app-banner>
<div class="container-fluid" style="margin-bottom: 4%;">
  <div class="row">
    <div class="col-sm-12" style="margin-top: 30px; margin-bottom: 15px;">
      <p class="text-center st">Overview</p>
      <h2 class="mt text-center">Who Are We</h2>
    <!-- <div class="col-md-6" id="webs">
       <div class="card bg-dark text-white" style="max-width: 540px;border-radius: 0px!important;">
        <img src="/assets/business-women-signature-document.png" class="card-img" alt="Stony Beach"/>
        <div class="card-img-overlay" style="background-color:#00327A;opacity: 0.8; border-radius:1px solid #707070;">
          <h5 class="card-title">Blogs</h5>
          <p class="card-text">
            Read thought-provoking blogs that<br> helps you make the right<br> technology decision.
          </p>
          <p class="card-text">Read Now >></p>
        </div>
      </div>
    </div> -->
  </div>
  <div class="row">
    <div class="col-sm-6">
      <p class="dec">Quadrant Knowledge Solutions is a global advisory and consulting firm focused on helping clients in
        achieving business transformation goals with Strategic Business, and Growth Advisory Services. At Quadrant
        Knowledge Solutions, our vision is to become an integral part of our client’s business as a strategic knowledge
        partner.<br><br>Gain insight on the market dynamics, technology trends and strategies your success. We deliver
        strategically backed research through extensive primary research and Quadrant’s proprietary methodology. Our
        visionary innovative framework helps clients identify future needs and needs.<br><br>Our research and consulting
        deliverables are designed to provide comprehensive information and strategic insights for helping clients
        formulate growth strategies to survive and thrive in ever-changing business environment.</p>

    </div>
    <div class="col-sm-6">
      <img class="img-fluid bg-white gms" src="assets/aboutqks.png" alt="">
    <div class="col-md-6" id="webs">
      <div class="card" style="max-width: 540px;background: #EAEAEA 0% 0% no-repeat padding-box;">
        <div class="row g-0">
          <!-- <div class="col-md-4">
            <img src="/assets/executive-assistant-talking.png" class="img-fluid rounded-start" alt="..." style="border-radius: 0px!important;">
          </div> -->
          <!-- <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-titles" style="color:#011F41;font-family:'Arial Nova';font-size:14px;">Webinar</h5>
              <p class="card-text" style="color:#011F41;font-family:'Arial Nova Bold';color:#011F41;">We help you understand the changes driving the ICT world.</p>
              <p class="card-text" ><small class="text-body-secondary">Discover >></small></p>
            </div>
          </div> -->
        </div>
      </div>
      <!-- <div class="card">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/podcasting-radio.png" class="img-fluid rounded-start" alt="..." style="border-radius: 0px!important;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-titles" style="color:white;font-size:14px;font-family:'Arial Nova';">Podcast</h5>
              <p class="card-text" style="color:white;">We are here to impact your ideas on technology on the go!</p>
              <p class="card-text" style="color:white!important;"><small class="text-body-secondary" style="color:white!important;">Listen Now >></small></p>
            </div>
          </div>
        </div>
      </div> -->
    </div>

  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6" id="webs">
        <div class="card bg-dark text-white" style="max-width: 540px;border-radius: 0px!important;">
          <img src="/assets/business-women-signature-document.png" class="card-img" alt="Stony Beach" />
          <div class="card-img-overlay"
            style="background-color:#00327A;opacity: 0.8; border-radius:1px solid #707070;">
            <h5 class="card-title">Blogs</h5>
            <p class="card-text">
              Read thought-provoking blogs that<br> helps you make the right<br> technology decision.
            </p>
            <p class="card-text"><a href="/blogs" style="color:white;text-decoration: none;">Read Now >></a></p>
          </div>
        </div>
      </div>

      <div class="col-md-6" id="webs">
        <div class="card" style="max-width: 540px;background: #EAEAEA 0% 0% no-repeat padding-box;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/assets/executive-assistant-talking.png" class="img-fluid rounded-start" alt="..."
                style="border-radius: 0px!important;">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-titles" style="color:#011F41;font-family:'Arial Nova';font-size:14px;">Webinar</h5>
                <p class="card-text" style="color:#011F41;font-family:'Arial Nova Bold';color:#011F41;">We help you
                  understand the changes driving the ICT world.</p>
                <p class="card-text"><small class="text-body-secondary">Discover >></small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/assets/podcasting-radio.png" class="img-fluid rounded-start" alt="..."
                style="border-radius: 0px!important;">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-titles" style="color:white;font-size:14px;font-family:'Arial Nova';">Podcast</h5>
                <p class="card-text" style="color:white;">We are here to impact your ideas on technology on the go!</p>
                <a href="/podcasts" style="text-decoration: none;"><p class="card-text" style="color:white!important;"><small class="text-body-secondary"
                    style="color:white!important;">Listen Now >></small></p></a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  <br><br>
  <div class="row" style="margin-bottom: 6%;margin-top: 3%;">
    <h2 class="tabt text-left">Transforming Possibilities into<br> Strategic Business Opportunities </h2>
    <div class="col-sm-12">
      <nav class="nv">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
         
          <button class="nav-link tb" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
            type="button" role="tab" aria-controls="nav-contact" aria-selected="false" (click)="toggleActiveCarousel(1)">Services</button>
          <button class="nav-link tb" id="nav-tools-tab" data-bs-toggle="tab" data-bs-target="#nav-tools" type="button"
            role="tab" aria-controls="nav-tools" aria-selected="false" (click)="toggleActiveCarousel(2)">Tools</button>
          <button class="nav-link tb" id="nav-insights-tab" data-bs-toggle="tab" data-bs-target="#nav-insights"
            type="button" role="tab" aria-controls="nav-insights" aria-selected="false">Resources</button>
        </div>
      </nav>

      <div class="row">
        <div class="col-sm-12">
          <div class="tab-content" id="nav-tabContent" style="padding-top: 40px;">
            
            <div class="tab-pane fade tabdec"  id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">Our
              carefully curated market intelligence provides businesses with strategy that caters to business growth.
            </div>
           
            <div class="tab-pane fade show active tabdec" id="nav-contact" role="tabpanel"
              aria-labelledby="nav-contact-tab">
              <div *ngIf="activeCarouselId === 1">
              <div class="container-fluid py-2">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <a class="h1" href="#carouselExampleControls" role="button" data-slide="prev" style="font-size: 1.5rem;text-decoration: none;">
                      <span>&lt;</span>
                    </a>
                  </div>
                  <div class="col">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <div class="row align-items-center">
                            <div class="col-md py-2" id="conttop"><br><br><br>
                              <h2 class="titclss">Content Strategy Services</h2>
                              <p>Expert driven valuable and relevant content for each stage <br>of your marketing funnel
                                delivered with the ultimate <br>aim of establishing thought leadership and
                                competitive<br> brand positioning. </p>
                              <p class="discover"> <a routerLink="/content-strategy-services" style="text-decoration: none;">Discover >></a></p>
                            </div>
                            <div class="col-md py-2">
                              <img class="d-block img-fluid1" src="/assets/CSS_Hero.png" alt="First slide">
                            </div>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <div class="row align-items-center">
                            <div class="col" id="conttop"><br><br><br><br>
                              <h2 class="titclss">Quadrant Advisory Services</h2>

                              <p>Become an integral part of the Client’s Business<br> as a
                                Strategic Knowledge Partner for Driving<br> Business
                                Transformation Goals.</p>
                              <p class="discover"> <a routerLink="/advisoryservices" style="text-decoration: none;">Discover >></a></p>

                            </div>
                            <div class="col">
                              <img class="d-block img-fluid1" src="/assets/qssbanner.png" alt="2nd slide">
                            </div>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <div class="row align-items-center">
                            <div class="col" id="conttop"><br>
                              <h2 class="titclss">TechnoNXT</h2>

                              <p>Continuous monitoring of the developments in<br>
                                technology space to curate, analyze and<br> objectively
                                report the updates with the right <br>innovation signals
                                to IT leaders at one place</p>
                              <p class="discover"> <a routerLink="/technonxt" style="text-decoration: none;">Discover >></a></p>

                            </div>
                            <div class="col">
                              <img class="d-block img-fluid1" src="/assets/TechnoNXT_Hero.png" alt="3rd slide">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <a class="h1" href="#carouselExampleControls" role="button" data-slide="next" style="font-size: 1.5rem;text-decoration: none;">
                      <span>&gt;</span>
                    </a>
                  </div>
                </div>
              </div>

              </div>

            </div>
            <div class="tab-pane fade tabdec" id="nav-tools" role="tabpanel" aria-labelledby="nav-tools-tab">
              <div *ngIf="activeCarouselId === 2">


              <div class="container-fluid py-2">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <a class="h1" href="#carouselExampleControls" role="button" data-slide="prev" style="font-size: 1.5rem;text-decoration: none;">
                      <span>&lt;  </span>
                    </a>
                  </div>
                  <div class="col">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <div class="row align-items-center">
                            <div class="col-md py-2" id="conttop">
                              <h2 class="titclss">MARINE</h2>

                              <p>A unique database offering the most granular<br> analysis
                                of the market encompassing historical<br> and current facts
                                and future predictions.</p>
                              <p class="discover"> <a routerLink="/marine-market-intelligence-epitome" style="text-decoration: none;">Discover >></a></p>

                            </div>
                            <div class="col-md py-2">
                              <img class="d-block img-fluid1" src="/assets/Marine_Hero.png" alt="First slide">
                            </div>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <div class="row align-items-center">
                            <div class="col" id="conttop"><br><br>
                              <h2 class="titclss">ROI Benchmark</h2>

                              <p>A vendor-neutral demonstration of value for a<br> specific
                                IT product/solution deployment. It <br>thoroughly analyzes
                                quantifiable and intangible <br>benefits, calculated total cost
                                of ownership<br> (TCO), risks, ROIs, and aggregated end-user
                                perception. </p>
                              <p class="discover"> <a routerLink="/roi-benchmark-report" style="text-decoration: none;">Discover >></a></p>

                            </div>
                            <div class="col">
                              <img class="d-block img-fluid1" src="/assets/ROI_Hero.png" alt="2nd slide">
                            </div>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <div class="row align-items-center">
                            <div class="col" id="conttop"><br><Br>
                              <h2 class="titclss">WHAO Assessment</h2>

                              <p>An objective evaluation done by third-party<br> arbitrator that
                                offers an unbiased assessment<br> of a vendor’s specific IT
                                product/solution/platform <br>deployment. It helps decision
                                makers make <br>informed choices based on information.</p>
                              <p class="discover"> <a routerLink="/whao-assessment" style="text-decoration: none;">Discover >></a></p>

                            </div>
                            <div class="col">
                              <img class="d-block img-fluid1" src="/assets/WHAO_Hero.png" alt="3rd slide">
                            </div>
                          </div>
                        </div>

                        <div class="carousel-item">
                          <div class="row align-items-center">
                            <div class="col" id="conttop"><br><br>
                              <h2 class="titclss">Spark Matrix</h2>

                              <p>A proprietary matrix for rank and positioning leading<br>
                                vendors in the global market highlighting the<br> competitive
                                landscape of key technology<br> features and solutions. </p>
                              <p class="discover"> <a routerLink="/report_type/spark-matrix" style="text-decoration: none;">Discover >></a></p>

                            </div>
                            <div class="col">
                              <img class="d-block img-fluid1" src="/assets//SPARK_Hero.png" alt="3rd slide">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <a class="h1" href="#carouselExampleControls" role="button" data-slide="next" style="font-size: 1.5rem;">
                      <span>&gt;</span>
                    </a>
                  </div>
                </div>
              </div>
              </div>
            </div>
            <div class="tab-pane fade tabdec" id="nav-insights" role="tabpanel" aria-labelledby="nav-insights-tab">

              <div class="container-fluid py-2">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <a class="h1" href="#carouselExampleControlss" role="button" data-slide="prev" style="font-size: 1.5rem;"
                     >
                      <span>&lt;</span>
                    </a>
                  </div>
                  <div class="col">
                    <div id="carouselExampleControlss" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <div class="row align-items-center">
                            <div class="col-md py-2" id="conttop"><br><br><br><Br>
                              <h2 class="titclss">Qmarkets Announces Partnership with OmniStrada Empowering...</h2>

                              <p>Qmarkets, a global provider of innovation management solutions, has just unveiled an impactful partnership with OmniStrada, a digital consultancy based in Singapore, known for its expertise in guiding businesses throughout Asia in domains such as digital transformation, innovation management and omnichannel strategies.

                              </p>

                              <p class="discover"> <a routerLink="/blogs/qmarkets-announces-partnership-with-omnistrada-empowering-asian-businesses-with-continuous-improvement-culture-capabilities-307" style="text-decoration: none;">Discover >></a></p>

                            </div>
                            <div class="col-md py-2">
                              <img class="d-block img-fluid1" src="https://quadrant-solutions.com/wp-content/uploads/2023/08/Qmarkets.png" alt="First slide">
                            </div>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <div class="row align-items-center">
                            <div class="col" id="conttop"><br><br><br><br><br>
                              <h2 class="titclss">A Game-Changer for IdeaScale Users, Unleashing Creative...</h2>

                              <p>IdeaScale, the leading innovation management platform, recently announced the newest addition to its platform- IdeaScale Whiteboard. This cutting-edge visual collaboration platform promises to revolutionize the way users brainstorm, collaborate online, and transform their ideas into reality within the IdeaScale ecosystem </p>

                              <p class="discover"><a routerLink="/blogs/a-game-changer-for-ideascale-users-unleashing-creative-potential-and-streamlining-innovation-workflows-305" style="text-decoration: none;">Discover >> </a></p>
                            </div>
                            <div class="col">
                              <img class="d-block img-fluid1" src="https://quadrant-solutions.com/wp-content/uploads/2023/08/Game-Changer.jpg" alt="2nd slide">
                            </div>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <div class="row align-items-center">
                            <div class="col" id="conttop"><br><br><br><br><Br>
                              <h2 class="titclss">Open Innovation : The Inherent Power Of Collaboration In...</h2>

                              <p>In this rapidly changing competitive landscape, businesses are facing increasing pressures to stay competitive and relevant. To navigate this dynamic environment successfully, embracing open innovation has become a crucial element of effective innovation management. </p>

                              <p class="discover"><a href="/blogs/open-innovation-the-inherent-power-of-collaboration-in-innovation-management-306" style="text-decoration: none;">Discover >></a></p>
                            </div>
                            <div class="col">
                              <img class="d-block img-fluid1" src="https://quadrant-solutions.com/wp-content/uploads/2023/08/open-innovation.jpg" alt="3rd slide">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <a class="h1" href="#carouselExampleControlss" role="button" data-slide="next" style="font-size: 1.5rem;"
                      >
                      <span>&gt;</span>
                    </a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- <div class="col-sm-5" id="line">
                    <h1 class="tabt1">SPARK Matrix</h1>
            <p class="tabdec1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores.
              </p>
            <a href="#"><button class="tabbt">Discover>></button></a>
                </div> -->
      </div>

    </div>

  </div>
  <!-- <div class="row" id="mdtop" style="background-color: #EAEAEA; padding-top: 50px; margin-bottom: 60px;padding-bottom: 50px;">
        <div class="col-sm-6">
            <img class="img-fluid bg-white abt" src="assets/PiyushDewangan.png" alt="">
        </div>
        <div class="col-sm-6">
            <img class="img-fluid qt" src="assets/Quote.png" alt="">
            <h4 class="pys">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no.</h4>
            <h3 class="pn">Piyush Dewangan</h3>
            <p class="pd">Founder & CEO, <br>Quadrant Knowledge Solutions Pvt. Ltd.</p>
        </div>

    </div> -->
  <!-- <div class="row g-3 mb-4">

        <div class="col-sm-6"> 
            <img class="img-fluid bg-white amb" src="assets/ambitious.png" alt="">
            <h1 class="amt1">Lorem Ipsum Dolor</h1>
            <p class="amdeca">Lorem ipsum dolor sit amet, consetetur sadipscing labore et dolore magna aliquyam erat, sed diam voluptua.
              </p>
            <a href="#"><button class="amabtb">Discover</button></a>
        </div>
      
        <div class="col-sm-6">
            <img class="img-fluid bg-white mod" src="assets/modern.png" alt="">
            <h1 class="t1">Lorem Ipsum Dolor</h1>
            <p class="deca">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
              </p>
            <a href="#"><button class="abtb">Discover</button></a>
          
      </div>
        
      </div> -->

  <div class="row" style="padding-top: 4%; padding-bottom: 3%;">
    <div class="col-sm-12" style="padding: 0;">
      <div class="bgimg"></div>
      <h2 class="life">Life @ Quadrant</h2>
      <p class="lfd">It all begins with an intense curiosity about clients, colleagues, and the future. We, at Quadrant,
        bring a diverse set of perspectives as well as the convictions of our employees to work on ideas and initiatives
        that shift the trajectory of business. As a trusted advisor to the world's most prominent firms, we live at the
        crossroads of what's next, always trying to take the next leap. </p>
      <a href="/career"><button class="lfbtn">Join Us >> </button></a>
    </div>

  </div>


  <div class="row re">
    <div class="col-sm-12 fx1" style="margin-top:-180px;">
      <p class="text-center st">FAQS</p>
      <h2 class="mt text-center">Questions? Look Here.</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 fx">
      <div class="accordion acc" id="accordionPanelsStayOpenExample">
        <div class="accordion-item" style="background-color: #DADADA; margin-top:-50px;">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button btt" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne" style="background-color: #DADADA;margin-bottom: 10px;">
              What is Quadrant Knowledge Solutions and what does it offer?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
            aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              Quadrant Knowledge Solutions is a research and consulting firm that provides strategic information and
              analysis to help businesses make informed decisions and drive growth. We offer a range of services,
              including market research, strategic consulting, technology advisory, and custom research solutions.
            </div>
          </div>
        </div>
        <div class="accordion-item" style="background-color: #DADADA;">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
              aria-controls="panelsStayOpen-collapseTwo" style="background-color: #DADADA;">
              What industries does Quadrant Knowledge Solutions cover?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
              Quadrant Knowledge Solutions covers around 21 domains which are:<br><br>
              • Application Development.<br>
              • Data Management Services<br>
              • Banking & Financial Services<br>
              • Cloud Management<br>
              • Financial Crime & Compliance.<br>
              • IT Infrastructure & Network<br>
              • Procurement Management<br>
              • Retail & E-commerce<br>
              • BPM & Process Automation.<br>
              • Communication & Collaboration.<br>
              • Enterprise IT Services<br>
              • HR Tech<br>
              • Integrated Risk Management.<br>
              • Project & Portfolio Management.<br>
              • Supply Chain Management.<br>
              • CX & Martech.<br>
              • Data, Analytics & Artificial Intelligence<br>
              • Enterprise Architecture Planning.<br>
              • Information Security.<br>
              • IoT & Digitization.<br>
              • Privacy Data Management.
            </div>
          </div>
        </div>
        <div class="accordion-item" style="background-color: #DADADA;">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
              aria-controls="panelsStayOpen-collapseThree" style="background-color: #DADADA;">
              Are Quadrant Knowledge Solutions' reports available for purchase?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
              Yes, the research reports are available for purchase. You can browse the report catalog on the website and
              choose the reports that align with your interests or requirements. You can contact us or book a briefing
              session. </div>
          </div>
        </div>
        <div class="accordion-item" style="background-color: #DADADA;">
          <h2 class="accordion-header" id="panelsStayOpen-headingFour">
            <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
              aria-controls="panelsStayOpen-collapseFour" style="background-color: #DADADA;">
              Can I access Quadrant Knowledge Solutions' research reports without paying first?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingFour">
            <div class="accordion-body">
              No. You cannot access the entire report without purchasing however you can access a brief of the report
              when you visit the official website and explore the "Research" section or contact our sales team for more
              information. </div>
          </div>
        </div>
        <div class="accordion-item" style="background-color: #DADADA;">
          <h2 class="accordion-header" id="panelsStayOpen-headingFive">
            <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
              aria-controls="panelsStayOpen-collapseFive" style="background-color: #DADADA;">
              How can I get in touch with Quadrant Knowledge Solutions for consulting services?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingFive">
            <div class="accordion-body">
              You can contact Quadrant Knowledge Solutions through their website's "Contact" page or reach out to their
              sales or consulting team via email or phone. </div>
          </div>
        </div>
        <div class="accordion-item" style="background-color: #DADADA;">
          <h2 class="accordion-header" id="panelsStayOpen-headingSix">
            <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false"
              aria-controls="panelsStayOpen-collapseSix" style="background-color: #DADADA;">
              Does Quadrant Knowledge Solutions offer customized research solutions?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingSix">
            <div class="accordion-body">
              Yes, Quadrant Knowledge Solutions provides customized research solutions to meet specific business needs
              and requirements. </div>
          </div>
        </div>
      </div>
    </div>
   

  </div>
  

</div>



<div #topElement></div>


<app-searchbar></app-searchbar>




