<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12" style="padding: 0;">
            <div class="carimg">
                <h2 class="bect">Data, Analytics & Artificial Intelligence</h2>
                <p class="appd">The field of Data, Machine Learning (Analytics) & Artificial Intelligence is empowering businesses in times where data is the backbone of every business decision, internal and external.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12" style="margin-top: 30px; margin-bottom: 15px;">
          <p class="text-center st">Overview</p>
                <h2 class="mt text-center">Data, Analytics & Artificial Intelligence</h2>
        </div>
       </div>
       <div class="row">
           <div class="col-sm-6">
               <p class="dec">Specially designed to provide more insightful outcomes and intuitive experiences, data analytics and artificial intelligence is becoming quite essential in the business transformation journey of every organization.<br><br>Strategic insights and advisory offered by Quadrant Knowledge Solutions are directed towards helping you make sense of this ever-evolving field of data analytics and artificial intelligence in a dynamic and complex business environment.<br><br>Our proprietary SPARK Matrix, custom research, analyst briefing sessions, and consulting are just a few examples of the wide range of services we offer to help you get acquainted with market trends, emerging opportunities, competitive landscape, and other market insights on Data Analytic, Artificial Intelligence and Machine Learning.</p>
           </div>
           <div class="col-sm-6">
               <!-- <img class="img-fluid bg-white gms" src="assets/Marine_Thumbnail_2.png" alt=""> -->
               <iframe width="490" height="290" src="https://www.youtube.com/embed/Z9rMXTdiYiU" title="Panel Discussion 3 - How Conversational AI is Driving Market Disruptions" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
           </div>
       </div>
<!-- image slide -->
       <div class="container-fluid" id="mobheig" style="background-color:#EAEAEA;margin-bottom: 45px; height: 375px;">

       <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <p class="text-center ti">Coverage</p>
        <h2 class="tit text-center">Technology Index </h2>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-lg-3 cd">
                <img src="assets/DataScience&MachineLearningPlatforms.png" class="d-block im" alt="...">
                    <h3 class="ct">Data Science & Machine<br>Learning Platforms</h3>
              </div>
              <div class="col-lg-3 cd">
                <img src="assets/AugmentedAnalyticsTools.png" class="d-block im" alt="...">
                <h3 class="ct">Augmented Analytics<br>Tools</h3>
              </div>
              <div class="col-lg-3 cd">
                <img src="assets/DataManagement&AnalyticsServices.png" class="d-block im" alt="...">
                <h3 class="ct">Data Management & <br>Analytics Services</h3>
              </div>
              <div class="col-lg-3 cd">
                <img src="assets/TransitionServices.png" class="d-block im" alt="...">
                <h3 class="ct">Transition<br>Services</h3>
              </div>
            </div>
            
          </div>
          <div class="carousel-item">
            <div class="row">
                <div class="col-lg-3 cd">
                    <img src="assets/TextAnalytics.png" class="d-block im" alt="...">
                    <h3 class="ct">Text Analytics</h3>
                  </div>
                  <div class="col-lg-3 cd">
                    <img src="assets/SpeechAnalytics.png" class="d-block im" alt="...">
                    <h3 class="ct">Speech Analytics</h3>
                  </div>
                  <div class="col-lg-3 cd">
                    <img src="assets/DataScience&MachineLearningPlatforms.png" class="d-block im" alt="...">
                        <h3 class="ct">Data Science & Machine<br>Learning Platforms</h3>
                  </div>
                  <div class="col-lg-3 cd">
                    <img src="assets/AugmentedAnalyticsTools.png" class="d-block im" alt="...">
                    <h3 class="ct">Augmented Analytics<br>Tools</h3>
                  </div>
            </div>
          </div>

          <!-- <div class="carousel-item">
            <div class="row">
                  <div class="col-lg-3 cd">
                    <img src="assets/CRM.png" class="d-block im" alt="...">
                    <h3 class="ct">Customer Relationship<br>Management</h3>
                  </div>
                  <div class="col-lg-3 cd">
                    <img src="assets/AdTech.png" class="d-block im" alt="...">
                        <h3 class="ct">Advertising<br>Technologies</h3>
                  </div>
                  <div class="col-lg-3 cd">
                    <img src="assets/SalesEnablementandPerformace.png" class="d-block im" alt="...">
                    <h3 class="ct">Sales Enablement <br>and Performace</h3>
                  </div>
                  <div class="col-lg-3 cd">
                    <img src="assets/MobileMarketing.png" class="d-block im" alt="...">
                    <h3 class="ct">Mobile<br>Marketing</h3>
                  </div>
            </div>
          </div> -->

        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

      </div>
      </div>

      <!-- <div class="row">
        <div class="col-sm-12" style="margin-bottom: 80px;">
          <p class="text-center st">Forms</p>
                <h2 class="mt text-center">User Survey Forms</h2>
        </div>
      </div> -->

      <!-- <div class="row">
        <div class="col-md-7">
          <div class="hver">
          <h3 class="urcp">End User Survey: Unified Retail Commerce Platform<br> (URCP), 2023</h3>
          <p class="qd">Quadrant Knowledge Solutions wants to gain key insights into your experience<br> in purchasing and implementing the Unified Retail Commerce Platform. We<br> request you provide your valuable feedback. The survey will take approximately<br> 9 minutes to complete.</p>
          <a href="#"><button class="amabtb">Fill the form</button></a>
          </div>
          <div class="box">
          <h3 class="urcp">End User Survey: Unified Retail Commerce Platform<br> (URCP), 2023</h3>
          <p class="qd">Quadrant Knowledge Solutions wants to gain key insights into your experience<br> in purchasing and implementing the Unified Retail Commerce Platform. We<br> request you provide your valuable feedback. The survey will take approximately<br> 9 minutes to complete.</p>
          <a href="#"><button class="amabtb">Fill the form</button></a>
         </div>
        </div>
        <div class="col-md-5">
          <img class="img-fluid cus" src="assets/customer-satisfaction.png" alt="">
        </div>

      </div> -->
<!-- Spark card -->
      <div class="row">
        <div class="col-sm-12" id="mobh" style="margin-bottom: 10px;">
          <p class="text-center st">Preview</p>
                <h2 class="mt text-center">SPARK Matrix</h2>
        </div>
      </div>
      <div class="row" style="margin-bottom: 60px;">
        <div class="col-md-4 crd">
          <h2>SPARK Matrix™: Data Science and Machine Learning Platforms, Q2 2023</h2>
          <span><b>Author: </b>Megha Rungta</span>
          <p>Data Science and Machine Learning (DSML) platform helps users to gather data from various sources and create machine learning models and solutions through the insights... <a href="/market-research/spark-matrix-data-science-and-machine-learning-platforms-q2-2023-1638" style="text-decoration: none;">Read More</a></p>
          <a href="/market-research/spark-matrix-data-science-and-machine-learning-platforms-q2-2023-1638"><button class="spx">Read Now >></button></a>
        </div>
        <div class="col-md-4 crd">
          <h2>SPARK Matrix™: Sustainability Management, 2022</h2>
          <span><b>Author: </b>Namrata Deshmukh</span>
          <p>Sustainability management software enables businesses to manage all the data generated by their production activities. It tracks information on the climate, biodiversity, diversity, waste, and finances. Moreover... <a href="/market-research/spark-matrix-sustainability-management-2022-1568" style="text-decoration: none;">Read More</a></p>
          <a href="/market-research/spark-matrix-sustainability-management-2022-1568"><button class="spx">Read Now >></button></a>
        </div>
        <div class="col-md-4 crd">
          <h2>SPARK Matrix™: Intelligent Document Processing (IDP), 2022</h2>
          <span><b>Author: </b>Madhu Kittur</span>
          <p>Intelligent document processing (IDP) is a technique for automatically extracting useful information from documents received by the organization in a variety of formats, including... <a href="/market-research/spark-matrix-intelligent-document-processing-idp-2022-1542" style="text-decoration: none;">Read More</a></p>
          <a href="/market-research/spark-matrix-intelligent-document-processing-idp-2022-1542"><button class="spx">Read Now >></button></a>
        </div>
      </div>
<!-- spark card end -->
      <div class="row">
        <div class="col-sm-12" style="margin-bottom: 10px;">
          <p class="text-center st">Market Insights</p>
                <h2 class="mt text-center">Technology spectrum</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-7">
          <div class="hvr">
          <a href="/market-research/the-role-of-natural-language-querying-in-self-service-business-intelligence-2887" style="text-decoration: none;"><h3 class="urcp">The Role of Natural Language Querying in Self-Service Business Intelligence</h3></a>
          <span><b>Author: </b>Madhu Kittur</span>
          </div>
          <div class="box1">
          <a href="/market-research/effective-knowledge-graphs-promote-robust-text-analytics-capabilities-ensuring-better-end-user-2885" style="text-decoration: none;"><h3 class="urcp">Effective Knowledge Graphs promote robust Text<br>Analytics capabilities ensuring better end-user</h3></a>
          <span><b>Author: </b>Madhu Kittur</span>
         </div>
         <div class="box1">
          <a href="/market-research/market-insight-impact-of-attended-automation-on-agents-and-customer-experiences-1914" style="text-decoration: none;"><h3 class="urcp">Market Insight : Impact of Attended Automation on<br>Agents and Customer Experiences</h3></a>
          <span><b>Author: </b>Apoorva Dawalbhakta</span>
         </div>
        </div>
        <div class="col-md-5">
          <img class="img-fluid mib" src="https://quadrant-solutions.com/wp-content/uploads/2023/09/Technology-Specturm.png" alt="" style="background:#000;border-radius: 10px;">
          <button type="submit" class="connbtn btn-primary">Download Sample Report</button>
        </div>

      </div>

      <!-- Trends card -->
      <div class="row">
        <div class="col-sm-12" style="margin-top: 50px;">
          <p class="text-center st">Trends</p>
                <h2 class="mt text-center">Latest News & Insights</h2>
        </div>
      </div>
      <div class="row" style="margin-bottom: 60px;">
        <div class="col-md-4 crd">
          <h2>Event Stream Processing: Navigating the Path to Real-time Insights and Innovation</h2>
          <p>The Event Stream Processing (ESP) market is undergoing significant expansion due to the convergence of various data-intensive platforms in today’s rapidly evolving technological landscape. The primary driver for this growth...</p>
          <a href="/blogs/event-stream-processing-navigating-the-path-to-real-time-insights-and-innovation-319"><button class="spx">Read Now >></button></a>
        </div>
        <div class="col-md-4 crd">
          <h2>Data Science and Machine Learning Evolution</h2>
          <p>Over the last millennia, technology has witnessed substantial evolution that has not only transformed the human way of living but has also led to human evolution. Starting from roadways and railways in the past to Artificial Intelligence in the present, technological evolution has only benefitted humans...</p>
          <a href="/blogs/data-science-and-machine-learning-evolution-208"><button class="spx">Read Now >></button></a>
        </div>
        <div class="col-md-4 crd">
          <h2>Operationalizing Data Strategy for Delivering Business Results</h2>
          <p>It a known fact that most initiatives in modern businesses increasingly depend on data and technology to bring more innovative products and services to the market. It leads to improved customer experiences as well. However...</p>
          <a href="/blogs/operationalizing-data-strategy-for-delivering-business-results-148"><button class="spx">Read Now >></button></a>
        </div>
      </div>
<!-- Trends card end -->
</div>
<app-searchbar></app-searchbar>
