
.loading-spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.carimg{
    background-color: #011F41;
    height: 200px;
    display: grid;
    place-items: center;
    position: relative;
}
.carimg::before{
    background-image: url(../../assets/Mask-Group.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    inset: 0;
    opacity: 40%;
}
.bect {
    color: #ffffff;
    position: relative;
    font-size: 45px;
    font-family: 'Arial Nova Bold';
}
.btn {
    padding: 5px 10px;
    font-size: 14px;
}

.pagination-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.pagination {
    display: flex;
    list-style: none;
}

.pagination li {
    padding: 5px;
}

.pagination li.disabled {
    opacity: 0.5;
}

.pagination li.active {
    font-weight: bold;
}


// //////////////////////////////////////////////////////////
.research-item {
    margin-bottom: 20px;
    padding: 10px;
    // border: 1px solid #ccc;
    box-shadow: 5px 5px 5px 5px #e6e4e4;
}

.research-price {
    font-weight: bold;
    // margin-top: 10px;
    // font-size: 14px;
}

.research-title {
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color:#0d6efd;
}

.research-description {
    margin-top: 10px;
    font-size: 14px;
}

.research-category {
    font-weight: bold;
}

.btn {
    margin-top: 10px;
    width: 50%;
}


.alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f44336; /* Red background color */
    color: white; /* White text color */
    padding: 20px;
    display: none; /* Hide the alert by default */
    z-index: 1000;
  }
  
  .alert-content {
    position: relative;
  }
  
  .closebtn {
    position: absolute;
    top: -20px;
    right: -10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
  }
  
  .success {
    background-color: #4caf50; /* Green background color */
  }
  
  .failed {
    background-color: #f44336; /* Red background color */
  }
  
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: none; /* Hide the overlay by default */
    z-index: 999;
  }


  .form-check {
    background: #fff;
    margin-bottom: 11px;
    font-size: 10px;
    margin-right: 0px;
    padding: 5px 5px 5px 5px;
    color: black;
    cursor: pointer;
    font-weight: 700;
}
.form-check-label {
    margin-bottom: 0;
    margin-left: 19px;
}


input#report-1 {
    margin-left: 0px;
    background-color: #eaeaea;
}

input#report-0 {
    margin-left: 0px;
    background-color: #eaeaea;

}

input#report-2{
    margin-left: 0px;
    background-color: #eaeaea;


}

input#report-3{
    margin-left: 0px;
    background-color: #eaeaea;


}
input#report-4{
    margin-left: 0px;
    background-color: #eaeaea;


}
input#report-5{
    margin-left: 0px;
    background-color: #eaeaea;


}input#report-6{
    margin-left: 0px;
    background-color: #eaeaea;

    
}

input#report-7 {
    margin-left: 0px;
    background-color: #eaeaea;
}

.form-check-input ng-pristine ng-valid ng-touched {
    color: red!important;
}

.form-check-input:checked[type=checkbox] {
    --bs-form-check-bg-image: url(https://www.citypng.com/public/uploads/preview/-316225907691vr4nvazfz.png);
}

input#category-2 {
   
    margin-left: 0px;
    background-color: #eaeaea;
}

input#category-1 {
   
    margin-left: 0px;
    background-color: #eaeaea;
}

input#category-3 {
   
    margin-left: 0px;
    background-color: #eaeaea;
}input#category-4 {
   
    margin-left: 0px;
    background-color: #eaeaea;
}input#category-5 {
   
    margin-left: 0px;
    background-color: #eaeaea;
}input#category-6 {
   
    margin-left: 0px;
    background-color: #eaeaea;
}input#category-7 {
   
    margin-left: 0px;
    background-color: #eaeaea;
}input#category-8 {
   
    margin-left: 0px;
    background-color: #eaeaea;
}input#category-9 {
   
    margin-left: 0px;
    background-color: #eaeaea;
}input#category-10 {
   
    margin-left: 0px;
    background-color: #eaeaea;
}input#category-11 {

    margin-left: 0px;
    background-color: #eaeaea;
}

input#category-12 {
   
    margin-left: 0px;
    background-color: #eaeaea;
}

input#category-13 {
   
    margin-left: 0px;
    background-color: #eaeaea;
}
input#category-14 {
   
    margin-left: 0px;
    background-color: #eaeaea;
}

input#category-15 {
   
    margin-left: 0px;
    background-color: #eaeaea;
}input#category-16 {
   
    margin-left: 0px;
    background-color: #eaeaea;
}


input#category-17 {
   
    margin-left: 0px;
    background-color: #eaeaea;
}

input#category-18 {
   
    margin-left: 0px;
    background-color: #eaeaea;
}
input#category-19 {
   
    margin-left: 0px;
    background-color: #eaeaea;
}
input#category-20 {
   
    margin-left: 0px;
    background-color: #eaeaea;
}
input#category-21 {
   
    margin-left: 0px;
    background-color: #eaeaea;
}

#ser1{
    background-color: #0d6efd;
    color: white;
    font-family: "Arial Nova";
    border-color: #0d6efd;
    border-radius: 5px;
    padding: 3px;
    width: 17%;
}

#ser2{
   
    color: black;
    font-family: "Arial Nova";
    border-radius: 5px;
    border: 1px solid gray;
    padding: 4px;
    margin-right: 10px;
}
.links {
    position: relative;
    left: -14px;
}
a.fa-envelope-o{
    padding: 5px;
    color:#011F41;
    font-size: 18px!important;
}

a.fa.fa-linkedin {
    padding: 5px;
    color:#011F41;
    font-size: 18px!important;
}

a.fa.fa-twitter {
    padding: 5px;
    color:#011F41;
    font-size: 18px!important;
}
a.fa.fa-youtube {
    padding: 5px;
    color:#011F41;
    font-size: 18px!important;

}

a.fa.fa-facebook {
    padding: 5px;
    color:#011F41;
    font-size: 18px!important;
}

a.fa.fa-instagram {
    padding: 5px;
    color:#011F41;
    font-size: 18px!important;
}
.fa{
    text-decoration: none;
    margin-left: 10px;
}

@media screen and (max-width: 480px){

    div#presp{
        width: 100%!important;
        left:0px!important;
    }

    div#sidebarresp{
        width: 100%!important;
        left:0px!important;
    }
}