

  <div class="bg-img" style="margin-top: 5%;">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <img src="assets/audience-conference-hall.png" class="d-block w-100 bg-fit" alt="...">
        <div class="tbox">
          <h6 class="tt">Tech Talks</h6>
          <h2 class="tit">IT Infrastructure Services Market - Trends,<br> Challenges & Growth Strategies</h2>
          <p class="dec">The IT infrastructure services market has changed drastically over the past decade and has witnessed rapid changing market requirements, leading to more innovative solutions from IT infrastructure service providers.</p>
          <a href="https://www.youtube.com/watch?v=rKN-ixswvmo"><button class="bt">Watch Now</button></a>
        </div>
      </div>
    </div> 
  </div>
  
  
  
  