<div class="row" style="padding-bottom: 3%; margin-top: -33px;">
    <div class="col-sm-12">
      <h1 class="ct">Citation Policy</h1>
      <div class="myimg">
        <img class="myimage" src="assets/contact1.png">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-sm-12" style="font-family: Arial Nova;font-size: 16px;margin-top:20px;">

        <p>Unless otherwise noted, Quadrant Knowledge Solutions Private Limited (“QKS” or
            “Quadrant Knowledge Solutions”) owns the intellectual property rights, and reserve all
            rights to, all intellectual property rights and other rights in the content on its website
            (www.quadrant-solutions.com) and in its documents and articles, in paper or electronic form.
            Quadrant Knowledge Solutions Private Limited also owns a number of trademarks that are
            on the website. All research and written material created by QKS (“Research”) is intended to
            be used for internal use by the clients. Reproducing QKS Research either in its entirety or in
            part outside of this use is not permitted without prior written approval of QKS.
            At all times, QKS Research will be deemed as copyright material and should be marked “for
            internal use only” and “Source: Quadrant Knowledge Solutions, "Report Title", Analyst
            Name, Month Day Year". (e.g. "Source: Quadrant Knowledge Solutions, "Digital Risk
            Protection", Piyush Dewangan, Chief Analyst, August 23, 2023.").
            </p>

            <b>TO REQUEST APPROVAL TO CITE QKS RESEARCH CONTENT OR QUOTE AN</b><br><Br>
            <b>ANALYST</b><bR><Br>

            <ul>
                <li>Kindly send an email to <a href="mailto:info@quadrant-solutions.com">info@quadrant-solutions.com</a></li>
                <li>Please provide the following information and attachments:</li><bR>
                    <ol>-The quote or content you wish to use placed in the material where it will
                        appear.
                     </ol>
                        <ol>-The original source of the quote/citation with the excerpted content
                            highlighted.
                        </ol>
                            <ol>-A description of the audience, communication objective and venue
                                o The date(s) of use
                            </ol><br><Br>
                            

                            <li>We will reply by email within five business days.</li>
            </ul>

            <b>POLICIES</b><Br><Br>
            <ul>
                <li>All research produced by Quadrant Knowledge Solutions, including content accessed
                    through QKS websites, is proprietary to Quadrant Knowledge Solutions and subject
                    to copyright and other intellectual property protections.
                    </li>
                    <li>All external or commercial citation of Quadrant Knowledge Solutions custom and
                        syndicated content and analyst quotes is prohibited without QKS’s express written
                        permission. Such uses include, but are not limited to advertisements, press releases,
                        and sales collateral in all types of media; links to any websites maintained by Quadrant
                        Knowledge Solutions.
                        </li>
                        <li>Written permission must be requested to use or reproduce the QKS logo, trademarks
                            or service marks in all types of media.
                            </li>

                            <li>All citations must be limited in scope and presented verbatim.</li>
                            <li>While it may be requested, QKS generally prohibits full reproductions and/or
                                distributions of QKS content are purchased from QKS.
                                </li>
                                <li>QKS will not approve requests for QKS analysts to endorse a client product or service.
                                    QKS will not approve requests that use QKS content to compare companies, products
                                    or services.
                                </li>
                                <li>QKS will not approve requests to link to QKS videos and webinars that mention
                                    specific companies and/or products.
                                </li>
                                <li>QKS will not approve requests to cite, quote or excerpt from QKS videos and webinars
                                    that mention specific companies and/or products
                                </li>
                                <li>The QKS name or the names of its analysts may not be used.</li>

            </ul><bR><Br>
            <b>GUIDELINES</b><br><Br>

                <p>In general, if you are uncertain of proper citation for a particular use, please seek written
                    approval.
                    </p>
                    <b>In Advertisements</b><br><Br>

                        <ul>
                            <li>All citations must comply with the Policies.</li>
                    <li> Advertisements shall not appear to be co-sponsored by QKS.</li>
            <li>Services or products advertised shall not appear to be endorsed by QKS.</li>
            <li>All requests must include the location and placement of the advertisement.</li>

                        </ul>
                        <bR><bR>

                            <b>In Press Releases</b><br><Br>
                            <ul>
                                <li>All citations must comply with the Policies.</li>
                       <li>QKS may not be referenced or appear in any client, member or vendor boilerplates.</li>

                            </ul>

                            <b>In Video/Multimedia</b><bR><Br>
                                <ul>
                                <li>All citations must comply with the Policies.</li>
                    <li>Citations, quotes and excerpts from QKS videos and webinars that mention specific
companies and/or products are prohibited.</li><Br><Br>
<b>In Webinar/Speaking Engagements</b><br><br>
    <li>All citations must comply with the Policy Regulations.</li>
    <li>Co-sponsors shall not use the QKS name to promote webinars without written
approval of QKS.</li>
    <li>Citations, quotes and excerpts from QKS videos and webinars that mention specific
companies and/or products are prohibited.</li>
    <li>It must be clear that a QKS Research analyst is a guest/featured speaker/presenter and the event is not being co-hosted or co-marketed in any way.</li>

    
</ul>

<b>POLICY VIOLATIONS</b><br><br>

<p>QKS reserves all the rights, at its sole discretion, to immediately terminate any uses of its
    intellectual property that are in violation of this policy or that otherwise abuse, harm, or
    damage any QKS intellectual property. Legal action can also be initiated on violation of policy
    for damage claims.
    </p>

    <b>VARIATIONS</b><br><br>

    <p>QKS reserves the right to change these guidelines at any time without prior notice.</p>
    <bR><br><br><Br><Br>

        <div #topElement></div>

    <app-searchbar></app-searchbar>
            
  </div>
</div>