<div class="container">
   <div class="row">
    <div class="col-sm-12" style="margin-top: 30px; margin-bottom: 15px;">
      <p class="text-center st">Tools</p>
			<h2 class="mt text-center">Game-Changing Tools</h2>


<div class="container" style="margin-top: 40px;margin-bottom: 40px;">
    
  <div class="row">
    
   <!-- Market Intelligence Epitome -->
  <div class="row g-3 mb-4">
    <div class="col-sm-7">
        <h6 class="tt">MARINE</h6>
        <h2 class="tit">Market Intelligence Epitome</h2>
        <p class="dec">A unique database offering the most granular analysis
          of the market encompassing historical and current
          facts and future predictions.
          </p>
        <a href="https://quadrant-solutions.com/marine-market-intelligence-epitome/"><button class="bt">Discover</button></a>
  </div>
    <div class="col-sm-5"> 
        <img class="img-fluid bg-white gms" src="assets/busywoman.png" alt="">
        <img class="img-fluid bg-white gms1" src="assets/businessman.png" alt="">
    </div>
    
  
<!-- Market Intelligence Epitome end -->
<!-- ROI Benchmark Report -->

 <div class="row g-3 mb-4">

   <div class="col-sm-6"> 
       
       <img class="img-fluid bg-white roi1" src="assets/businessconcept.png" alt="">
       <img class="img-fluid bg-white roi" src="assets/companygrowth.png" alt="">
   </div>

    <div class="col-sm-6">
      
      <ul class="left" style="list-style-type: none;">
     
        <h6 class="tt">Report</h6>
        <h2 class="tit">ROI Benchmark Report</h2>
        <p class="dec">A vendor-neutral demonstration of value for a specific IT product/solution deployment. It thoroughly analyzes quantifiable and intangible benefits, calculated total cost of ownership (TCO), risks, ROIs, and aggregated end-user perception.
          </p>
        <a href="https://quadrant-solutions.com/roi-benchmark-report/"><button class="bt">Discover</button></a>
      </ul>

    </div>
    
  </div>
  <!-- ROI Benchmark Report end -->
  
<!-- WHAO Assessment Report -->
 <div class="row g-3 mb-4 sp">
   <div class="col-sm-7">
       <h6 class="tt">Report</h6>
       <h2 class="tit">WHAO Assessment Report</h2>
       <p class="dec">An objective evaluation done by third-party that offers an unbiased assessment of a vendor’s specific IT product/solution/platform deployment. It helps decision-makers make informed choices based on information.</p>
       <a href="https://quadrant-solutions.com/whao-assessment"><button class="bt">Discover</button></a>
 </div>
   <div class="col-sm-5"> 
       <img class="img-fluid bg-white gms2" src="assets/finance.png" alt="">
       <!-- <img class="img-fluid bg-white gms1" src="assets/businessman.png" alt=""> -->
   </div>
   
 </div>
<!-- WHAO Assessment Report end-->

<!-- SPARK Matrix -->
<div class="row g-3 mb-4">

 <div class="col-sm-6"> 
     <img class="img-fluid bg-white spx2" src="assets/manusing.png" alt="">
     <img class="img-fluid bg-white spx1" src="assets/analysisgraph.png" alt="">
     <img class="img-fluid bg-white spx" src="assets/holdinggraph.png" alt="">
 </div>

 <div class="col-sm-6">
   
     <h6 class="tts">SPARK Matrix</h6>
     <h2 class="tits">Strategic Performance Assessment and Ranking</h2>
     <p class="decs">Quadrant Knowledge Solutions’ SPARK Matrix provides a snapshot of the market positioning of the key market participants. SPARK Matrix representation provides a visual representation of market participants and provides strategic insights on how each supplier ranks against their competitors, with respect to various performance parameters based on the category of technology excellence and customer impact.
       </p>
     <a href="/report_type/spark-matrix"><button class="bts">Discover</button></a>
   
</div>
 
</div>
<!-- SPARK Matrix end-->

</div>