

<div class="container-xl" style="margin-bottom: 50px;">
	<div class="row">
		<div class="col-sm-12 spb">
			<p class="text-center st">Testimonials</p>
			<h2 class="mt text-center">What Our Clients Say</h2>
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Carousel indicators -->
				 <ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>    
				<!-- Wrapper for carousel items -->
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="row">
							<div class="col-sm-4">
								<div class="media"> 
									<img src="assets/Jane_Doe.png" class="mr-3" alt="">
									<div class="media-body">
										<div class="testimonial">
                                            <p class="tit"> Valerie Peck</p>
                                            <p class="subt">CEO, SuiteCX, Inc </p>
											<p class="tsize" style="color:black;">“Quadrant does a thorough job of evaluating our market and competitors. It’s an invaluable resource for us and our strategic planning as well as to help us share our position with prospects and clients.Thanks for the great work!” </p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="media">
									<img src="assets/John_Doe.png" class="mr-3" alt="">
									<div class="media-body">
										<div class="testimonial">
                                            <p class="tit"> Philipp Hansert</p>
                                            <p class="subt">Chief Sales Officer, Bee360 </p>

											<p class="tsize" style="color:black;">“Quadrant is a fantastic analyst for us, since they offer a very unique perspective on the markets. We value their market intelligence and the advice given very much. It helps us to pursue our goals better.” </p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="media">
									<img src="../../assets/John_Doe.png" class="mr-3" alt="">
									<div class="media-body">
										<div class="testimonial">
                                            <p class="tit"> Kirsty Roberts</p>
                                            <p class="subt">Analyst Relations, AuraQuantic </p>

											<p class="tsize" style="color:black;">“It has been a pleasure to work with the team at Quadrant Knowledge Solutions. The product assessment process was thorough, and they produced a fair and in-depth report. If you are looking for strategic business and technology advice, I would highly recommend Quadrant Knowledge Solutions.”</p>
										</div>
									</div>
								</div>
							</div>
						</div>			
					</div>

					<div class="carousel-item ">
						<div class="row">
							<div class="col-sm-4">
								<div class="media"> 
									<img src="assets/Jane_Doe.png" class="mr-3" alt="">
									<div class="media-body">
										<div class="testimonial">
                                            <p class="tit"> Valerie Peck</p>
                                            <p class="subt">CEO, SuiteCX, Inc </p>
											<p class="tsize" style="color:black;">“Quadrant does a thorough job of evaluating our market and competitors. It’s an invaluable resource for us and our strategic planning as well as to help us share our position with prospects and clients.Thanks for the great work!” </p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="media">
									<img src="assets/John_Doe.png" class="mr-3" alt="">
									<div class="media-body">
										<div class="testimonial">
                                            <p class="tit"> Philipp Hansert</p>
                                            <p class="subt">Chief Sales Officer, Bee360 </p>

											<p class="tsize" style="color:black;">“Quadrant is a fantastic analyst for us, since they offer a very unique perspective on the markets. We value their market intelligence and the advice given very much. It helps us to pursue our goals better.” </p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="media">
									<img src="../../assets/John_Doe.png" class="mr-3" alt="">
									<div class="media-body">
										<div class="testimonial">
                                            <p class="tit"> Kirsty Roberts</p>
                                            <p class="subt">Analyst Relations, AuraQuantic </p>

											<p class="tsize" style="color:black;">“It has been a pleasure to work with the team at Quadrant Knowledge Solutions. The product assessment process was thorough, and they produced a fair and in-depth report. If you are looking for strategic business and technology advice, I would highly recommend Quadrant Knowledge Solutions.”</p>
										</div>
									</div>
								</div>
							</div>
						</div>			
					</div>

					<div class="carousel-item ">
						<div class="row">
							<div class="col-sm-4">
								<div class="media"> 
									<img src="assets/Jane_Doe.png" class="mr-3" alt="">
									<div class="media-body">
										<div class="testimonial">
                                            <p class="tit"> Valerie Peck</p>
                                            <p class="subt">CEO, SuiteCX, Inc </p>
											<p class="tsize" style="color:black;">“Quadrant does a thorough job of evaluating our market and competitors. It’s an invaluable resource for us and our strategic planning as well as to help us share our position with prospects and clients.Thanks for the great work!” </p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="media">
									<img src="assets/John_Doe.png" class="mr-3" alt="">
									<div class="media-body">
										<div class="testimonial">
                                            <p class="tit"> Philipp Hansert</p>
                                            <p class="subt">Chief Sales Officer, Bee360 </p>

											<p class="tsize" style="color:black;">“Quadrant is a fantastic analyst for us, since they offer a very unique perspective on the markets. We value their market intelligence and the advice given very much. It helps us to pursue our goals better.” </p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="media">
									<img src="../../assets/John_Doe.png" class="mr-3" alt="">
									<div class="media-body">
										<div class="testimonial">
                                            <p class="tit"> Kirsty Roberts</p>
                                            <p class="subt">Analyst Relations, AuraQuantic </p>

											<p class="tsize" style="color:black;">“It has been a pleasure to work with the team at Quadrant Knowledge Solutions. The product assessment process was thorough, and they produced a fair and in-depth report. If you are looking for strategic business and technology advice, I would highly recommend Quadrant Knowledge Solutions.”</p>
										</div>
									</div>
								</div>
							</div>
						</div>			
					</div>

					 
						
				</div>
			</div>
		</div>
	</div>
</div>



