<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" style="padding: 0;">
            <div class="carimg">
                <h2 class="bect">Enterprise Architecture Planning</h2>
                <p class="appd">Enterprise Architecture Planning (EAP) reveals how a company can accomplish its objectives by developing several engineering models and projects that everyone involved in the company can easily understand.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12" style="margin-top: 30px; margin-bottom: 15px;">
          <p class="text-center st">Overview</p>
                <h2 class="mt text-center">Enterprise Architecture Planning</h2>
        </div>
       </div>
       <div class="row">
           <div class="col-sm-6">
               <p class="dec">To determine how a business will use technology, several initiatives and IT Roadmaps are prioritized as part of enterprise architecture. This is done to streamline processes and inform stakeholders about the strategies.<br><br>With Enterprise Architecture Planning, corporations can acquire better understanding on how all of its IT components interact with one another. This can enhance employee productivity and communication, get rid of unused and redundant technology, and increase the return on investment for the IT solutions the company has purchased.<br><br>In this dynamic and complex business environment, Quadrant Knowledge Solutions Enterprise Architecture Planning research service will provide latest intelligence you need to incorporate latest technology developments, market trends and best practices into your strategies for next generation of products and services.</p>
           </div>
           <div class="col-sm-6">
               <!-- <img class="img-fluid bg-white gms" src="assets/Marine_Thumbnail_2.png" alt=""> -->
               <iframe width="490" height="290" src="https://www.youtube.com/embed/-cGHNkTOKGA" title="Overview of Enterprise Architecture Planning Domain" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
           </div>
       </div>
<!-- image slide -->
       <div class="container-fluid" id="mobheig" style="background-color:#EAEAEA;margin-bottom: 45px; height: 375px;">

       <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <p class="text-center ti">Coverage</p>
        <h2 class="tit text-center">Technology Index</h2>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-lg-3 cd">
                <img src="assets/EnterpriseArchitectureTools.png" class="d-block im" alt="...">
                    <h3 class="ct">Enterprise Architecture<br>Tools</h3>
              </div>
              <div class="col-lg-3 cd">
                <img src="assets/Projects&StoryWorkflows.png" class="d-block im" alt="...">
                <h3 class="ct">Projects & Story<br>Workflows</h3>
              </div>
              <div class="col-lg-3 cd">
                <img src="assets/ConfigurationManagement.png" class="d-block im" alt="...">
                <h3 class="ct">Configuration<br>Management</h3>
              </div>
              <div class="col-lg-3 cd">
                <img src="assets/EAConsultingServices.png" class="d-block im" alt="...">
                <h3 class="ct">EA Consulting<br>Services</h3>
              </div>
            </div>
            
          </div>
          <!-- <div class="carousel-item">
            <div class="row">
                <div class="col-lg-3 cd">
                    <img src="assets/DataGovernanceSolution.png" class="d-block im" alt="...">
                    <h3 class="ct">Data Governance<br>Solution</h3>
                  </div>
                  <div class="col-lg-3 cd">
                    <img src="assets/ObjectBasedStorage.png" class="d-block im" alt="...">
                    <h3 class="ct">Object Based<br>Storage</h3>
                  </div>
                  <div class="col-lg-3 cd">
                    <img src="assets/DataVirtualisation.png" class="d-block im" alt="...">
                        <h3 class="ct">Data<br>Virtualisation</h3>
                  </div>
                  <div class="col-lg-3 cd">
                    <img src="assets/DataMasking.png" class="d-block im" alt="...">
                    <h3 class="ct">Data<br>Maskingv</h3>
                  </div>
            </div>
          </div> -->

          <!-- <div class="carousel-item">
             <div class="row">
                  <div class="col-lg-3 cd">
                    <img src="assets/DataManagementService.png" class="d-block im" alt="...">
                    <h3 class="ct">Data Management<br>Service</h3>
                  </div>
                  <div class="col-lg-3 cd">
                <img src="assets/IntelligentDataCatalogs.png" class="d-block im" alt="...">
                    <h3 class="ct">Intelligent<br>Data Catalogs</h3>
              </div>
              <div class="col-lg-3 cd">
                <img src="assets/DataQualityTools.png" class="d-block im" alt="...">
                <h3 class="ct">Data<br>Quality Tools</h3>
              </div>
              <div class="col-lg-3 cd">
                <img src="assets/MetadataManagement.png" class="d-block im" alt="...">
                <h3 class="ct">Metadata<br>Management</h3>
              </div>
            </div>
          </div> -->

        </div>
        <!-- <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a> -->

      </div>
      </div>

      <!-- <div class="row">
        <div class="col-sm-12" style="margin-bottom: 80px;">
          <p class="text-center st">Forms</p>
                <h2 class="mt text-center">User Survey Forms</h2>
        </div>
      </div> -->

      <!-- <div class="row">
        <div class="col-md-7">
          <div class="hver">
          <h3 class="urcp">End User Survey: Unified Retail Commerce Platform<br> (URCP), 2023</h3>
          <p class="qd">Quadrant Knowledge Solutions wants to gain key insights into your experience<br> in purchasing and implementing the Unified Retail Commerce Platform. We<br> request you provide your valuable feedback. The survey will take approximately<br> 9 minutes to complete.</p>
          <a href="#"><button class="amabtb">Fill the form</button></a>
          </div>
          <div class="box">
          <h3 class="urcp">End User Survey: Unified Retail Commerce Platform<br> (URCP), 2023</h3>
          <p class="qd">Quadrant Knowledge Solutions wants to gain key insights into your experience<br> in purchasing and implementing the Unified Retail Commerce Platform. We<br> request you provide your valuable feedback. The survey will take approximately<br> 9 minutes to complete.</p>
          <a href="#"><button class="amabtb">Fill the form</button></a>
         </div>
        </div>
        <div class="col-md-5" id="heimobs">
          <img class="img-fluid cus" src="assets/customer-satisfaction.png" alt="">
        </div>

      </div> -->
<!-- Spark card -->
      <div class="row">
        <div class="col-sm-12" style="margin-bottom: 10px;">
          <p class="text-center st">Preview</p>
                <h2 class="mt text-center">SPARK Matrix</h2>
        </div>
      </div>
      <div class="row mgn" style="margin-bottom: 60px;">
        <div class="col-md-4 crd">
          <h2>SPARK MatrixTM : Innovation Management, 2023</h2>
          <span><b>Author: </b>Kausal Santosh</span>
          <p>Quadrant defines “Innovation Management (IM) as the systematic and strategic process of incorporating new entities into an organisational structure, including products, services, concepts, or events. This involves actions such as generating... <a href="/market-research/spark-matrix-innovation-management-2023-2963" style="text-decoration: none;">Read More</a></p>
          <a href="/market-research/spark-matrix-innovation-management-2023-2963"><button class="spx">Read Now >></button></a>
        </div>
        <div class="col-md-4 crd">
          <h2>SPARK MatrixTM : Enterprise Architecture Tools, 2023</h2>
          <span><b>Author: </b>Kausal Santosh</span>
          <p>Quadrant defines Enterprise Architecture (EA) tools as a set of applications or a platform that assists organisations in strategically driven planning, analysis, design, execution, and implementation of business strategies across different operating domains such... <a href="/market-research/spark-matrixenterprise-architecture-tools-q3-2023-3010" style="text-decoration: none;">Read More</a></p>
          <a href="/market-research/spark-matrixenterprise-architecture-tools-q3-2023-3010"><button class="spx">Read Now >></button></a>
        </div>
        <div class="col-md-4 crd">
          <h2>SPARK MatrixTM : Enterprise Architecture Tools, 2023</h2>
          <span><b>Author: </b>Kausal Santosh</span>
          <p>Quadrant defines Enterprise Architecture (EA) tools as a set of applications or a platform that assists organisations in strategically driven planning, analysis, design, execution, and implementation of business strategies across different operating domains such... <a href="/market-research/spark-matrixenterprise-architecture-tools-q3-2023-3010" style="text-decoration: none;">Read More</a></p>
          <a href="/market-research/spark-matrixenterprise-architecture-tools-q3-2023-3010"><button class="spx">Read Now >></button></a>
        </div>
      </div>
<!-- spark card end -->
      <div class="row">
        <div class="col-sm-12" style="margin-bottom: 10px;">
          <p class="text-center st">Market Insights</p>
                <h2 class="mt text-center">Technology spectrum</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-7">
          <div class="hvr">
          <a href="/market-research/adoption-of-open-innovation-in-enabling-innovation-management-2886" style="text-decoration: none;"><h3 class="urcp">Adoption of Open innovation in enabling innovation management</h3></a>
          <span><b>Author: </b>Kausal Santosh</span>
          </div>
          <div class="box1">
          <a href="/market-research/market-insight-saas-optimization-integrated-with-application-portfolio-management-enhancing-the-organizational-productivity-1904" style="text-decoration: none;"><h3 class="urcp">Market Insight: SaaS Optimization Integrated with Application<br>Portfolio Management Enhancing the Organizational Productivity</h3></a>
          <span><b>Author: </b>Sofia Ali</span>
         </div>
         <div class="box1">
          <a href="/market-research/market-insight-growing-connection-between-the-enterprise-architecture-and-project-and-portfolio-management-to-line-up-it-projects-teams-1908" style="text-decoration: none;"><h3 class="urcp">Market Insight: Growing Connection Between the Enterprise<br>Architecture and Project and Portfolio Management to line up<br>IT-Projects teams</h3></a>
          <span><b>Author:</b>Sofia Ali</span>
         </div>
        </div>
        <div class="col-md-5">
          <img class="img-fluid mib" src="https://quadrant-solutions.com/wp-content/uploads/2023/09/Technology-Specturm.png" alt="" style="background:#000;border-radius: 10px;">
          <button type="submit" class="connbtn btn-primary"><a href="/become-a-client" style="color:white;text-decoration: none;">Become A Client</a></button>
        </div>

      </div>

      <!-- Trends card -->
      <div class="row">
        <div class="col-sm-12" style="margin-top: 50px;">
          <p class="text-center st">Trends</p>
                <h2 class="mt text-center">Latest News & Insights</h2>
        </div>
      </div>
      <div class="row" style="margin-bottom: 60px;">
        <div class="col-md-4 crd">
          <h2>A Game-Changer for IdeaScale Users, Unleashing Creative Potential and Streamlining Innovation Workflows</h2>
          <p>IdeaScale, the leading innovation management platform, recently announced the newest addition...</p>
          <a href="/blogs/a-game-changer-for-ideascale-users-unleashing-creative-potential-and-streamlining-innovation-workflows-305"><button class="spx">Read Now >></button></a>
        </div>
        <div class="col-md-4 crd">
          <h2>Qmarkets Announces Partnership with OmniStrada Empowering Asian Businesses with Continuous Improvement Culture & Capabilities</h2>
          <p>Qmarkets, a global provider of innovation management solutions, has just unveiled an impactful partnership...</p>
          <a href="/blogs/qmarkets-announces-partnership-with-omnistrada-empowering-asian-businesses-with-continuous-improvement-culture-capabilities-307"><button class="spx">Read Now >></button></a>
        </div>
        <div class="col-md-4 crd">
          <h2>Open Innovation : The Inherent Power Of Collaboration In Innovation Management</h2>
          <p>In this rapidly changing competitive landscape, businesses are facing increasing pressures to stay competitive and relevant. To navigate this dynamic environment successfully, embracing open innovation...</p>
          <a href="/blogs/open-innovation-the-inherent-power-of-collaboration-in-innovation-management-306"><button class="spx">Read Now >></button></a>
        </div>
      </div>
<!-- Trends card end -->
</div>
<app-searchbar></app-searchbar>
