<!-- <div class="row">
  <div class="col-sm-12" style="padding: 0;">
      <div class="marimg9"></div>
      <div class="row">
      <div class="col-sm-6">
          <h2 class="mart2">Content Strategy Services
          </h2>
          <p class="mardec7">Expert driven valuable and relevant content for each stage<br> of your marketing funnel delivered with the ultimate aim<br> of establishing thought leadership and competitive<br> brand positioning.</p>
          <button class="marbtn8" (click)="downloadForm('content-strategy-services')"><a style="color:white;text-decoration: none;">Connect for a Demo  <p class="arr">></p></a></button> 


      </div>
      <div class="col-sm-6">
      </div>
      </div>
  </div>
</div> -->




  <div class="container-fluid">
    <div class="row" style="margin-bottom: -160px;">
      <div class="col-sm-12" style="padding: 0;">
          <div class="whaimg"></div>
              <h1 class="what">Content Strategy Services</h1>
              <p class="whadec">Expert driven valuable and relevant content for each stage<br> of your marketing funnel delivered with the ultimate aim<br> of establishing thought leadership and competitive<br> brand positioning.</p>
              <!-- <button class="whabtn"><a href="/become-a-client" style="color:white;text-decoration: none;">Become a Client</a>  <p class="arr">></p></button>  -->
              <button class="whabtn" (click)="downloadForm('become-a-client')"><a style="color:white;text-decoration: none;">Connect for a Demo  <p class="arr">></p></a></button> 

              <iframe  class="img-fluid bg-white mr2" width="674" height="379" src="https://www.youtube.com/embed/IoHTHvj7XVw" title="Quadrant Knowledge Solutions’ Content Strategy Services" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


      </div>
      
    </div>



  </div>


  

   
  <div class="row" style="margin-top: -30%;">
    <div class="col-sm-12">
      <p class="text-center st">Offerings</p>
            <h2 class="mt text-center">What CSS Offers</h2>
    </div>

    <div class="container" style="margin-left: 0px;">
        <div class="row ">
          <div class="col-md-4 col-sm-12" >
            <div style="background-color: #E5E5E5;padding: 20px;margin-left: 60px;border-radius: 5px;" id="blogcss">

                <h3 style="color:#011F41;font-family:Arial Nova Bold;font-size: 24px;text-align:center;">Blogs</h3>
                <p style="color:#011F41;font-size: 14px;font-family:Arial Nova;text-align:center;">Curated content with focus on technology<br> trends, adoption, enhancements,<br> and product launches</p>
            </div>
           
          </div>
          <div class="col-md-4 col-sm-12">
            <div style="background-color: #E5E5E5;padding: 20px;margin-left: 0px;border-radius: 5px;">

                <h3 style="color:#011F41;font-family:Arial Nova Bold;font-size: 24px;text-align:center;">Webinar</h3>
                <p style="color:#011F41;font-size: 14px;font-family:Arial Nova;text-align:center;">Quality interactions with vendor’s target<br> audience, industry leaders, and product<br> managers</p>
            </div>
           
          </div>
          <div class="col-md-4 col-sm-12">
            <div style="background-color: #E5E5E5;padding: 20px;margin-right: 60px;border-radius: 5px;"  id="blogcss1">

                <h3 style="color:#011F41;font-family:Arial Nova Bold;font-size: 24px;text-align:center;">Knowledge Brief</h3>
                <p style="color:#011F41;font-size: 14px;font-family:Arial Nova;text-align:center;">Brief narrated report on market trends and<br> discusses vendors' achievements and <br>initiatives</p>
            </div>
           
          </div>
        </div>
      </div>
      <Br><br><br><BR>

      <div class="container" style="margin-left: 0px;margin-top: 30px;">
        <div class="row ">
          <div class="col-md-4 col-sm-12" >
            <div style="background-color: #E5E5E5;padding: 20px;margin-left: 60px;border-radius: 5px;" id="blogcss">

                <h3 style="color:#011F41;font-family:Arial Nova Bold;font-size: 24px;text-align:center;">Market Insight</h3>
                <p style="color:#011F41;font-size: 14px;font-family:Arial Nova;text-align:center;">Vendor neutral insights into market and<br> technology trends backed by qualitative<bR> analysis</p>
            </div>
           
          </div>
          <div class="col-md-4 col-sm-12">
            <div style="background-color: #E5E5E5;padding: 20px;margin-left: 0px;border-radius: 5px;">

                <h3 style="color:#011F41;font-family:Arial Nova Bold;font-size: 24px;text-align:center;">Whitepaper</h3>
                <p style="color:#011F41;font-size: 14px;font-family:Arial Nova;text-align:center;">Detailed document used by vendors to <br>establish thought leadership in a particular<br> ICT domain</p>
            </div>
           
          </div>
          <div class="col-md-4 col-sm-12">
            <div style="background-color: #E5E5E5;padding: 20px;margin-right: 60px;border-radius: 5px;"  id="blogcss1">

                <h3 style="color:#011F41;font-family:Arial Nova Bold;font-size: 24px;text-align:center;"> Video Testimonials</h3>
                <p style="color:#011F41;font-size: 14px;font-family:Arial Nova;text-align:center;">QKS' subject matter experts speaking<br> based on the research on organization's<br> USP, and relevant technology solutions</p>
            </div>
           
          </div>
        </div>
      </div>


      <div class="container" style="margin-left: 0px;margin-top: 30px;margin-bottom: 30px;">
        <div class="row ">
          <div class="col-md-3 col-sm-12" >
            <!-- <div style="background-color: #E5E5E5;padding: 20px;margin-left: 60px;border-radius: 5px;">

                <h3 style="color:#011F41;font-family:Arial Nova Bold;font-size: 24px;text-align:center;">Market Insight</h3>
                <p style="color:#011F41;font-size: 14px;font-family:Arial Nova;text-align:center;">Vendor neutral insights into market and<br> technology trends backed by qualitative<bR> analysis</p>
            </div> -->
           
          </div>
          <div class="col-md-3 col-sm-12">
            <div style="background-color: #E5E5E5;padding: 20px;margin-left: 0px;border-radius: 5px;height:178px;margin-right: 0px;">

                <h3 style="color:#011F41;font-family:Arial Nova Bold;font-size: 24px;text-align:center;">Strategy Reports</h3>
                <p style="color:#011F41;font-size: 14px;font-family:Arial Nova;text-align:center;">Vendor-neutral guides providing a <br>comprehensive technological architecture,capabilities, vendor landscape, and use<br> cases</p>
            </div>
           
          </div>
          <div class="col-md-3 col-sm-12">
            <div style="background-color: #E5E5E5;padding: 20px;margin-right: 40px;border-radius: 5px;"  id="blogcss1">

                <h3 style="color:#011F41;font-family:Arial Nova Bold;font-size: 24px;text-align:center;">Events</h3>
                <p style="color:#011F41;font-size: 14px;font-family:Arial Nova;text-align:center;">Virtual and on-site events for QKS clients<br> to connect and network with their target patrons and industry peers</p>
            </div>
           
          </div>
          <div class="col-md-3 col-sm-12">
            <!-- <div style="background-color: #E5E5E5;padding: 20px;margin-right: 60px;border-radius: 5px;">

                <h3 style="color:#011F41;font-family:Arial Nova Bold;font-size: 24px;text-align:center;"> Video Testimonials</h3>
                <p style="color:#011F41;font-size: 14px;font-family:Arial Nova;text-align:center;">QKS' subject matter experts speaking<br> based on the research on organization's<br> USP, and relevant technology solutions</p>
            </div> -->
           
          </div>
        </div>
      </div>


      <div class="jumbotron text-center padding" style="background-color: #011F41; padding-top: 50px;">
        <h2 class="recent"><b style="color:white;"> Our Resources</b></h2>
        
      </div>
      
      <div class="container-fluid" style="background-color: #011F41; padding-bottom: 50px;">
        <div class="row">
          <div class="col-sm-1 col-md-1 col-lg-1"></div>
          <div class="col-sm-5 col-md-5 col-lg-5" id="resres">
            <h5 class="font"><b>Highly Curated Blogs</b></h5>
            <p class="fnt" style="color:#0972EA;"><a href="/blogs" style="text-decoration: none;">Read Now >></a> </p>
            <hr style="color:white;width:30pc;">
      
            <h5 class="font"><b>Webinars & TechTalks</b></h5>
            <p class="fnt" style="color:#0972EA;"><a  routerLink="#" style="text-decoration: none;">Read Now >></a> </p>
            <hr style="color:white;width:30pc;">
            <h5 class="font"><b>Market Insights</b></h5>
            <p class="fnt" style="color:#0972EA;"><a href="/market-research" style="text-decoration: none;">Read Now >></a></p>
          </div>
          <div class="col-sm-1 col-md-1 col-lg-1"></div>
          <div class="col-sm-5 col-md-5 col-lg-5"  id="resres">
            <h5 class="font"><b>Market Forecast</b></h5>
            <p class="fnt" style="color:#0972EA;"><a href="/market-research" style="text-decoration: none;">Read Now >></a></p>
            <hr style="color:white;width:30pc;">

            <h5 class="font"><b>User Strategy Report</b></h5>
            <p  class="fnt" style="color:#0972EA;"><a href="/market-research" style="text-decoration: none;">Read Now >></a></p>
            <hr style="color:white;width:30pc;">

            <h5 class="font"><b>Analyst Briefing</b></h5>
            <p class="fnt" style="color:#0972EA;"><a href="/market-research" style="text-decoration: none;">Read Now >></a></p>
          </div>
          
        </div>
      </div>
    

      <div class="jumbotron text-center padding" style="background-color: #0972EA; padding-top: 50px;">
        <h2 class="recent"><b style="color:white;"> This isn't Content Marketing,<br> It is Content Strategy!</b></h2>
        
      </div>

      <div class="container" style="background-color: #0972EA;padding-bottom: 50px;">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6" id="rescss">
            <img src="/assets/PurposeDrivenContent.png"  id="iconcss" style="padding-left: 90px;padding-bottom: 20px;width:60%;">
            <h3 style="color:white;font-family: Arial Nova Bold;font-size: 18px;text-align: center;">Purpose Driven<br> Content</h3>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6"  id="rescss"> 
            <img src="/assets/ContinuousNurturing.png" id="iconcss" style="padding-left: 90px;padding-bottom: 20px;width:60%;">
            <h3 style="color:white;font-family: Arial Nova Bold;font-size: 18px;text-align: center;"> Continuous <br> Nurturing</h3>

          </div>
          <div class="col-lg-3 col-md-6 col-sm-6"  id="rescss"> 

            <img src="/assets/LongTermCommitment.png"  id="iconcss" style="padding-left: 90px;padding-bottom: 20px;width:60%;">
            <h3 style="color:white;font-family: Arial Nova Bold;font-size: 18px;text-align: center;"> Long Term <br> Commitment</h3>

          </div>
          <div class="col-lg-3 col-md-6 col-sm-6"  id="rescss"> 

            <img src="/assets/PositionYourBrandasaLeader.png"  id="iconcss" style="padding-left: 70px;padding-bottom: 35px;padding-top: 20px; width:60%;">
            <h3 style="color:white;font-family: Arial Nova Bold;font-size: 18px;text-align: center;"> Position Your Brand<br>  as a Leader</h3>
          </div>
        </div>
      </div>
   

<div class="row" style="margin-top: 5%;">
    <div class="col-sm-12">
      <p class="text-center st">FAQS</p>
            <h2 class="mt text-center">Questions? Look Here.</h2>
    </div>
   </div>
  <div class="row" style="margin-bottom: 5%;">
    <div class="col-sm-12 fx">
        <div class="accordion acc" id="accordionPanelsStayOpenExample">
            <div class="accordion-item" style="background-color: #DADADA;">
              <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne" style="background-color: #DADADA;">
                  How does Content Strategy Services help an organization?
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                  Quadrant Knowledge Solutions’ Content Strategy Services is here to analyze customer insight and intelligence, construct technical framework and provide strategic recommendation to drive conversion and enable business growth with the ultimate aim
                  of establishing thought leadership and competitive brand positioning.
                                  </div>
              </div>
            </div>
            <div class="accordion-item" style="background-color: #DADADA;">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo" style="background-color: #DADADA;">
                  In what ways does Content Strategy Services help an organization?
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                  Our team of analyst dive deep into market research and consumer behavior to give clients access to a wide range of content collateral, that includes engaging blogs, insightful market analysis, knowledge briefs, interactive webinars, thought-provoking interviews, well-researched white papers, and authentic testimonials.                </div>
              </div>
            </div>
            <div class="accordion-item" style="background-color: #DADADA;">
              <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree" style="background-color: #DADADA;">
                  Does CSS follow any strategy for content creation process?
                </button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                  The content deliverables follow a funnel approach with awareness and concept establishment that enables customer insights and intelligence through advanced research and survey tools. This is followed by the stage of engagement and leadership establishment where CSS provides technology framework and assists in vendor selection. The final stage of content strategy follows leadership demonstration where clients are positioned.This approach strategically maps the vendor’s engagement journey, ultimately driving towards establishing thought leadership.                 </div>
              </div>
            </div>
            <!-- <div class="accordion-item" style="background-color: #DADADA;">
                <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                  <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour" style="background-color: #DADADA;">
                      Lorem ipsum dolor sit amet, consetetur sadipscing elitr?
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                  <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the, though the transition does limit overflow.
                  </div>
                </div>
              </div> -->
              <!-- <div class="accordion-item" style="background-color: #DADADA;">
                <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                  <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive" style="background-color: #DADADA;">
                      Lorem ipsum dolor sit amet, consetetur sadipscing elitr?
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                  <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the, though the transition does limit overflow.
                  </div>
                </div>
              </div> -->
              <!-- <div class="accordion-item" style="background-color: #DADADA;">
                <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                  <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix" style="background-color: #DADADA;">
                      Lorem ipsum dolor sit amet, consetetur sadipscing elitr?
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
                  <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the, though the transition does limit overflow.
                  </div>
                </div>
              </div> -->
          </div>
    </div>

  </div>
  <div #topElement></div>

  <app-searchbar></app-searchbar>

  