
<div class="row" style="padding-bottom: 3%;margin-top:-33px;">
    <div class="col-sm-12">
        <p class="ct1">Job Opening</p>
        <h1 class="ct">Client Partner/ Sr. Client Partner </h1>
        <h1 class="ct2"><b>Location :</b> Pune</h1>

        <div class="myimg">
          <img class="myimage" src="assets/intelligence analyst.png">

        </div>
        
    </div>
  </div>

 <div class="container">
    <div class="row">
        <div class="col-sm-4" id="marintell">
            <h3 class="title">Department</h3>
            <p class="contetnt">Client Partner /<br> Sr. Client Partner </p>

            <h3 class="title">Job Type</h3>
            <p class="contetnt">Full-Time</p>

            <h3 class="title">Education</h3>
            <p class="contetnt">MBA in Marketing</p>

            <h3 class="title">Experience</h3>
            <p class="contetnt">8-10 years</p>

        </div>

        <div class="col-sm-8">

            <h3 class="title">Roles & Responsibilities</h3>

            <p class="con">The Client Partner/ Sr. Client Partner is responsible for building, managing and support Million $ portfolio (base + target) of Quadrant Knowledge Solutions Corporate Accounts Customers. The Client Partner ensures that on-going relationships are maintained with customers while maximizing Quadrant Knowledge Solution’s offerings and profitability. The key objective of the Client Partner is to drive growth within his assigned customer base by demonstrating the Quadrant Knowledge Solutions promise and the value we provide as a total solutions partner.</p>
            <h5 class="title">Accountabilities & Key Internal Relationships</h5>

            <p class="con">The Client Partner reports to the Associate Director/Director of technology domain. Significant interaction and collaboration with research team, marketing, and sales operations.</p>

            <h3 class="title">Primary Responsibilities</h3>
            <h3 class="titlesss">Business Results</h3>

            <p class="con">Meet the established sales & profitability targets for the assigned Domains/Sub Domains for given Accounts. </p>

            <h3 class="title">Account & Customer Management</h3>


            <ul class="list">
                <li>Identify key decision makers in assigned customers and cultivate relationships to ensure satisfaction and confidence in ALL Quadrant Knowledge Solutions offerings. Target Customer Corporate Level (C-suite, VP Operations, Product management, Analyst relations, and Strategy heads) and key personnel.</li>
                <li>Develop a relationship strategy unique to each customer based on current and future needs that fosters a long-term, trusted relationship with Quadrant Knowledge Solutions</li>
                <li>Build and continuously update the Strategic Account Plan and establish customer action plans to measure regular progress against the established action plan. Ensure alignment with Global Strategic Account Plans by liaising with respective Domain Associate Director and Directors. </li>
                <li>Communicate the Strategic Account Plan regularly within Quadrant Knowledge Solutions to ensure all parties clearly understand the strategies necessary to meet assigned customers’ current and future needs.</li>
                <li>Serve as the customer’s final “service guarantee” by ensuring that outstanding issues are resolved in a timely manner and to the customer’s complete satisfaction.</li>
                <li>Serve as the knowledge expert with respect to understanding assigned customer businesses and collaborate with other key internal partners (Sales, Marketing, Research, Delivery team) to improve the overall customer experience provided by Quadrant Knowledge Solutions, including innovation.</li>
               
            </ul>

            <h3 class="title">Business and Financial Management</h3>
            <ul class="list">
                <li>Develop and implement a pricing strategy in assigned customers that ensures Quadrant Knowledge Solutions’ overall revenue and profit objectives are met.</li>
                <li>Structure profitable deals that support both the needs of the customer and Quadrant Knowledge Solutions and that are scalable to accommodate global framework arrangements.</li>
                <li>Using judgment and business know-how, negotiate deals to closure balancing aggressive sales techniques with solid financial considerations – leverages understanding of customer share growth versus profitable growth.</li>
            </ul>

            <h3 class="title">Account Prospecting & Enterprise Selling</h3>
            <ul class="list"> 
                <li>Identify and prospect potential Quadrant Knowledge Solutions customers. Determine who the key decision makers and influencers are and effectively merchandize the value of Quadrant Knowledge Solutions service and product offerings in alignment with the prospect’s key business needs and drivers.</li>
                <li>Leveraging knowledge of the full suite of Quadrant Knowledge Solutions products and offerings, design/structure and deliver effective customer proposals that customize Quadrant Knowledge Solutions product portfolios to address the unique needs of each prospect.</li>
                <li>Surface CTC opportunities within existing and prospective customer accounts and successfully coordinate Quadrant Knowledge Solutions resources cross-divisionally to create total solution proposals that effectively convert Quadrant Knowledge Solutions capabilities into meaningful value for the customer.</li>
            </ul>

            <h3 class="title">Performance Indicators</h3>
            <h3 class="titlesss">  Quantitative Targets</h3>
            <ul>
                <li>Achievement of Sales Target</li>
                <li>Maintain 30-60-90-Day Sales Pipeline</li>
                <li>Contribute to Team Members</li>
                <li>Profitability</li>
                <li>Innovation projects</li>
                <li>Regular contact to Senior Executives</li>
            </ul>

            <h3 class="titlesss">Qualitative targets</h3>
            <ul>
                <li>Quality, accuracy, and timely design of Strategic Account Plan</li>
                <li>Quality of customer relationship (Annual Business Review, Customer satisfaction ratings, feedback from Customer’s Senior Executives,)</li>
                <li>Alignment of the Quadrant Knowledge Solutions business development team</li>
               
            </ul>

            <h3 class="titlesss">Minimum Qualifications</h3>
            <ul>
                <li>BCA, BSC(CS), BCM, BE / BTech Degree</li>
                <li>MBA in Marketing, IT Management IT Operations or Equivalent PG.</li>
                <li>8 to 10 years of experience in selling content strategy and content marketing & Key Account experience with a large, international, experience in service sector. (Consulting, Industry Research, Market Research (ICT Domain preferred)</li>
               <li>Familiarity with analytical, productivity, and reporting tools such as MS Office, Asana, Slack, LinkedIn, PBI, etc</li>
               <li>Exceptional Knowledge of the Consulting and Research for Information and Communication Technology (ICT) industry.</li>
            </ul>

            <h3 class="title">Our Commitment to Diversity and Inclusion</h3>



            <p class="con">At Quadrant Knowledge Solutions, we believe the best teams are diverse and inclusive, and we are on a journey to create a workplace where every employee can grow and achieve their best. We are committed to fair and equal treatment of employees and applicants. We recruit, hire, promote, transfer, and provide opportunities for advancement based on individual qualifications and job performance. In all matters affecting employment, compensation, benefits, working conditions, and opportunities for advancement, we will not discriminate against any employee or applicant for employment because of race, religion, color, creed, national origin, citizenship status, sex, sexual orientation, gender identity and expressions, genetic information, marital status, age, disability, or status as a covered veteran.</p>

            <p class="con">In addition, we are committed to furthering the principles of Equal Employment Opportunity (EEO) through Affirmative Action (AA). Our goal is to fully utilize minority, female, disabled and covered veteran individuals at all levels of the workforce. Quadrant Knowledge Solutions is a place where you can grow your career, own your future, and impact what matters.</p>
            <br><br><br><Br>

        </div>
      </div>
 </div>

 <div class="container-fluid" id="apply" style="background-color: #EAEAEA;padding: 50px 50px 80px 80px;">
    <div class="row">
       <h1 style="text-align: center;font-family: 'Arial Nova Bold';color:#011F41;font-size: 36px;padding-bottom: 20px;"> Apply Now</h1> 

       <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
          <!-- <label for="fName"> Name:</label> -->
          <input type="text" id="fName" formControlName="fName"  class="form-control" required placeholder="Name">
          <div *ngIf="form.controls['fName'].invalid && (form.controls['fName'].dirty || form.controls['fName'].touched)">
            <div *ngIf="form.controls['fName'].errors?.['required']"> Name is required.</div>
          </div>
        </div>
        <!-- <div>
          <label for="lName">Last Name:</label>
          <input type="text" id="lName" formControlName="lName">
          
        </div> -->
        <div>
          <!-- <label for="officeEmail">Office Email:</label> -->
          <input type="email" id="officeEmail" class="form-control" formControlName="officeEmail" required placeholder="Offical Email">
          <div *ngIf="form.controls['officeEmail'].invalid && (form.controls['officeEmail'].dirty || form.controls['officeEmail'].touched)">
            <div *ngIf="form.controls['officeEmail'].errors?.['required']">Office Email is required.</div>
            <div *ngIf="form.controls['officeEmail'].errors?.['email']">Invalid email format.</div>
          </div>
        </div>
        <div>
          <!-- <label for="businessPhone">Business Phone:</label> -->
          <input type="tel" id="businessPhone" formControlName="businessPhone" class="form-control" placeholder="Phone" style="margin-bottom:20px;">
          <!-- Add other validation messages for businessPhone if needed -->
        </div>

        <div>
          <!-- <label for="fName"> Name:</label> -->
          <input type="text" id="companyName" formControlName="companyName"  class="form-control" required placeholder=" Position Name">
          <div *ngIf="form.controls['companyName'].invalid && (form.controls['companyName'].dirty || form.controls['companyNames'].touched)">
            <div *ngIf="form.controls['companyName'].errors?.['required']">Position Name is required.</div>
          </div>
        </div>

        <!-- <div>
          <input type="text" id="jobTitle" formControlName="jobTitle"  class="form-control" required placeholder="Designation">
          <div *ngIf="form.controls['jobTitle'].invalid && (form.controls['jobTitle'].dirty || form.controls['jobTitle'].touched)">
            <div *ngIf="form.controls['jobTitle'].errors?.['required']"> Designation is required.</div>
          </div>
        </div> -->

        <div>
          <!-- <label for="fName"> Name:</label> -->
          <textarea type="textarea" id="description" formControlName="description"  class="form-control " required placeholder=" Describe Your Role"></textarea>
          <div *ngIf="form.controls['description'].invalid && (form.controls['description'].dirty || form.controls['description'].touched)">
            <div *ngIf="form.controls['description'].errors?.['required']"> Job Role is required.</div>
          </div>
        </div>
        <!-- Add other form fields similarly -->
        <button type="submit" class="becobtn" [disabled]="form.invalid">Send Us</button>
      </form>
      

        <!-- <div class="col-xl-12 col-lg-12 col-12">
            <input class="form-control" id="name" type="text" placeholder="Name" data-sb-validations="required" />
            <div class="invalid-feedback" data-sb-feedback="name:required">Name is required.</div>
        </div>
        <br><br><br>
        
       

        <div class="row">
            <div class="col">
              <input class="form-control" id="emailAddress" type="email" placeholder="Offical Email" data-sb-validations="required, email" />
              <div class="invalid-feedback" data-sb-feedback="emailAddress:required">Email Address is required.</div>
              <div class="invalid-feedback" data-sb-feedback="emailAddress:email">Email Address Email is not valid.</div>
            </div>
            <div class="col">
              <input type="tel" id="phone" class="form-control" placeholder="Phone*" style="width:35pc;"/>

            </div>
          </div>
        <br><br><br>
        
        <div class="col-xl-12 col-lg-12 col-12">
            <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Position For Applied</option>
                  <option>Market Intelligence Analyst</option>
                  <option>Market Research Director</option>
                  <option>Graphics Designer</option>
                  <option>SEO Executive</option>
                  <option>Digital Marketing Executive</option>
                </select>
              </div>
        </div>

        <div class="col-xl-12 col-lg-12 col-12">
            <div class="form-group">
                <label for="exampleFormControlFile1">Choose File</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
              </div>
        </div>

        <button type="submit" class="becobtn btn-primary">Submit Application</button> -->

       
        
        
        
        
    </div>

 </div>
 <bR><br><br>
  
  <app-searchbar></app-searchbar>