<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" style="padding: 0;">
            <div class="blogimg">
                <h1 class="blg text-center">Podcasts</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
   <div class="row">
       <div class="col-sm-12" style="margin-top: 30px; margin-bottom: 15px;">
          <p class="text-center st">Podcasts</p>
            <h2 class="mt text-center">TechPods</h2>
        </div>
    </div>
</div>

 <div class="container">    
    <div class="row">   
       <!-- <div class="row g-3 mb-4 sp"> -->
          <div class="col-sm-6"> 
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/0LtTTXIHNbgu9zkwfFjUGM?utm_source=generator" width="83%" height="330" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
             <!-- <a href="https://open.spotify.com/episode/0LtTTXIHNbgu9zkwfFjUGM?si=cb150b3761c14db8&nd=1"></a> -->
        </div>
    <div class="col-sm-6">
        <h2 class="tit">The Significance of Strategic Market Research in Decision-making</h2>
        <p class="dec">This episode of our TechPod outlines the significance of data-driven research in a market with growing sophistication and complexity, the role of strategic research in robust decision-making and identifying technology trends, strategies for business organizations to use strategic research for maximizing ROI, and some insights on the implementation of strategic research.</p>
        <a href="https://open.spotify.com/episode/0LtTTXIHNbgu9zkwfFjUGM?si=cb150b3761c14db8"><button class="bt">Listen Now</button></a>
    </div>   
 </div>
</div>

<div class="container">    
    <div class="row">   
       <!-- <div class="row sp"> -->
          <div class="col-sm-6"> 
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/0Scms9TCzMRO42NLrfmD4j?utm_source=generator" width="83%" height="330" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
             <!-- <img class="img-fluid bg-white gms2" src="assets/Podcast.png" alt=""> -->
        </div>
    <div class="col-sm-6">
        <h2 class="tit">Leveraging Competitive Market Positioning </h2>
        <p class="dec">This episode of our TechPod by Quadrant Knowledge Solutions aims to shed light on leveraging competitive positioning in the market and how it can profoundly impact businesses. This episode lays out the core components of competitive positioning. Furthermore, this episode will discuss the use of tools such as the SPARK Matrix, and how they can be implemented in order to maximize the advantages of effective competitive positioning.</p>
        <a href="https://open.spotify.com/episode/0Scms9TCzMRO42NLrfmD4j?si=19bda2c1e0a44b22"><button class="bt">Listen Now</button></a>
    </div>   
 </div>
</div>

<div class="container">    
    <div class="row">   
       <!-- <div class="row sp"> -->
          <div class="col-sm-6"> 
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/72g5wilMWk511C4BCpddEj?utm_source=generator" width="83%" height="330" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
             <!-- <img class="img-fluid bg-white gms2" src="assets/Podcast.png" alt=""> -->
        </div>
    <div class="col-sm-6">
        <h2 class="tit">Emerging Workplace Trends</h2>
        <p class="dec">Welcome to another episode of TechPod, a Podcast by Quadrant Knowledge Solutions. Today's episode is dedicated to recognizing women in the workplace in honour of International Women's Day and their views on workplace trends. In this conversation about emerging trends that could affect the future of work and create more and better opportunities for employees, we discuss how technology dependency has increased now and has essentially changed the nature of the work we do.</p>
        <a href="https://open.spotify.com/episode/72g5wilMWk511C4BCpddEj?si=e916d3d083014f84"><button class="bt">Listen Now</button></a>
    </div>   
 </div>
</div>

<div class="container" style="margin-bottom: 50px;">    
    <div class="row">   
       <!-- <div class="row sp"> -->
          <div class="col-sm-6">
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/4IHWJ86SFEFTbzq2YvY6cO?utm_source=generator" width="83%" height="330" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe> 
             <!-- <img class="img-fluid bg-white gms2" src="assets/Podcast.png" alt=""> -->
        </div>
    <div class="col-sm-6">
        <h2 class="tit">Re-defining Customer Experience Over the Ages</h2>
        <p class="dec">Welcome to another episode of TechPod, a Podcast by Quadrant Knowledge Solutions. In this episode of TechPod Shinjini Sarkar engages in a conversation with Alan Pennington, Deputy Chairman, Suite CX who has spent years in this field. This discussion dives into the world of customer experience and its evolution over the ages, the use of social media in CX and more. Alan Pennington has spent years in this field and has some great insights to share with all of us.</p>
        <a href="https://open.spotify.com/episode/4IHWJ86SFEFTbzq2YvY6cO?si=ac63d581920949b8"><button class="bt">Listen Now</button></a>
    </div>   
 </div>
</div>
<app-searchbar></app-searchbar>