

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12" style="padding: 0">
      <div class="carimg">
        <h2 class="bect">Application Development</h2>
        <p class="appd">
          Application Development Services are vital for growing a company’s<br />
          reach while providing related and widespread exposure to the brand.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12" style="margin-top: 30px; margin-bottom: 15px">
      <p class="text-center st">Overview</p>
      <h2 class="mt text-center">Application Development</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <p class="dec">
        Application Development Services is now required for each online
        business. Mobile apps have changed the way we do business. Customers may
        now receive business information faster while also staying connected and
        up to date with their favourite brands and offers.<br /><br />
        A good application development environment enables a business to be
        adaptive through resilient designs, process change, and innovation. It
        gives a strong ROI, allowing IT investments to be justified. Businesses
        now rely significantly on technology to begin and finish customer
        transactions.<br /><br />
        Quadrant’s Application Development Services deliverable  uses a unique
        combination of services, including strategic technology research, market
        insights, Data Sheets, custom research & consulting, and analyst
        briefing sessions. Our experienced analysts’ team will help you
        understand the mega trends and emerging business opportunities for your
        specific industry sector.
      </p>
    </div>
    <div class="col-sm-6">
      <!-- <img class="img-fluid bg-white gms" src="assets/Marine_Thumbnail_2.png" alt=""> -->
      <iframe
        width="490"
        height="290"
        src="https://www.youtube.com/embed/RIlUXrr7KF0"
        title="TechTalk 15-  Low Code Application Development (LCAD)"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <!-- image slide -->
  <div
    class="container-fluid"
    id="heigincr"
    style="background-color: #eaeaea; margin-bottom: 45px; height: 375px"
  >
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <p class="text-center ti">Coverage</p>
      <h2 class="tit text-center">Technology Index</h2>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-lg-3 cd">
              <img src="assets/Low-Code.png" class="d-block im" alt="..." />
              <h3 class="ct">
                Low Code Application<br />
                Development Platform
              </h3>
            </div>
            <div class="col-lg-3 cd">
              <img
                src="assets/Continuous-Functional.png"
                class="d-block im"
                alt="..."
              />
              <h3 class="ct">
                Continuous Functional<br />
                Test Automation
              </h3>
            </div>
            <div class="col-lg-3 cd">
              <img
                src="assets/Agile-Content.png"
                class="d-block im"
                alt="..."
              />
              <h3 class="ct">Agile Content <br />Management System</h3>
            </div>
            <div class="col-lg-3 cd">
              <img src="assets/Workload.png" class="d-block im" alt="..." />
              <h3 class="ct">Workload <br />Automation</h3>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-lg-3 cd">
              <img src="assets/Value-Stream.png" class="d-block im" alt="..." />
              <h3 class="ct">Value Stream <br />Management</h3>
            </div>
            <div class="col-lg-3 cd">
              <img src="assets/API.png" class="d-block im" alt="..." />
              <h3 class="ct">
                API<br />
                Management
              </h3>
            </div>
            <div class="col-lg-3 cd">
              <img src="assets/Continuous.png" class="d-block im" alt="..." />
              <h3 class="ct">
                Continuous Delivery and <br />Release Automation
              </h3>
            </div>
            <div class="col-lg-3 cd">
              <img src="assets/Digital.png" class="d-block im" alt="..." />
              <h3 class="ct">
                Digital Adoption<br />
                Platform
              </h3>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="row">
            <div class="col-lg-3 cd">
              <!-- <img src="assets/Value-Stream.png" class="d-block im" alt="...">
                    <h3 class="ct">Value Stream <br>Management</h3> -->
            </div>
            <div class="col-lg-3 cd">
              <img src="assets/Automated.png" class="d-block im" alt="..." />
              <h3 class="ct">Automated Software <br />Testing Tools</h3>
            </div>
            <div class="col-lg-3 cd">
              <img src="assets/Functions.png" class="d-block im" alt="..." />
              <h3 class="ct">
                Functions<br />
                as a Service
              </h3>
            </div>
            <div class="col-lg-3 cd">
              <!-- <img src="assets/Digital.png" class="d-block im" alt="...">
                    <h3 class="ct">Digital Adoption<br> Platform</h3> -->
            </div>
          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleControls"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleControls"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12" style="margin-bottom: 80px">
      <p class="text-center st">Forms</p>
      <h2 class="mt text-center">User Survey Forms</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7">
      <div class="hver">
        <h3 class="urcp">
          End User Survey: Digital Adoption Platforms (DAPs), 2023
        </h3>
        <!-- <p class="qd">Quadrant Knowledge Solutions wants to gain key insights into your experience<br> in purchasing and implementing the Unified Retail Commerce Platform. We<br> request you provide your valuable feedback. The survey will take approximately<br> 9 minutes to complete.</p> -->
        <p class="qd">
          Quadrant Knowledge Solutions wants to gain key insights into your
          experience in purchasing and implementing the Digital Adoption
          Platform (DAP). We request you provide your valuable feedback. The
          survey will take approximately 10 minutes to complete.
        </p>
        <a
          href="https://forms.office.com/Pages/ResponsePage.aspx?id=kPVNv60_ZkqAHk05hU65sO0faHTqu-dHgCykWauralhUNlZHUk5DRkdDM0w2MDdRQldTVDRCNDdWRy4u&wdLOR=c23C7ED37-F7F1-495A-A811-3DF131B7DA0F"
          ><button class="amabtb">Fill the form</button></a
        >
      </div>
      <div class="box">
        <h3 class="urcp">End User Survey: Conversational AI platforms</h3>
        <p class="qd">
          Quadrant Knowledge Solutions wants to gain key insights into your
          experience in purchasing and implementing the Conversational AI
          Platform. We request you provide your valuable feedback. The survey
          will take approximately 10 minutes to complete.
        </p>
        <a
          href="https://forms.office.com/pages/responsepage.aspx?id=kPVNv60_ZkqAHk05hU65sGGF9MzmwsNDu584ZFOoKaNUNldENzg3U09SRVVTUjBVS0lKSEdRTEg0OC4u"
          ><button class="amabtb">Fill the form</button></a
        >
      </div>
    </div>
    <div class="col-md-5">
      <img
        class="img-fluid cus"
        src="assets/customer-satisfaction.png"
        alt=""
      />
    </div>
  </div>
  <!-- Spark card -->
  <div class="row">
    <div class="col-sm-12" style="margin-bottom: 10px">
      <p class="text-center st">Preview</p>
      <h2 class="mt text-center">SPARK Matrix</h2>
    </div>
  </div>

  <div class="container row" >
    <div class="col-sm-4 crd" *ngFor="let applicationData of latestApplicationData">
      <h2>{{applicationData.report}}</h2>
      <span><b>Author:</b>{{applicationData.author}}</span>
      <p>
        {{ getFormattedDescription(applicationData.description) | slice : 0 : 120
        }}{{ applicationData.description.length > 80 ? "..." : "" }}
      </p>
      <a href="/market-research/{{getUrlFriendlyString(applicationData.report)}}-{{applicationData.id}}"
        ><button class="spx">Read Now >></button></a
      >
    </div>
  </div>

  <!-- <div class="row" style="margin-bottom: 60px">
    <div class="col-md-4 crd">
      <h2>SPARK Matrix™: API Management, Q3 2023</h2>
      <span><b>Author:</b>Ipsita Chakrabarty</span>
      <p>
        Quadrant Knowledge Solutions defines API Management as “a platform that
        enables different applications or programmes to communicate with one
        another. API uses advanced technologies like artificial intelligence
        (AI), deep learning, machine learning...<a
          href="/market-research/spark-matrix-api-management-q3-2023-2932"
          style="text-decoration: none"
          >Read More</a
        >
      </p>
      <a href="/market-research/spark-matrix-api-management-q3-2023-2932"
        ><button class="spx">Read Now >></button></a
      >
    </div>
    <div class="col-md-4 crd">
      <h2>SPARK Matrix™: Software Composition Analysis, Q3 2023</h2>
      <span><b>Author:</b>Sitaparna Roy</span>
      <p>
        Quadrant Knowledge Solutions defines Software Composition Analysis as “a
        process that automates the process of analysing the inhouse applications
        throughout the application development process for security risks,
        vulnerabilities and potential...<a
          href="/market-research/spark-matrix-software-composition-analysis-q3-2023-2931"
          style="text-decoration: none"
          >Read More</a
        >
      </p>
      <a
        href="/market-research/spark-matrix-software-composition-analysis-q3-2023-2931"
        ><button class="spx">Read Now >></button></a
      >
    </div>
    <div class="col-md-4 crd">
      <h2>
        SPARK Matrix™: Customer Identity and Access Management (CIAM) Q1, 2023
      </h2>
      <span><b>Author:</b>Rohan Paul</span>
      <p>
        Quadrant Knowledge Solutions’ Customer Identity and Access Management
        market research includes a detailed analysis of the global market
        regarding short-term and long-term growth...
        <a
          href="/market-research/spark-matrix-customer-identity-and-access-management-ciam-q1-2023-2937"
          style="text-decoration: none"
          >Read More</a
        >
      </p>
      <a
        href="/market-research/spark-matrix-customer-identity-and-access-management-ciam-q1-2023-2937"
        ><button class="spx">Read Now >></button></a
      >
    </div>
  </div> -->
  <!-- spark card end --><br><br>
  <div class="row">
    <div class="col-sm-12" style="margin-bottom: 10px">
      <p class="text-center st">Market Insights</p>
      <h2 class="mt text-center">Technology spectrum</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7">
      <div class="hvr">
        <a
          href="/market-research/monetizing-apis-a-gateway-to-success-in-the-digital-economy-2658"
          style="text-decoration: none"
          ><h3 class="urcp">
            Monetizing APIs: A Gateway to Success in the Digital Economy
          </h3></a
        >
        <span><b>Author: </b>Ipsita Chakrabarty</span>
      </div>
      <div class="box1">
        <a
          href="/market-research/the-future-of-digital-asset-management-exploring-the-frontier-of-generative-ai-2843"
          style="text-decoration: none"
          ><h3 class="urcp">
            The Future of Digital Asset Management: Exploring the<br />Frontier
            of Generative AI
          </h3></a
        >
        <span><b>Author: </b>NA</span>
      </div>
      <div class="box1">
        <a
          href="/market-research/adoption-of-low-code-for-development-of-virtual-product-modelling-platform-2836"
          style="text-decoration: none"
          ><h3 class="urcp">
            Adoption of Low Code for Development of Virtual Product<br />Modelling
            Platform
          </h3></a
        >
        <span><b>Author: </b>NA</span>
      </div>
    </div>
    <div class="col-md-5">
      <img
        class="img-fluid mib"
        src="https://quadrant-solutions.com/wp-content/uploads/2023/09/Technology-Specturm.png"
        alt=""
        style="background: #000; border-radius: 10px"
      />
      <button type="submit" class="connbtn btn-primary">
        <a
          href="https://quadrant-solutions.com/market-research/digital-adoption-platforms-dap-assists-enterprises-in-improving-software-adoption-and-accelerating-their-digital-transformation-journey-1950"
          target="_blank"
          style="text-decoration: none; color: white"
          >Download Sample Report</a
        >
      </button>
    </div>
  </div>

  <!-- Trends card -->
  <div class="row">
    <div class="col-sm-12" style="margin-top: 50px">
      <p class="text-center st">Trends</p>
      <h2 class="mt text-center">Latest News & Insights</h2>
    </div>
  </div>
  <div class="row" style="margin-bottom: 60px">
    <div class="col-md-4 crd">
      <h2>API Economy: Past, Present and Future Perspectives</h2>
      <p>
        In today’s interconnected world, the era of organizations operating in
        isolation is rapidly fading. Instead, companies are realizing the
        benefits of collaboration, which enables them to unlock new business
        opportunities, gain a competitive edge...
      </p>
      <a href="/blogs/api-economy-past-present-and-future-perspectives--290"
        ><button class="spx">Read Now >></button></a
      >
    </div>
    <div class="col-md-4 crd">
      <h2>
        How Generative AI is transforming DAM and unlocking new possibilities
        for businesses.
      </h2>
      <p>
        In today's digital age, the creation and consumption of digital assets
        are growing at an unprecedented rate. From images and videos to audio
        files...
      </p>
      <a
        href="/blogs/how-generative-ai-is-transforming-dam-and-unlocking-new-possibilities-for-businesses--286"
        ><button class="spx">Read Now >></button></a
      >
    </div>
    <div class="col-md-4 crd">
      <h2>
        Acquia Unveils AI-Infused DAM System for Transforming Collaboration
        Through Creative Workflows
      </h2>
      <p>
        Acquia, a leading provider of digital experience platforms, has revealed
        its latest innovation in digital asset management (DAM) technology...
      </p>
      <a
        href="/blogs/acquia-unveils-ai-infused-dam-system-for-transforming-collaboration-through-creative-workflows-246"
        ><button class="spx">Read Now >></button></a
      >
    </div>
  </div>
  <!-- Trends card end -->

  <!-- FAQ start -->

  <!-- <div class="row re" style="margin-top: 60px;">
  <div class="col-sm-12">
    <p class="text-center st">FAQS</p>
          <h2 class="mt text-center">Questions? Look Here.</h2>
  </div>
 </div> -->
  <!-- <div class="row re" style="margin-bottom: 7%;">
  <div class="col-sm-12">
      <div class="accordion acc" id="accordionPanelsStayOpenExample">
          <div class="accordion-item" style="background-color: #DADADA;">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
              <button class="accordion-button btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne" style="background-color: #DADADA;">
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
              <div class="accordion-body">
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo.
              </div>
            </div>
          </div>
          <div class="accordion-item" style="background-color: #DADADA;">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
              <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo" style="background-color: #DADADA;">
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
              <div class="accordion-body">
                This is the second item's accordion body. It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the, though the transition does limit overflow.
              </div>
            </div>
          </div>
          <div class="accordion-item" style="background-color: #DADADA;">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
              <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree" style="background-color: #DADADA;">
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
              <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the, though the transition does limit overflow.
              </div>
            </div>
          </div>
          <div class="accordion-item" style="background-color: #DADADA;">
              <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour" style="background-color: #DADADA;">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr?
                </button>
              </h2>
              <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                <div class="accordion-body">
                  <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item" style="background-color: #DADADA;">
              <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive" style="background-color: #DADADA;">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr?
                </button>
              </h2>
              <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                <div class="accordion-body">
                  <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item" style="background-color: #DADADA;">
              <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix" style="background-color: #DADADA;">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr?
                </button>
              </h2>
              <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
                <div class="accordion-body">
                  <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the, though the transition does limit overflow.
                </div>
              </div>
            </div>
        </div>
  </div>

</div> -->
  <!-- FAQ end -->
</div>
<app-searchbar></app-searchbar>
