<div class="container-fluid">
    <div class="row" style="margin-bottom: -160px;">
        <div class="col-sm-12" style="padding: 0;">
            <div class="whaimg"></div>
                <h1 class="what">WHAO ASSESSMENT</h1>
                <p class="whadec">An objective evaluation done by third-party arbitrator that <br>offers an unbiased assessment of a vendor’s specific IT<br> product/solution/platform deployment. It helps decision<br> makers make informed choices based on information.</p>
                <!-- <button class="whabtn">Connect for a Demo  <p class="arr">></p></button>  -->
                <!-- <button class="whabtn"><a href="/contact-us" style="color:white;text-decoration: none;">Connect for a Demo  <p class="arr">></p></a></button>  -->
                <button class="whabtn" (click)="downloadForm('whao-assessment')"><a style="color:white;text-decoration: none;">Connect for a Demo  <p class="arr">></p></a></button> 


        </div>
      </div>
      <!-- Assessment start -->

      <div class="row">
        <div class="col-sm-12">
            <p class="text-center mr">Assessment</p>
            <h2 class="mr1 text-center">The WHAO Parameters</h2>
        </div>
      </div>
        
      <div class="row" style="margin-bottom: 100px;">
        <div class="col-md-6 lt">
            <div>
            <p class="exte">When talking about What, How and Why, here’s how an WHAO assessment is measured with following parameters in mind.</p>
            </div>
            <div class="cont">
            <div class="a1">
                <img class="img-fluid bg-white" src="assets/Tick_Dark.png" alt="" style="width: 7px;">
                <h3 class="det">Technical Competence- Specific Competencies</h3>
                </div>

                <div class="a1">
                    <img class="img-fluid bg-white" src="assets/Tick_Dark.png" alt="" style="width: 7px;">
                    <h3 class="det">Technical Competence- Add-ons/Differentiators</h3>
                    </div>

                    <div class="a1">
                        <img class="img-fluid bg-white" src="assets/Tick_Dark.png" alt="" style="width: 7px;">
                        <h3 class="det">Strategy</h3>
                    </div>
                    <div class="a1">
                        <img class="img-fluid bg-white" src="assets/Tick_Dark.png" alt="" style="width: 7px;">
                        <h3 class="det">Organizational Viability</h3>
                    </div>
                    <div class="a1">
                        <img class="img-fluid bg-white" src="assets/Tick_Dark.png" alt="" style="width: 7px;">
                        <h3 class="det">Customer Impact</h3>
                    </div>
                </div>
        </div>
        <div class="col-md-6">
            <!-- <img class="img-fluid bg-white thum" src="assets/WHAOpara.png" alt=""> -->
            
            <iframe width="550" height="345" src="https://www.youtube.com/embed/t53voSHm-Rs" title="The WHAO Vendor Assessment– Your Key to Unbiased IT Success" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <!-- <h4 class="make">MARINE Lens is an interactive tool<br> designed to highlight data at your<br> fingertips.</h4> -->
        </div>
      </div>
      

      <!-- assessment end -->

      <!-- whao process start -->

      <div class="row" style="margin-bottom: 10px;">
        <div class="col-sm-12">
            <p class="text-center mr">Workings</p>
            <h2 class="mr1 text-center">The WHAO Process</h2>
        </div>
      </div>
      <div class="row whp">
        <div class="col-sm-3">
            <img class="img-fluid bg-white pro" src="assets/Process.png" alt="">
            <h4 class="qks">QKS's stringent<br> research methodology <br>represents vendor's<br> based on:</h4>
            <p class="cap">• Capabilities <br>• Differentiators <br>• Market presence  <br>• Current and Future<br>&nbsp;&nbsp; Roadmap  <br>• Customer Adoption </p>
        </div>
        <div class="col-sm-3" id="topast">
            <img class="img-fluid bg-white pro" src="assets/Process2.png" alt="">
            <h4 class="qks">The analyst team at<br> QKS rates vendors<br> on:</h4>
            <p class="cap">• Detailed Analysis<br>• Inputs based on <br>&nbsp;&nbsp;Stakeholders</p>
        </div>
        <div class="col-sm-3" id="topast1">
            <img class="img-fluid bg-white pro" src="assets/Process.png" alt="">
            <h4 class="qks">Large dataset<br> collected from:</h4>
            <p class="cap">• Primary & Secondary <br>&nbsp;&nbsp;Analysis<br> • Sources taken from<br>&nbsp;&nbsp; - Executive Discussions <br>&nbsp;&nbsp;- Customer Case <br>&nbsp;&nbsp;- Studies <br>&nbsp;&nbsp;- Surveys <br>&nbsp;&nbsp;- Social Media</p>
        </div>
        <div class="col-sm-3" id="topast">
            <img class="img-fluid bg-white pro" src="assets/Process4.png" alt="">
            <h4 class="qks">Incorporated Data<br> for Final Scores from<br> QKS tools like:</h4>
            <p class="cap">• MARINE <br>• SPARK Matrix <br>• Numerous Customer <br>&nbsp;&nbsp;Interactions</p>
        </div>
      </div>      

      <!-- whao process end -->

      <!-- neelam Singh Strat -->

      <div class="row nee">
        <div class="col-sm-6" id="quote11">
            <img class="img-fluid qut" src="assets/Quote1.png" alt="">
            <h4 class="nlm">Unlock your true potential and propel your business forward with confidence and success with WHAO Assessment.</h4>
            <h3 class="nn">Neelam Singh</h3>
            <p class="pd">Practice Director,<br> Quadrant Knowledge Solutions Pvt. Ltd.</p>
        </div>
        <div class="col-sm-6" id="resass">
            <h3 class="att">The WHAO Formula of Attracting<br> End-Users</h3>
            <p class="rd"><a routerLink="/blogs/-the-whao-formula-of-attracting-end-users-253">Read Now >></a></p>
            <hr>
            <h3 class="at1">Why Vendor Rating Assessment is an<br> important Pre-Investment Criteria</h3>
            <p class="rd1"><a  routerLink="/blogs/why-vendor-rating-assessment-is-a-pre-investment-criterion-256">Read Now >></a></p>
            <hr class="hr1">
            <h3 class="at2">The WHAO effect: Decoding Vendor <br>Assessment</h3>
            <p class="rd2"><a  routerLink="/blogs/the-whao-effect-decoding-vendor-assessment-254">Read Now >></a></p>
        </div>

      </div>

      <!-- neelam Singh end -->

      <!-- The WHAO Effects -->

    <div class="row re diff" style="background: #0972EA;">
        <h2 class="siz">The WHAO Effects</h2>
      <div class="col-sm-3"  id="reswhao">
        <img  src="assets/VendorNeutral.png" class="pot">
  
        <p class="text-center eff">Vendor-Neutral <br>Objective Assessment</p>
      </div>
      <div class="col-sm-3" id="reswhao">
        <img src="assets/Strength.png" class="pot">
  
        <p class="text-center eff">Strength & Progress<br> Assessment</p>
      </div>
      <div class="col-sm-3" id="reswhao">
        <img src="assets/DeeperInsights.png" class="pot">
  
        <p class="text-center eff">Deeper Insights<br> into Offerings</p>
      </div>
      <div class="col-sm-3" id="reswhao">
        <img src="assets/ImprovedBrand.png" class="pot">
  
        <p class="text-center eff">Improved Brand Image<br> & Customer Loyalty</p>
      </div>
    </div>
  
  
  <!-- The WHAO Effects end-->

  <!-- FAQ start -->

  <div class="row" style="margin-top: 60px;">
    <div class="col-sm-12">
      <p class="text-center st">FAQS</p>
            <h2 class="mt text-center">Questions? Look Here.</h2>
    </div>
   </div>
  <div class="row re">
    <div class="col-sm-12">
        <div class="accordion acc" id="accordionPanelsStayOpenExample">
            <div class="accordion-item" style="background-color: #DADADA;">
              <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne" style="background-color: #DADADA;">
                  What is the Vendor WHAO Assessment?
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                  The Vendor WHAO Assessment is an objective evaluation conducted by QKS, an unbiased analyst firm. It provides a third-party vendor-neutral assessment of a vendor's specific IT product deployment, evaluating key parameters to identify strengths and improvement opportunities.                </div>
              </div>
            </div>
            <div class="accordion-item" style="background-color: #DADADA;">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo" style="background-color: #DADADA;">
                  Why should vendors consider the Vendor WHAO Assessment?
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                  The Vendor WHAO Assessment offers several benefits for vendors. It enhances their credibility through an independent validation of their strengths. It provides a competitive advantage, helps identify areas for improvement, and serves as a valuable marketing and sales tool.                </div>
              </div>
            </div>
            <div class="accordion-item" style="background-color: #DADADA;">
              <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree" style="background-color: #DADADA;">
                  How does the Vendor WHAO Assessment benefit end-users?
                </button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                  End-users can leverage the Vendor WHAO Assessment to gain an unbiased and objective assessment of vendors. It helps them evaluate if their investments are safe, understand a vendor's product roadmap, and make informed decisions when selecting IT solutions.                </div>
              </div>
            </div>
            <div class="accordion-item" style="background-color: #DADADA;">
                <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                  <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour" style="background-color: #DADADA;">
                    What parameters are evaluated in the Vendor WHAO Assessment?
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                  <div class="accordion-body">
                    The Vendor WHAO Assessment evaluates vendors based on parameters such as technical competence (specific competencies and addons/differentiators), strategy, organizational viability, and customer impact.                  </div>
                </div>
              </div>
              <div class="accordion-item" style="background-color: #DADADA;">
                <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                  <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive" style="background-color: #DADADA;">
                    How does QKS ensure the objectivity and credibility of the Vendor WHAO Assessment?
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                  <div class="accordion-body">
                    QKS is an unbiased analyst firm known for its neutrality and expertise. They follow a rigorous evaluation process, using established methodologies to ensure objectivity and credibility in their assessments.                  </div>
                </div>
              </div>
              <div class="accordion-item" style="background-color: #DADADA;">
                <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                  <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix" style="background-color: #DADADA;">
                    Can vendors use the Vendor WHAO Assessment in their marketing efforts?
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
                  <div class="accordion-body">
                    Yes, vendors can leverage the Vendor WHAO Assessment as a powerful marketing tool. The assessment report provides validation from a trusted third party, enhancing brand image, customer loyalty, and overall sales.                  </div>
                </div>
              </div>
              <div class="accordion-item" style="background-color: #DADADA;">
                <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
                  <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseSeven" style="background-color: #DADADA;">
                    Can end-users trust the Vendor WHAO Assessment to make informed decisions?
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSeven">
                  <div class="accordion-body">
                    Absolutely. The Vendor WHAO Assessment provides an unbiased and objective evaluation, giving end-users valuable insights to evaluate vendors and make informed decisions based on credible assessments.                </div>
              </div>
          </div>
          <div class="accordion-item" style="background-color: #DADADA;">
            <h2 class="accordion-header" id="panelsStayOpen-headingEight">
              <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false" aria-controls="panelsStayOpen-collapseEight" style="background-color: #DADADA;">
                How can vendors and end-users get started with the Vendor WHAO Assessment?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingEight">
              <div class="accordion-body">
                To get started, vendors and end-users can reach out to QKS <a href="#">Become a Client</a> discuss their specific IT product deployment. QKS will guide them through the evaluation process and provide the necessary information to initiate the assessment.          </div>
      </div>
    </div>
    <div class="accordion-item" style="background-color: #DADADA;">
      <h2 class="accordion-header" id="panelsStayOpen-headingNine">
        <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseNine" aria-expanded="false" aria-controls="panelsStayOpen-collapseNine" style="background-color: #DADADA;">
          Is the Vendor WHAO Assessment available for vendors and end-users worldwide?
        </button>
      </h2>
      <div id="panelsStayOpen-collapseNine" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingNine">
        <div class="accordion-body">
          Yes, the Vendor WHAO Assessment is available for vendors and end-users globally. QKS caters to clients from various regions and can conduct assessments for organizations regardless of their geographical location.      </div>
    </div>

  </div>
  <!-- FAQ end -->
</div>
<app-searchbar></app-searchbar>