.text-center.our {
    font-family: Arial Nova Bold;
    font-size: 36px;
  }
.tt{
  font-size: 36px;
  font-family: Arial Nova Bold;;
  color: #011F41;
}
  .pad{
    padding: 20px;
  }
  .container {
    overflow: hidden;
    .slider {
      animation: slidein 30s linear infinite;
      white-space: nowrap;
      .logos {
        // width: 100%;
        display: inline-block;
        margin: 0px 0;
        .fab {
          width: calc(100% / 7);
          animation: fade-in 0.5s 
            cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
        }
      }
    }
  }
  
  @keyframes slidein {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  


  @media screen and (max-width: 480px){

  

  }