
<!-- Our Clients-->
<!-- 
<div class="container">
    <h3 class="text-center our" ><b style="color:#0972EA!important;padding-bottom: 28px!important;">Our Clients</b></h3><Br>
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-sm-3">
        <img src="assets/Picture23.png" style="width:12pc;">
      </div>
      <div class="col-sm-3">
        <img src="assets/Picture3.png" style="width:12pc;">
      </div>
      <div class="col-sm-3">
        <img src="assets/Picture9.png" style="width:12pc;">
      </div>
      <div class="col-sm-3">
        <img src="assets/Picture17.png" style="width:12pc;">
      </div>
  
      </div>
     
     
    </div>
   -->
  
  <!--Our Clients-->

  <div class="container" style="padding-top: 40px;">
    <div class="row align-items-center">
      <div class="container rounded">
        <h3 class="text-center tt">Our Clients</h3>
        <div class="slider">
          <div class="logos">
            <img class="pad" src="assets/Picture21.png">
            <img class="pad"src="assets/Picture13.png">
            <img class="pad" src="assets/Picture21.png">
            <img class="pad"src="assets/PTC.png"> 
            <img class="pad"src="assets/radware.png"> 
            <img class="pad"src="assets/datamatics.png"> 
            <img class="pad"src="assets/korber.png"> 
           <img class="pad"src="assets/dialpad.png">  

            
          </div>
          <div class="logos">
            <img class="pad" src="assets/Picture21.png">
            <img class="pad" src="assets/Picture13.png">
             <img class="pad" src="assets/Picture21.png">
            <img class="pad" src="assets/PTC.png"> 
            <img class="pad"src="assets/radware.png"> 
            <img class="pad"src="assets/datamatics.png">
            <img class="pad"src="assets/dialpad.png"> 
            <img class="pad"src="assets/korber.png"> 

 

 
          </div>
        </div>
      </div>
    </div>
  
  </div>
  <br><br>