<!-- <p>about works!</p> -->
 <!-- <app-header></app-header>  -->
<!-- <div class="container-fluid" style="height: 50%; width: 100%; margin-top: 5%; margin-bottom: 5%;">
  <div class="mt-4 p-5 bg-primary text-white rounded">
    
    <marquee behavior="alternate">
      <p style="font-size: 60px;">Work in Progress. See you soon!</p>
    </marquee>
  </div>
</div> -->

<!-- <form (ngSubmit)="onSubmit()">
  <label> Name: <input type="text" [(ngModel)]="name" name="name" required>
  </label>
  <br>
  <label> Email: <input type="email" [(ngModel)]="email" name="email" required>
  </label>
  <br>
  <label> Password: <input type="password" [(ngModel)]="password" name="password" required>
  </label>
  <br>
  <button type="submit">Submit</button>
</form> -->



<form class="border border-dark">
  <div class="row">
      <div class="col text-center p-2 mb-3 bg-light">
          <span class="fs-3">Register</span>

      </div>

  </div>

  <div class="row">
      <div class="col">
          <label for="firstname" class="form-label">First Name</label>
          <input type="text" class="form-control" id="firstname">

      </div>

      <div class="col">
          <label for="lasname" class="form-label">Last Name</label>
          <input type="text" class="form-control" id="lasname" formControlName="lastname">

      </div>



  </div>
</form>

<!-- <app-footer></app-footer>  -->