.srch {
    width: 100%;
    border: none;
    border-bottom: 2px solid #00327A33;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 0px;
    outline: none;
}

.fa-search {
    font-size: 16px;
    position: relative;
    top: -30px;
    left: 185px;
    opacity: 70%;
}

.lt {
    width: 230px;
    height: 180px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 1px 1px 1px 1px #efefef;
    position: relative;
    left: 10px;
    top: 25px;
}

.a1 {
    color: #00327A;
    font-family: "Arial Nova";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    text-decoration: none;
}

.a2 {
    color: #00327A;
    font-family: "Arial Nova";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    text-decoration: none;
    position: relative;
    top: 20px;
}

.research-price {
    font-weight: bold;
    font-family: "Arial Nova";
}

.research-title {
    color: #00327A;
    font-family: "Arial Nova";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.research-category {
    position: relative;
    top: 5px;
    font-family: "Arial Nova";
    padding: 2px;
}

.research-description {
    margin-top: 10px;
    font-size: 14px;
    font-family: "Arial Nova";
}

.prc {
    color: #444343;
    font-family: "Arial Nova";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bn {
    display: flex;
    width: 85px;
    height: 30px;
    color: #FFF;
    font-family: "Arial Nova";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: linear-gradient(275deg, #4CD6B0 -6.18%, #00327A 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    top: 0px;
    left: 75px;
}

.im {
    position: relative;
    left: 90px;
    border: 1px solid #00327A;
    top: 5px;
    border-radius: 5px;
    padding: 0px 0px 0px 8px;
    width: 34px;
    height: 25px;
}

.im1 {
    position: relative;
    left: 95px;
    border: 1px solid #00327A;
    top: 5px;
    border-radius: 5px;
    padding: 0px 0px 0px 8px;
    width: 34px;
    height: 25px;
}

// .dec {
//     color: #444343;
//     text-align: justify;
//     font-family: "Arial Nova";
//     font-size: 14px;
//     font-style: normal;
//     font-weight: 400;
//     line-height: 20px;
// }
.mdl {
    height: 140px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 1px 1px 1px 1px #efefef;
    position: relative;
    left: 25px;
    top: 25px;
}

.cat {
    position: relative;
    left: -60px;
}

.rts {
    background: #ffffff;
    box-shadow: 1px 1px 1px 1px #efefef;
    padding-top: 20px;
    width: 20%;
    left: 30px;
    height: 280px;
    top: 25px;
}

.bt2 {

    border-radius: 5px;
    background: linear-gradient(92deg, #00327A -5.65%, #4CD6B0 152.05%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: "Arial Nova";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bt2 a {
    text-decoration: none;
    color: #fff;
}

a.fa-envelope-o {
    padding: 10px;
    text-decoration: none;
    margin: 5px;
}

a.fa-twitter {
    padding: 10px;
    text-decoration: none;
    margin: 5px;
}

.fa-facebook {
    padding: 10px;
    text-decoration: none;
    margin: 5px;
}

.fa.fa-youtube {
    padding: 10px;
    text-decoration: none;
    margin: 5px;
}

.fa.fa-instagram {
    padding: 10px;
    text-decoration: none;
    margin: 5px;
}

a.fa.fa-linkedin {
    padding: 10px;
    text-decoration: none;
    margin: 5px;

}

.fa {
    color: #011F41;
    border-radius: 15px;
    background-color: #E6EAEE;
}

.cu {
    color: #00327A;
    text-align: justify;
    font-family: "Arial Nova";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    margin: 0px 0px 0px 10px;
    position: relative;
    top: -14px;
}

.qs {
    color: #000;
    text-align: justify;
    font-family: "Arial Nova";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    margin-left: 10px;
}

.links {
    position: relative;
    top: 10px;
}

.fa-envelope-open-o {
    color: #00327A;
}

.bi-telephone {
    color: #00327A;
}