


    <div class="row">
        <div class="col-sm-12">
            <h1 class="ct"> TechnoNXT</h1>
            <!-- <p class="ct1"> Information You Can Trust</p> -->

            <p class="ct1">Continuous monitoring of the developments in<br> technology space to curate, analyze and objectively<br> report the updates with the right innovation signals<br> to IT leaders at one place</p>
            <h1 class="ct2" (click)="downloadForm('technonxt')"><span style="color:white;text-decoration: none;cursor:pointer;">Connect for a Demo<p class="arr">></p> </span> </h1>
              <!-- <button class="marbtn"><a href="/contact-us" style="color:white;text-decoration: none;">Connect for a Demo  <p class="arr">></p></a></button>   -->

            <!-- <button class="whabtn" (click)="downloadForm('spark-matrix')"><a style="color:white;text-decoration: none;">Connect for a Demo  <p class="arr">></p></a></button>  -->

            <!-- <button class="whabtn" (click)="downloadForm('spark-matrix')"><a style="color:white;text-decoration: none;">Connect for a Demo  <p class="arr">></p></a></button>  -->


            <!-- <img class="myimage1" src="assets/Redirect.png">  -->
            <div class="myimg">
                <img class="myimage" src="assets/TechnoNXT_Hero.png">
            </div>
            
        </div>
      </div>






<div class="jumbotron text-center padding" style="padding-top: 50px;background-color: white;">
    <h6 class="Featured"><b>Overview</b></h6>
    <h2 class="recent"><b style="color:#011F41;">Technology Monitoring</b></h2>
    
</div>

<div class="container">
    <div class="col-sm-12">
        <p style="font-family: Arial Nova;">Forget the hassle of spending hours going through hundreds of news and reports to<br> keep up with the latest development in the technology space.<br><br> With TechnoNXT, you get regular news and innovation signals from authentic sources<br> presented in the form of Current and NXT trends with analyzed reports.</p>
        <img class="techover" src="/assets/TechnoNXT_Overview.png" style="height: 25pc;"><br><br>
    </div>
</div>



<div class="container-fluid" style="background-color: #0972EA;padding-top: 30px;padding-bottom: 30px;">
    <div class="row">
      <div class="col-sm-6" style="padding-left: 80px;padding-top: 40px;">

        <h3 style="font-weight: 700;font-family: Arial Nova Bold;font-size: 30px;color:white;">NXT Connects</h3>
        <p style="color:white;font-family: Arial Nova;font-size: 16px;">NXT Connects are your regular personalized <br>briefings where every month, a dedicated QKS<br> expert briefs you on the developments, trends,<br> and signals in the technology space.</p>
       
      </div>
      <div class="col-sm-6">
           <img class="nxtconn" src="/assets/NXTConnects.png" style="border-radius: 10px;margin-top: -20px;height: 300px;height: 15pc;">

      </div>
    </div>
</div>




<div class="jumbotron text-center padding" style="padding-top: 50px;background-color: white;">
    <h6 class="Featured"><b>Highlights</b></h6>
    <h2 class="recent"><b style="color:#011F41;">Consulting Expertise</b></h2>
    
</div>

<div class="container">
    <div class="row">
        <p style="font-family: Arial Nova;font-size: 14px;">Beyond Technology Monitoring, the Ad-Hoc consulting with<br> TechnoNXT is dedicated to serving your purpose with the right<br> investigation as per your business needs.</p>

    </div>

</div>
  
  

<div class="container">
    <div class="row">
      <div class="col-sm-6" id="use" style="padding-left: 80px;">

        <h3 style="color:#0972EA;font-weight: 700;font-family: Arial Nova Bold;font-size: 20px;">Use-case Investigation</h3>
        <ul style="line-height: 30px;font-family: Arial Nova;font-size: 14px;">
            <li style="list-style-type: none;"> <img src="/assets/Tick_Dark.png" style="padding-right: 10px;width:1.2pc;">Target Industry and Region</li>
            <li style="list-style-type: none;"> <img src="/assets/Tick_Dark.png" style="padding-right: 10px;width:1.2pc;">Associated Companies & Technologies</li>
            <li style="list-style-type: none;"> <img src="/assets/Tick_Dark.png" style="padding-right: 10px;width:1.2pc;">Potential Target Audience</li>
            <li style="list-style-type: none;"> <img src="/assets/Tick_Dark.png" style="padding-right: 10px;width:1.2pc;">Process Flow & Improvement Factor</li>
            <li style="list-style-type: none;"> <img src="/assets/Tick_Dark.png" style="padding-right: 10px;width:1.2pc;">Concepts Utilised</li>
            <li style="list-style-type: none;"> <img src="/assets/Tick_Dark.png" style="padding-right: 10px;width:1.2pc;">Success Stories</li>


        </ul>
       
      </div>
      <div class="col-sm-6">
           <img class="usecase1" src="/assets/Usecase.png" style="border-radius: 10px;margin-top: -40px;">

      </div>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-sm-6" style="padding-left: 0px;padding-top: 40px;">

        <img class="usecase1" src="/assets/Company Profiles.png" style="border-radius: 10px;margin-top: -40px;">

       
       
      </div>
      <div class="col-sm-6" style="padding-top: 40px;">
        <h3 style="color:#0972EA;font-weight: 700;font-family: Arial Nova Bold;font-size: 20px;">Company Profiles Investigation</h3>

        <ul style="line-height: 30px;font-family: Arial Nova;font-size: 14px;">
            <li style="list-style-type: none;"> <img src="/assets/Tick_Dark.png" style="padding-right: 10px;width:1.2pc;">Authentic Company Metadata</li>
            <li style="list-style-type: none;"> <img src="/assets/Tick_Dark.png" style="padding-right: 10px;width:1.2pc;">Key Executives</li>
            <li style="list-style-type: none;"> <img src="/assets/Tick_Dark.png" style="padding-right: 10px;width:1.2pc;">Products Offered</li>
            <li style="list-style-type: none;"> <img src="/assets/Tick_Dark.png" style="padding-right: 10px;width:1.2pc;">Partnership Network</li>
            <li style="list-style-type: none;"> <img src="/assets/Tick_Dark.png" style="padding-right: 10px;width:1.2pc;">Concepts Utilised</li>
            <li style="list-style-type: none;"> <img src="/assets/Tick_Dark.png" style="padding-right: 10px;width:1.2pc;">Recent Activities</li>


        </ul>
      </div>
    </div>
</div>



<div class="jumbotron text-center padding" style="padding-top: 50px;background-color: white;">
    <h6 class="Featured"><b>Offerings</b></h6>
    <h2 class="recent"><b style="color:#011F41;">What TechnoNXT Offers</b></h2>
    
  </div>
  
  

<div class="container">
    <div class="row">
      <div class="col-sm-6">

        <ul style="line-height: 30px;font-family: Arial Nova;font-size: 14px;">
            <li style="list-style-type: none;"> <img src="/assets/Tick_Dark.png" style="padding-right: 10px;width:1.2pc;">Continuous Monitoring of the technology domain</li>
            <li style="list-style-type: none;"> <img src="/assets/Tick_Dark.png" style="padding-right: 10px;width:1.2pc;">New use cases and successful deployments across industries & regions</li>
            <li style="list-style-type: none;"> <img src="/assets/Tick_Dark.png" style="padding-right: 10px;width:1.2pc;">Updates on the recent investments & fundings</li>
            <li style="list-style-type: none;"> <img src="/assets/Tick_Dark.png" style="padding-right: 10px;width:1.2pc;">Current and future trend signals to plan strategies and technology roadmap</li>
            <li style="list-style-type: none;"> <img src="/assets/Tick_Dark.png" style="padding-right: 10px;width:1.2pc;">Suitable vendors identified for potential partnerships</li>
            <li style="list-style-type: none;"> <img src="/assets/Tick_Dark.png" style="padding-right: 10px;width:1.2pc;">Improved client connects with information on potential leads</li>


        </ul>
       
      </div>
      <div class="col-sm-6">
           <img class="usecase1" src="/assets/TechnoNXTMockupForUI.png" style="border-radius: 10px;margin-top: -40px;">

      </div>
    </div>
</div>

<div class="jumbotron text-center padding" style="padding-top: 50px;background-color: white;">
    <h6 class="Featured"><b>Deliverables</b></h6>
    <h2 class="recent"><b style="color:#011F41;">What TechnoNXT Delivers</b></h2>
    
  </div>
  


<div class="container" style="background-color: white;">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6" id="shadow" style="margin-right: 15px;" >
        <img class="techmob" src="/assets/EasyInformationNavigation.png" style="padding-left: 90px;padding-bottom: 20px;width:70%;">
        <h3 style="color:black;font-family: Arial Nova Bold;font-size: 18px;text-align: center;">Easy Information<br> Navigation</h3>
        <p style="color:black;font-family: Arial Nova;font-size: 16px;text-align:center;">Graphical categorization of<br> updates by region,<br> activities, vendors, and<br> industries.</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6"  id="shadow" style="margin-right: 15px;"> 
        <img class="techmob" src="/assets/ItIsNotJustNews.png" style="padding-left: 90px;padding-bottom: 20px;width:70%;">
        <h3 style="color:black;font-family: Arial Nova Bold;font-size: 18px;text-align: center;"> It Is <br>Not Just News</h3>
        <p style="color:black;font-family: Arial Nova;font-size: 16px;text-align:center;">Monthly NXT Report with analyst perspectives on all major developments.</p>

      </div>
      <div class="col-lg-3 col-md-6 col-sm-6"  id="shadow" style="margin-right: 15px;"> 

        <img class="techmob" src="/assets/NXT.png" style="padding-left: 90px;padding-bottom: 20px;width:70%;">
        <h3 style="color:black;font-family: Arial Nova Bold;font-size: 18px;text-align: center;"> NXT <br>Connects</h3>
        <p style="color:black;font-family: Arial Nova;font-size: 16px;text-align:center;">Monthly personalized<br> briefings by a dedicated <br>QKS expert.</p>

      </div>
      <div class="col-lg-3 col-md-6 col-sm-6"  id="shadow" > 

        <img class="techmob" src="/assets/Ad-hocConsulting.png" style="padding-left: 70px;padding-bottom: 35px;padding-top: 0px;width:70%;margin-top:-15px;">
        <h3 style="color:black;font-family: Arial Nova Bold;font-size: 18px;text-align: center;"> Ad-hoc<br> Consulting</h3>
        <p style="color:black;font-family: Arial Nova;font-size: 16px;text-align:center;">On demand expert <br>investigation of use cases <br>and company profiles.</p>

      </div>
    </div>
  </div>
<br><br>
<div class="container-fluid" style="background-color: #011F41;padding-top: 40px;padding-bottom: 40px;padding-left: 70px;">
    <img src="/assets/Quote1.png">
    <h3 style="color:#0972EA;font-size: 23px;font-weight: 700;line-height: 30px;padding-top: 25px;">TechnoNXT helps you keep up with<br> all the developments in the technology space<br> with regular updates on the key activities and innovations.</h3>

    <h4 style="color:white;font-family: Arial Nova Bold;font-size: 16px;">Vikrant Bhongle</h4>
    <p style="color:white;font-family: Arial Nova;font-size: 16px;margin-top: -10px;">Product Manager - TechnoNXT, <br>Quadrant Knowledge Solutions Pvt. Ltd.</p>
</div>




<div class="row" style="margin-top: 5%;">
    <div class="col-sm-12">
      <p class="text-center st">FAQS</p>
            <h2 class="mt text-center">Questions? Look Here.</h2>
    </div>
</div>
  <div class="row" style="margin-bottom: 5%;">
    <div class="col-sm-12">
        <div class="accordion acc" id="accordionPanelsStayOpenExample">
            <div class="accordion-item" style="background-color: #DADADA;">
              <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne" style="background-color: #DADADA;">
                  How does TechnoNXT leverage its research expertise to benefit its users? 
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                  TechnoNXT is a technology monitoring and consulting service that leverages its research expertise to benefit its users by staying at the forefront of technological advancements. TechnoNXT ensures that businesses are equipped with the knowledge and insights they need to thrive in the rapidly evolving tech landscape.
                </div>
              </div>
            </div>
            <div class="accordion-item" style="background-color: #DADADA;">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo" style="background-color: #DADADA;">
                  What is the purpose of "NXT Connect" within TechnoNXT?
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                  NXT Connects, a part of TechnoNXT, is a dedicated monthly briefing, where a team of specialized experts from QKS keeps you informed about the latest developments, trends, and signals shaping the tech industry.
                </div>
              </div>
            </div>
            <div class="accordion-item" style="background-color: #DADADA;">
              <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree" style="background-color: #DADADA;">
                  In what ways does TechnoNXT facilitate customized consulting? 
                </button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                  TechnoNXT offers tailored consulting services to its clients based on their specific needs and challenges. It can include impromptu sessions with technology experts who can analyze a client's goals and requirements and provide personalized strategies and solutions.
                </div>
              </div>
            </div>
            <div class="accordion-item" style="background-color: #DADADA;">
                <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                  <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour" style="background-color: #DADADA;">
                    How TechnoNXT utilizes Tech Monitoring to identify NXT signals?
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                  <div class="accordion-body">
                    TechnoNXT leverages its extensive research on emerging technologies, trends, and market insights to provide its users with up-to-date and valuable information.
                  </div>
                </div>
              </div>
              <div class="accordion-item" style="background-color: #DADADA;">
                <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                  <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive" style="background-color: #DADADA;">
                    What are the features and services included in a TechnoNXT subscription package?
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                  <div class="accordion-body">
                    The TechnoNXT subscription package offers regular updates of continuous technology monitoring with NXT Connects, offering monthly personalized briefings. It also provides customized research entailing company profiling, competitive analysis, use case investigation, ad-hoc business research & Consulting.
                  </div>
                </div>
              </div>
              <div class="accordion-item" style="background-color: #DADADA;">
                <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                  <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix" style="background-color: #DADADA;">
                    Which technology domains are covered by TechnoNXT? 
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
                  <div class="accordion-body">
                    TechnoNXT’s coverage extends to a wide spectrum of futuristic, emerging, advancing, and foundational technologies. From Quantum Computing, cloud, AI, connectivity, and IoT to cybersecurity and other cutting-edge domains, TechnoNXT keeps you well-informed on all fronts.                  </div>
                </div>
              </div>
          </div>
    </div>

  </div>
  <app-searchbar></app-searchbar>