

<!-- How We Are Different -->

<div class="jumbotron text-center" style="background: #0972EA 0% 0% no-repeat padding-box;padding-top:40px; border-radius: 0px;">
    <h2 class="siz" style="color:white;"><b>How  Are We Different?</b></h2>
  </div>
  
  <div class="container-fluid" style="background: #0972EA 0% 0% no-repeat padding-box;padding-bottom:40px;margin-top:-80px;padding-top:25px;">
    <div class="row">
      <div class="col-sm-3" id="mwid">
        <img class="md" src="assets/Granular_Data.png" style="width:8pc;margin-left:85px;">
  
        <p class="text-center Gran" style="color:white;"><b>Granular <br>Data</b></p>
      </div>
      <div class="col-sm-3" id="mwid">
        <img class="md" src="assets/Creditworthy_Proprietary_Tools.png" style="width:8pc;margin-left:85px;">
  
        <p class="text-center" style="color:white;"><b>Creditworthy <br>Proprietary Tools</b></p>
      </div>
      <div class="col-sm-3" id="mwid">
        <img class="md" src="assets/Tested_&_Refined_Methodologies.png" style="width:8pc;margin-left:85px;">
  
        <p class="text-center Gran" style="color:white;"><b>Tested & Refined<br> Methodologies</b> </p>
      </div>
      <div class="col-sm-3" id="mwid">
        <img class="md" src="assets/Tested_&_Refined_Methodologies.png" style="width:8pc;margin-left:85px;">
  
        <p class="text-center Gran" style="color:white;"><b>Real-time <br>Analysis</b></p>
      </div>
    </div>
  </div>
  
  <!-- How We Are Differnent-->
  
  