
<div class="container-fluid">
    <div class="row" id="spmot" style="margin-bottom: -200px;">
        <div class="col-sm-12" style="padding: 0;">
            <div class="whaimg"></div>
                <h1 class="what"> SPARK Matrix</h1>
                <p class="subheading">Strategic Performance Assessment and Ranking</p>
                <p class="whadec">A proprietary matrix for rank and positioning leading vendors in the global market highlighting the competitive landscape of key technology features and solutions.</p>
                <!-- <button class="whabtn"><a href="/contact-us" style="color:white;text-decoration: none;">Connect for a Demo  <p class="arr">></p></a></button>  -->
                <button class="whabtn" (click)="downloadForm('spark-matrix')"><a style="color:white;text-decoration: none;">Connect for a Demo  <p class="arr">></p></a></button> 

        </div>
      </div>
 </div>

<div class="jumbotron text-center padding" style="padding-top: 50px;background-color: white;">
    <h6 class="Featured"><b>Offerings</b></h6>
    <h2 class="recent"><b style="color:#011F41;">What SPARK Offers</b></h2>
    
</div>

<div class="container">
    <div class="row">
      <div class="col-sm-6">


        <ul style="line-height: 30px;font-family: Arial Nova;font-size: 14px;">
            <div class="inline">

           <img src="assets/Tick.png" style="padding-right: 10px;width:1.5pc;">
           <h3 style="color:black;font-family: Arial Nova;margin-left: 25px;margin-top:-30px;font-size: 18px;font-weight: 700;"><b>Scenario Based Planning</b></h3>
            <p class="left">Range of market drivers & inhibitors based on current market<br> dynamics, technology trends, vendor’s product roadmap, strategy<br> and industry inputs.</p>
            </div>

            <div class="inline">

                <img src="assets/Tick.png" style="padding-right: 10px;width:1.5pc;">
                <h3 style="color:black;font-family: Arial Nova;margin-left: 25px;margin-top:-30px;font-size: 18px;font-weight: 700;"><b>Visionary Innovation Framework</b></h3>
                 <p class="left">A framework that assist clients to identify future market demands<br> and needs based on current market and emerging trends.</p>
            </div>

            <div class="inline">

                <img src="assets/Tick.png" style="padding-right: 10px;width:1.5pc;">
                <h3 style="color:black;font-family: Arial Nova;margin-left: 25px;margin-top:-30px;font-size: 18px;font-weight: 700;"><b>Comprehensive Research Methodology</b></h3>
                 <p class="left">Market intelligence backed by extensive primary research to gain<br> perspective on market dynamic, trends, evolution and vendor assessment.</p>
            </div>

            <div class="inline">

                <img src="assets/Tick.png" style="padding-right: 10px;width:1.5pc;">
                <h3 style="color:black;font-family: Arial Nova;margin-left: 25px;margin-top:-30px;font-size: 18px;font-weight: 700;"><b>Strategic Knowledge Partner</b></h3>
                 <p class="left">Client’s extended office and team enabling them to achieve<br> transformational growth.</p>
            </div>

            <div class="inline">

                <img src="assets/Tick.png" style="padding-right: 10px;width:1.5pc;">
                <h3 style="color:black;font-family: Arial Nova;margin-left: 25px;margin-top:-30px;font-size: 18px;font-weight: 700;"><b>Our Primary USP</b></h3>
                 <p class="left">Take the Next Leap</p>
            </div>
           
            

        </ul>
       
      </div>
      <div class="col-sm-6">
        <img id="sparkmob" src="/assets/spark_1.png" style="border-radius: 10px;margin-top: -40px;width:100%;">

        <!-- <iframe width="550" height="345" src="https://www.youtube.com/embed/YdpfMM-r23Q" style="margin-left: 20px;">
        </iframe> -->
           <h3 style="color:#0972EA;text-align: center;font-weight:600;font-size: 18px;">Ignite the SPARK in<br> Your Business Transformation Journey</h3>
           <a href="#"><button class="bt"><a href="/contact-us" style="color:white;text-decoration: none;">Connect for a Demo</a></button></a>

      </div>
    </div>
</div>


<div class="jumbotron text-center padding" style="padding-top: 50px;background-color: white;">
    <h6 class="Featured"><b>Uses</b></h6>
    <h2 class="recent"><b style="color:#011F41;">Why SPARK is Your Correct Tool</b></h2>
    
  </div>
  


<div class="container" style="background-color: white;">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6" id="shadow" style="margin-right: 15px;" >
        <img src="/assets/Competitive.png" id="img" style="padding-left: 90px;padding-bottom: 20px;width:70%;">
        <h3 style="color:black;font-family: Arial Nova Bold;font-size: 18px;text-align: center;">Competitive Research on All Vendors Participating in SPARK Matrix Positioning</h3>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6"  id="shadow" style="margin-right: 15px;"> 
        <img src="/assets/Pinpoint.png" id="img" style="padding-left: 90px;padding-bottom: 20px;width:70%;">
        <h3 style="color:black;font-family: Arial Nova Bold;font-size: 18px;text-align: center;"> Pin-point Limitations to Gain Upper Hand over Targeted Customers</h3>

      </div>
      <div class="col-lg-3 col-md-6 col-sm-6"  id="shadow" style="margin-right: 15px;"> 

        <img src="/assets/Growth.png" id="img" style="padding-left: 90px;padding-bottom: 20px;width:70%;">
        <h3 style="color:black;font-family: Arial Nova Bold;font-size: 18px;text-align: center;"> Research on key Technology Features, Perspective, Target Market, and Growth.</h3>

      </div>
      <div class="col-lg-3 col-md-6 col-sm-6"  id="shadow" > 

        <img src="/assets/Roadmap.png" id="img" style="padding-left: 70px;padding-bottom: 35px;padding-top: 0px;width:70%;margin-top:-15px;">
        <h3 style="color:black;font-family: Arial Nova Bold;font-size: 18px;text-align: center;">Future Roadmap of All Vendors Including Their Geographical Presence.</h3>

      </div>
    </div>
  </div>

  <br><br>

  <div class="row" style="margin-top: 5%;">
    <div class="col-sm-12">
      <p class="text-center st">Workings</p>
            <h2 class="mt text-center">How SPARK Works</h2>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-sm-6">

        <p style="font-family: Arial Nova;font-size: 16px;color:black;" class="sp">SPARK offers an executive overview of the market with market dynamics and trends to gain a competitive edge over vendors positioned in SPARK Matrix. The SPARK Matrix positions global leaders based on</p>

        <ul style="line-height: 30px;font-family: Arial Nova;font-size: 14px;margin-top:30px;">
            <div class="inline">

           <img src="assets/Tick.png" style="padding-right: 10px;width:1.5pc;">
           <h3 style="color:black;font-family: Arial Nova;margin-left: 25px;margin-top:-30px;font-size: 18px;font-weight: 700;"><b>Technology Excellence</b></h3>
            <p class="left">Encompasses technology sophistication, differentiation strategy and vision roadmap.</p>
            </div>

            <div class="inline">

                <img src="assets/Tick.png" style="padding-right: 10px;width:1.5pc;">
                <h3 style="color:black;font-family: Arial Nova;margin-left: 25px;margin-top:-30px;font-size: 18px;font-weight: 700;"><b>Customer Impact</b></h3>
                 <p class="left">Rounds off on product strategy and customer service performance.</p>
            </div>
           
            

        </ul>
       
      </div>
      <div class="col-sm-6">
           <img id="sparkmob" src="/assets/spark_1.png" style="border-radius: 10px;margin-top: -40px;width:100%;">
           <h3 style="color:#0972EA;text-align: center;font-weight:600;font-size: 18px;">SPARK Matrix provides a snapshot of the<br> market positioning of the key market<br> participants.</h3>

      </div>
    </div>
</div>

  <div class="jumbotron text-center padding" style="background-color: #0972EA; padding-top: 50px;">
    <h2 class="recent"><b style="color:white;">How SPARK Differs</b></h2>
    
  </div>

  <div class="container-fluid" style="background-color: #0972EA;padding-bottom: 50px;">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6" >
        <img src="/assets/MarketTrends.png" style="padding-left: 90px;padding-bottom: 20px;width:40%;margin-left: 70px;">
        <h3 style="color:white;font-family: Arial Nova Bold;font-size: 18px;text-align: center;">Market Trends with <br>Competitive Landscape</h3>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6"> 
        <img src="/assets/SPARKMatrixGraph.png" style="padding-left: 90px;padding-bottom: 20px;width:40%;margin-left: 70px;">
        <h3 style="color:white;font-family: Arial Nova Bold;font-size: 18px;text-align: center;"> SPARK Matrix Graph with<br> Key Differentiating Factors</h3>

      </div>
      <div class="col-lg-4 col-md-6 col-sm-6"> 

        <img src="/assets/VendorProfile.png" style="padding-left: 90px;padding-bottom: 20px;width:40%;margin-left: 70px;">
        <h3 style="color:white;font-family: Arial Nova Bold;font-size: 18px;text-align: center;">Vendor Profile of all <br>those Positioned in SPARK Matrix</h3>

      </div>
      
    </div>
  </div>



<div class="row" style="margin-top: 5%;">
    <div class="col-sm-12">
      <p class="text-center st">FAQS</p>
            <h2 class="mt text-center">Questions? Look Here.</h2>
    </div>
</div>
  <div class="row" style="margin-bottom: 5%;">
    <div class="col-sm-12">
        <div class="accordion acc" id="accordionPanelsStayOpenExample">
            <div class="accordion-item" style="background-color: #DADADA;">
              <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne" style="background-color: #DADADA;">
                  What is the SPARK Matrix?
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                  Quadrant Knowledge Solutions’ SPARK Matrix is a tool that evaluates vendors based on technology excellence and customer impact. The SPARK Matrix report also consists of the market overview, key capabilities, differentiators, and vendor profiles.
                </div>
              </div>
            </div>
            <div class="accordion-item" style="background-color: #DADADA;">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo" style="background-color: #DADADA;">
                  What is the full form of SPARK?
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                  Strategically evaluating vendor’s performance and assisting in competitive positioning and ranking, the full form of SPARK stands for <strong>Strategic Performance Assessment & Ranking.</strong>                </div>
              </div>
            </div>
            <div class="accordion-item" style="background-color: #DADADA;">
              <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree" style="background-color: #DADADA;">
                  How is the SPARK Matrix beneficial to your organization? 
                </button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                  Quadrant Knowledge Solutions’ SPARK matrix tool assists vendors and end users in competitive positioning which helps them to stand out amongst their competitors and provides brand visibility for their business.                </div>
              </div>
            </div>
            <div class="accordion-item" style="background-color: #DADADA;">
                <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                  <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour" style="background-color: #DADADA;">
                    What are the regions covered?
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                  <div class="accordion-body">
                    Quadrant Knowledge Solutions’ SPARK matrix is a global tool encompassing regions like USA, Canada, Latin America, Western Europe, Central & Eastern Europe, Middle East & Africa, AxJC, Japan and China.                   </div>
                </div>
              </div>
              <div class="accordion-item" style="background-color: #DADADA;">
                <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                  <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive" style="background-color: #DADADA;">
                    What are the types of domains covered?
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                  <div class="accordion-body">
                    Quadrant Knowledge Solutions’ SPARK matrix tool covers 21 domains in total including - Application Development, BPM & Process Automation, CX and MarTech, Cloud Management, Communication & Collaboration, Data, Analytics, and AI, Data Management Service, Enterprise IT Services, Enterprise Architecture Planning, Financial Crime & Compliance, HRTech, Information Security, IT Infrastructure Networking, Integrated Risk Management, IoT & Digitalization, Procurement Management, Project & Portfolio Management, Privacy Data Management, Retail & eCommerce and lastly Supply Chain Management.                  </div>
                </div>
              </div>
              <div class="accordion-item" style="background-color: #DADADA;">
                <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                  <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix" style="background-color: #DADADA;">
                    Who can use the SPARK Matrix?
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
                  <div class="accordion-body">
                    Quadrant Knowledge Solutions’ SPARK Matrix Tool can be beneficial to ICT vendors and end users who are looking for strategic positioning of their business based on their technology excellence and customer impact in the marketplace.                   </div>
                </div>
              </div>
          </div>
    </div>

  </div>
  <app-searchbar></app-searchbar>