<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" style="padding: 0;">
            <div class="marimg"></div>
            <div class="row">
            <div class="col-sm-6">
                <h2 class="mart">MARINE</h2>
                <h1 class="mart1">Market Intelligence Epitome</h1>
                <p class="mardec">A unique database offering the most granular analysis<br> of the market encompassing historical and current facts<br> and future predictions.</p>
                <!-- <button class="marbtn">Connect for a Demo  <p class="arr">></p></button> -->
                <button class="marbtn" (click)="downloadForm('market-intelligence-epitome')"><a style="color:white;text-decoration: none;">Connect for a Demo  <p class="arr">></p></a></button> 

            </div>
            <div class="col-sm-6">
                <!-- <img class="img-fluid bg-white mr2" src="assets/Marine_Thumbnail.png" alt=""> -->
                <iframe class="img-fluid bg-white mr2" width="600" height="509" width="674" height="379" src="https://www.youtube.com/embed/ZwmMNNITZNs" title="MARINE - THE ONLY MARKET INTELLIGENCE TOOL YOU&#39;LL EVER NEED!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

            </div>
            </div>
        </div>
      </div>
<!--  Offerings start-->
      <div class="row re">
        <div class="col-sm-12">
            <p class="text-center mr">Offerings</p>
            <h2 class="mr1 text-center">What MARINE Offers</h2>
        </div>
      </div>

      <div class="row re">
        <div class="col-md-6 lt">
            <div>
            <img class="img-fluid bg-white" src="assets/Tick.png" alt="" style="width: 14px;">
            <h3 class="hol">Holistic Intelligence</h3>
            <p class="inte">10 years of market intelligence analysis with 5 years of historical and forecasted intelligence.</p>
            </div>
            
            <div class="p1">
                <img class="img-fluid bg-white" src="assets/Tick.png" alt="" style="width: 14px;">
                <h3 class="hol">Unmatched Competitive Analysis</h3>
                <p class="inte">Thorough and over 5 years of experience in historical and current year market share analysis to understand competitive positioning and its movement.</p>
                </div>

                <div class="p1">
                    <img class="img-fluid bg-white" src="assets/Tick.png" alt="" style="width: 14px;">
                    <h3 class="hol">Semi-Annual Updates</h3>
                    <p class="inte">Is updated semi-annually, providing semi-annual historical market size and market forecast analysis.</p>
                    </div>

                    <div class="p1">
                        <img class="img-fluid bg-white" src="assets/Tick.png" alt="" style="width: 14px;">
                        <h3 class="hol">Our Primary USP</h3>
                        <p class="inte">TRUST!</p>
                        </div>
        </div>
        <div class="col-md-6">
          <iframe id="ifrms" width="500" height="279" src="https://www.youtube.com/embed/FxYD3-3Gd3A?list=PLDSPwc6f5ZIghzjy0kc9OuZmc9OttYoNi" title="Market Intelligence Epitome - Take the Next Leap with MARINE!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <!-- <img class="img-fluid bg-white thum" src="assets/Marine_Thumbnailb.png" alt=""> -->
            <h4 class="make">The Ultimate Market Intelligence <br>Tool You'll Ever Need!  </h4>
            <!-- <button type="submit" class="connbtn btn-primary"><a href="/contact-us" style="color:white;text-decoration: none;">Connect for a Demo</a></button> -->
            <button  class="connbtn btn-primary"  (click)="downloadForm('market-intelligence-epitome')"><a style="color:white;text-decoration: none;padding-top:2px;">Connect for a Demo  <p class="arr">></p></a></button> 

        </div>
      </div>

      <!--  Offerings end-->

      <!-- Uses Start -->

      <div class="row re" id="usecases" style="margin-top: 40px;">
        <div class="col-sm-12">
            <p class="text-center mr">Uses</p>
            <h2 class="mr1 text-center">Why Should Leaders Use MARINE</h2>
        </div>
      </div>
      <div class="row re adj" id="whymarine" style="margin-top: 60px;">
        <div class="col-sm-3 col-md-3" id="box1">
            <div class="box">
                <img class="img-fluid bg-white use1" src="assets/Use1.png" alt="">
                <h4 class="eva">Evaluate<br> Short-term and <br>Long-term<br> Market Potential</h4>

            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="box">
                <img class="img-fluid bg-white use1" src="assets/Use2.png" alt="">
                <h4 class="eva">Uncover<br> Hidden Growth<br> Opportunities</h4>

            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="box">
                <img class="img-fluid bg-white use1" src="assets/Use3.png" alt="">
                <h4 class="eva">Benchmark<br> Performance<br> Against<br> Competitors</h4>

            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="box">
                <img class="img-fluid bg-white use1" src="assets/Use4.png" alt="">
                <h4 class="eva">Develop Targeted<br> Marketing <br>Strategies and <br>Pricing Models</h4>

            </div>
        </div>
      </div>
       <!-- Uses end -->

<!-- CTA Section -->


<!-- CTA -->
<div class="gradient-overlay-half-primary-v1" style="background-color: #0d6efd;">
  <div class="bg-img-hero" style="background-image: url(../assets/img/bg/bg2.png);">
    <div class="container-fluid">
      <div class="row align-items-lg-center text-center text-lg-left space-2">
        <div class="col-lg-7">
          <!-- <h2 class="text-white">Get started with Space</h2> -->
          <p class="lead text-white mb-0"><b>MARINE - The only Market Intelligence Tool You'll Ever
            Need!!!</b></p>
        </div>

        <div class="col-lg-5 text-lg-right">
          <!-- <a class="btn btn-purple mb-2 mb-sm-0 mr-sm-2" href="../html/pages/signup-simple.html">Create Free Account</a> -->
          <!-- <a class="btn btn-light mb-2 mb-sm-0" href="/marineform" target="_blank">Download Brouchure</a> -->
          <button mat-raised-button (click)="openPopUp()"> Download </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End CTA -->
      


       <!-- working start -->

       <div class="row re" id="marineworks" style="margin-top: 250px;">
        <div class="col-sm-12">
            <p class="text-center mr">Workings</p>
            <h2 class="mr1 text-center">How MARINE Works</h2>
        </div>
      </div>
        
      <div class="row re">
        <div class="col-md-6 lt">
            <div>
            <p class="exte">MARINE gives access to an extensive pool of data to help you make the right decisions guided by data-backed insights. MARINE also allows you to explore multiple tabs and filter the data across various parameters.</p>
            </div>
            <div class="cont">
            <div class="a1">
                <img class="img-fluid bg-white" src="assets/Tick_Dark.png" alt="" style="width: 7px;">
                <h3 class="det">Detailed View of Segmented Individual Vendors</h3>
                </div>

                <div class="a1">
                    <img class="img-fluid bg-white" src="assets/Tick_Dark.png" alt="" style="width: 7px;">
                    <h3 class="det">Individual Vendor Profiles with Use Cases</h3>
                    </div>

                    <div class="a1">
                        <img class="img-fluid bg-white" src="assets/Tick_Dark.png" alt="" style="width: 7px;">
                        <h3 class="det">Product And Services Level Offering List</h3>
                    </div>
                    <div class="a1">
                        <img class="img-fluid bg-white" src="assets/Tick_Dark.png" alt="" style="width: 7px;">
                        <h3 class="det">Segmented Individual Industry and Region</h3>
                    </div>
                    <div class="a1">
                        <img class="img-fluid bg-white" src="assets/Tick_Dark.png" alt="" style="width: 7px;">
                        <h3 class="det">Interactive Charts and Pivot Tables</h3>
                    </div>
                    <div class="a1">
                        <img class="img-fluid bg-white" src="assets/Tick_Dark.png" alt="" style="width: 7px;">
                        <h3 class="det">Customer Segmentation by Size, Industry and Business</h3>
                    </div>
                </div>
        </div>
        <div class="col-md-6">
            <img class="img-fluid bg-white thum" src="assets/Marine_Thumb.png" alt="">
            <h4 class="make1">MARINE Lens is an interactive tool<br> designed to highlight data at your<br> fingertips.</h4>
        </div>
      </div>
      

      <!-- working end -->

      <!-- Where MARINE Differs -->

    <div class="row re diff" style="background: #0972EA;">
        <h2 class="siz">Where MARINE Differs</h2>
      <div class="col-sm-3" id="restwo">
        <img  src="assets/Potential.png" class="pot">
  
        <p class="text-center Gran">Potential Return<br> on Investment</p>
      </div>
      <div class="col-sm-3" id="restwo">
        <img src="assets/Identify.png" class="pot">
  
        <p class="text-center Gran">Identify Growth <br>Opportunities</p>
      </div>
      <div class="col-sm-3" id="restwo">
        <img src="assets/MakeInformed.png" class="pot">
  
        <p class="text-center Gran">Make Informed<br> Strategic Decisions</p>
      </div>
      <div class="col-sm-3" id="restwo">
        <img src="assets/IdentifyPro.png" class="pot">
  
        <p class="text-center Gran">Identify Profitable<br> Markets</p>
      </div>
    </div>
  
  
  <!-- Where MARINE Differs end-->

  <!-- FAQ start -->

  <div class="row re" style="margin-top: 60px;">
    <div class="col-sm-12">
      <p class="text-center st">FAQS</p>
            <h2 class="mt text-center">Questions? Look Here.</h2>
    </div>
   </div>
  <div class="row re ree" style="margin-bottom: -10%;">
    <div class="col-sm-12">
        <div class="accordion acc" id="accordionPanelsStayOpenExample">
            <div class="accordion-item" style="background-color: #DADADA;">
              <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne" style="background-color: #DADADA;">
                  What is MARINE and what services does it offer?
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                  MARINE is a reliable market intelligence tool and the most powerful one in the market. It offers the most granular analysis of the market with a combined 10 years of market forecast and historical data.                 </div>
              </div>
            </div>
            <div class="accordion-item" style="background-color: #DADADA;">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo" style="background-color: #DADADA;">
                  Who is the intended user base for MARINE?
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                  MARINE is for organizations that are looking for reliable numbers from market intelligence. Whether evaluating potential return on investment, comparing performance against industry averages, making informed choices for mergers and acquisitions, identifying innovation and investment opportunities, or formulating robust strategic decisions, MARINE has you covered.                </div>
              </div>
            </div>
            <div class="accordion-item" style="background-color: #DADADA;">
              <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree" style="background-color: #DADADA;">
                  In what ways does MARINE distinguish itself from other similar platforms?
                </button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                  MARINE differs from its peers mainly due to its reliable numbers and trustworthy analysis and processes. Unmatched in its ability to provide the most granular market data, MARINE is exclusively tailored to help you make faster, more informed decisions that align precisely with your organization's needs.                </div>
              </div>
            </div>
            <div class="accordion-item" style="background-color: #DADADA;">
                <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                  <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour" style="background-color: #DADADA;">
                    How does MARINE establish its credibility as a reliable and trustworthy platform? 
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                  <div class="accordion-body">
                    MARINE strategizes to deliver and identify global growth opportunities with a detailed understanding of the current market state and direction. Providing detailed vendor profiles and a vast array of products and services segmented by industry and region, MARINE presents an extensive data pool to guide you towards well-informed decisions backed by data-driven insights.                  </div>
                </div>
              </div>
              <div class="accordion-item" style="background-color: #DADADA;">
                <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                  <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive" style="background-color: #DADADA;">
                    What are the benefits and advantages that organizations can gain by leveraging MARINE? 
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                  <div class="accordion-body">
                    MARINE provides trusted & detailed market analysis, including invaluable information on market share and forecasts. It assists organizations with providing tailored analysis of their target market segments and Unparalleled granularity across product markets, regions, industries, and customer segments. Its rigorous methodology and accurate forecasts are reviewed by our specialist team, incorporating a holistic approach incorporating market trends, economic factors, and end-user preferences.                   </div>
                </div>
              </div>
              <!-- <div class="accordion-item" style="background-color: #DADADA;">
                <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                  <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix" style="background-color: #DADADA;">
                      Lorem ipsum dolor sit amet, consetetur sadipscing elitr?
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
                  <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the, though the transition does limit overflow.
                  </div>
                </div>
              </div> -->
          </div>
    </div>

  </div>
  <!-- FAQ end -->

</div>
<app-searchbar></app-searchbar>
