
<nav class="navbar  navbar-expand-lg navbar-light bg-light">

  <div class="container-fluid no-backdrop">

    <a routerLink="/home"><img src="assets/QKS_Logo.png" alt="Logo" style="width: 8pc" /></a>

    <button class="navbar-toggler" id="hamburger-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
      aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>

    </button>

    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
      >
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <div class="offcanvas offcanvas-end no-backdrop" style="padding-left: 20px;" tabindex="-1" id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel">

      <div class="offcanvas-header ">

        <a routerLink="/home" data-bs-dismiss="offcanvas"><img class="mlt" src="assets/QKS_Logo_Dark_2.png" alt="Logo" style="width: 8pc" /></a>

        <button type="button" class="btn-close " style="font-size: 18px; padding: 2px;" data-bs-dismiss="offcanvas"
          aria-label="Close"></button>

      </div>

      <div class="offcanvas-body">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-links">

          <li class="nav-item">
            <a class="nav-link" routerLink="/about-us" data-bs-dismiss="offcanvas">About Us</a>
          </li>
  
          <li class="nav-item form-select">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false"> Curated Offerings</a>
  
            <div class="mega-box">
              <div class="content1">
                <div class="main">
                  <p><b>Services</b></p>
                  <ul class="mega-links mit1">
  
                    <li>
                      <a routerLink="/content-strategy-services"  data-bs-dismiss="offcanvas">
                        Content Strategy Services
                      </a>
                    </li>
  
                    <li>
                      <a routerLink="/advisoryservices"  data-bs-dismiss="offcanvas">
                        Quadrant Advisory Services
                      </a>
                    </li>
                    <li>
                      <a routerLink="/technonxt"  data-bs-dismiss="offcanvas">
                        TechnoNXT
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="main1">
                  <p><b>Tools</b></p>
                  <ul class="mega-links ml1">
                    <li>
                      <a routerLink="/marine-market-intelligence-epitome"  data-bs-dismiss="offcanvas">
                        MARINE
                      </a>
                    </li>
                    <li>
                      <a routerLink="/roi-benchmark-report"  data-bs-dismiss="offcanvas">
                        ROI Benchmark
                      </a>
                    </li>
                    <li>
                      <a routerLink="/whao-assessment"  data-bs-dismiss="offcanvas">
                        WHAO Assessment
                      </a>
                    </li>
                    <li>
                      <a routerLink="/report_type/spark-matrix" data-bs-dismiss="offcanvas">
                        SPARK Matrix
                      </a>
                    </li>
  
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item form-select">
            <a class="nav-link">Insights</a>
            <div class="mega-box">
              <div class="content">
                <div class="main">
                  <p>Featured</p>
                  <ul class="mega-links mit">
                    <b>Thought Leadership</b>
                    <li>
                      <a href="#">
                        Market Insights
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        Strategy Reports
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        User Survey Reports
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        Webinar
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        SPARK Matrix
                      </a>
                    </li>
                    <br>
                    <b>Market Intelligence</b>
                    <li>
                      <a href="#">
                        Market Forecast
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        Market Share
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="main">
                  <ul class="mega-links ml">
                    <li>
                      <a routerLink="domains/application-development" data-bs-dismiss="offcanvas">
                        Application Development
                      </a>
                    </li>
                    <li>
                      <a routerLink="domains/banking-and-financial-services" data-bs-dismiss="offcanvas">
                        Banking & Financial Services
                      </a>
                    </li>
                    <li>
                      <a routerLink="domains/business-process-management-automation" data-bs-dismiss="offcanvas">
                        BPM & Process Automation
                      </a>
                    </li>
                    <li>
                      <a routerLink="domains/cloud-management" data-bs-dismiss="offcanvas">
                        Cloud Management
                      </a>
                    </li>
                    <li>
                      <a routerLink="domains/communication-collaboration" data-bs-dismiss="offcanvas">
                        Communication & Collaboration
                      </a>
                    </li>
                    <li>
                      <a routerLink="domains/cx-and-martech" data-bs-dismiss="offcanvas">
                        CX and MarTech
                      </a>
                    </li>
                    <li>
                      <a routerLink="domains/data-analytics-and-artificial-intelligence" data-bs-dismiss="offcanvas">
                        Data, Analytics, and AI
                      </a>
                    </li>
                    <li>
                      <a routerLink="domains/data-management-service" data-bs-dismiss="offcanvas">
                        Data Management Service
                      </a>
                    </li>
                    <li>
                      <a routerLink="domains/enterprise-architecture-planning" data-bs-dismiss="offcanvas">
                        Enterprise Architecture Planning
                      </a>
                    </li>
                    <li>
                      <a routerLink="domains/enterprise-it-services" data-bs-dismiss="offcanvas">
                        Enterprise IT Services
                      </a>
                    </li>
                    <li>
                      <a routerLink="domains/financial-crime-and-compliance" data-bs-dismiss="offcanvas">
                        Financial Crime & Compliance
                      </a>
                    </li>
  
                  </ul>
                </div>
                <div class="main">
                  <p>Domain</p>
                  <ul class="mega-links mld">
                    <li>
                      <a routerLink="domains/hrtech" data-bs-dismiss="offcanvas">
                        HRTech
                      </a>
                    </li>
                    <li>
                      <a routerLink="domains/information-security" data-bs-dismiss="offcanvas">
                        Information Security
                      </a>
                    </li>
                    <li>
                      <a routerLink="domains/integrated-risk-management" data-bs-dismiss="offcanvas">
                        Integrated Risk Management
                      </a>
                    </li>
                    <li>
                      <a routerLink="domains/internet-of-things-and-digitization" data-bs-dismiss="offcanvas">
                        IoT & Digitalization
                      </a>
                    </li>
                    <li>
                      <a routerLink="domains/it-infrastructure-and-networking" data-bs-dismiss="offcanvas">
                        IT Infrastructure & Networking
                      </a>
                    </li>
                    <li>
                      <a routerLink="domains/privacy-data-management" data-bs-dismiss="offcanvas">
                        Privacy Data Management
                      </a>
                    </li>
                    <li>
                      <a routerLink="domains/procurement-management" data-bs-dismiss="offcanvas">
                        Procurement Management
                      </a>
                    </li>
                    <li>
                      <a routerLink="domains/project-and-portfolio-management" data-bs-dismiss="offcanvas">
                        Project & Portfolio Management
                      </a>
                    </li>
                    <li>
                      <a routerLink="domains/retail-and-ecommerce" data-bs-dismiss="offcanvas">
                        Retail & eCommerce
                      </a>
                    </li>
                    <li>
                      <a routerLink="domains/supply-chain-management" data-bs-dismiss="offcanvas">
                        Supply Chain Management
                      </a>
                    </li>
  
                  </ul>
                </div>
              </div>
  
            </div>
            <!-- mega menu end -->
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" routerLink="/market-research" data-bs-dismiss="offcanvas">Research</a> -->
            <a class="nav-link" routerLink="/research" data-bs-dismiss="offcanvas">Research</a>

          </li>
  
          <li class="nav-item dropdown form-select">
            <span class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Resources
            </span>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
  
              <li>
                <a class="dropdown-item" routerLink="/blogs" data-bs-dismiss="offcanvas">
                  Blogs</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/press-release" data-bs-dismiss="offcanvas">
                  Newsroom</a>
              </li>
              <li>
                <!-- <a class="dropdown-item" routerLink="/"> Newsletter</a> -->
              </li>
  
              <li>
                <a class="dropdown-item" routerLink="/video-gallery" data-bs-dismiss="offcanvas">Videos</a>
              </li>
  
              <li>
                <a class="dropdown-item" routerLink="/podcasts" data-bs-dismiss="offcanvas"> Podcasts</a>
              </li>
            </ul>
          </li>
        </ul>
        <a class="btn btn-primary mtt" role="button" routerLink="/become-a-client" data-bs-dismiss="offcanvas" style="margin-right: 10px">Become a Client</a>
        <a class="btn btn-primary mtt" role="button" routerLink="/talk-to-analyst" data-bs-dismiss="offcanvas" >Talk to Analyst</a>

        <!-- <form class="d-flex mt-3" role="search">

          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">

          <button class="btn btn-success" type="submit">Search</button>

        </form> -->

      </div>

    </div>

  </div>

</nav>