

<div class="row" style="padding-bottom: 3%;margin-top:-33px;">
    <div class="col-sm-12">
        <h1 class="ct">Cookie Policy</h1>
        <div class="myimg">
          <img class="myimage" src="assets/contact_banner.png">
        </div>
        
    </div>
  </div>

  <div class="container">
    <div class="col-sm-12" style="color:black; font-family: Arial Nova;font-size: 16px;">
        <p >At QUADRANT KNOWLEDGE SOLUTIONS PVT LTD (QKSPL), we value your privacy and are committed to transparency in our use of technology. This Cookie Policy explains how and why Cookies may be stored on and accessed from your device when you use or visit any of our Sites. We encourage you to read this policy carefully before using our Site, and to also review our Privacy Policy and Terms of Use for a complete understanding of our policies.
        </p>

        <p>
           <b>  By clicking “Accept” on the Cookie banner, you consent to us storing and accessing Cookies and Other Tracking Technologies as described in this Cookie Policy, in accordance with our commitment to transparency and respect for your privacy.</b><bR>

Please note that this Cookie Policy should be read in conjunction with our Privacy Policy and Terms of Use.
        </p>

        <p><b>Curious about Cookies? </b></p>
        <p>Cookies are small text files that web servers send to web browsers, and which may be sent back to the server each time the browser requests a page. These files often include unique identifiers and are very useful in allowing internet sites to recognize you, log your visits to specific pages, and provide a secure connection. Additionally, Cookies can enhance your user experience by improving browsing comfort and adapting page content to your areas of interest.

        </p>
        <p><b>Would you like to know how our Site uses Cookies?</b></p>
        <p>We may use information collected from our Cookies to identify user behaviour and to serve content and offers based on your profile, and to enhance the convenience of the users of our Site. <br><br>

        Here is some information about the types of Cookies used on our Site:<bR><bR>
        We have provided details of the types of Cookies that are used on our Site as well as other relevant and useful information on the Cookies. You can also find more information on the Cookies when you click the pop-up window “Cookie Preferences”.</p>
        <p><b>Technical Cookies:</b></p>
        <p>These Cookies are necessary for you to navigate our Site and use its features. They also allow our Site to remember your previous actions within the same browsing session.

        </p>
        <p><b>Analytical Cookies: </b></p>
        <p>These Cookies help us analyse how our Site is used and how it performs. For example, we use Cookies to determine which country you are in when you request a service to help personalize the content based on your location. We also use Cookies from Google Analytics, SiTest, and Docodoco-jp to obtain web analytics and intelligence about our Site. These tools collect information about your interaction with our Site, such as the pages you visit, the links you click on, and how long you stay on our Site. However, they do not store any personally identifiable information.

        </p>
        <p><b>Functionality Cookies:</b></p>
        <p>These Cookies enable us to provide a better user experience by remembering your preferences and delivering personalized features. They collect information such as your language preference and region. This Cookie is automatically disabled and can be configured to your preferences.<br><br>
        We may use the information collected from our Cookies to identify user behaviour, serve content and offers based on your profile, and enhance the convenience of our Site’s users.  Please note that we will use these types of cookies for a period of 12 months.</p>
        <p><b>Advertising and Retargeting Cookies: </b></p>
        <p>Our Site uses Advertising and Retargeting Cookies that save information from your browsing history to record your interests and browsing path. These Cookies enable us and our selected partners to personalize our website, deliver advertisements to you, or contact you directly based on your interests. For instance, we use Google remarketing tags to allow our retail partners to advertise products you have browsed on our website. Without these Cookies, the online advertisements you encounter will be less relevant to you.<br><bR>
         We may use and combine your Cookie data with the information we collect from other sources to provide you with a better experience, such as more relevant direct marketing (with your separate consent). Please note that we will use these types of Cookies for a period of 12 months.</p>
         <p><b>How do I refuse or withdraw my consent to the use of cookies? </b></p>
         To refuse or withdraw your consent to the use of Cookies, we suggest setting your preferences regarding these types of Cookies. You can also update your browser settings to remove or block Cookies from your device. However, rejecting Cookies may affect your ability to perform certain transactions on the website, and our ability to recognize your browser from one visit to the next.<br><br>
        You can select the types of Cookies our Site uses by clicking “COOKIE PREFERENCES” at the bottom of each webpage. You can change your preferences or withdraw your consent at any time. If you wish to remove previously stored Cookies, you can manually delete them at any time. However, this will not prevent our Site from placing further Cookies on your device unless you adjust your “Cookie Preferences” choice as described above.<br><br>
        <p><b>Contact Details </b></p>
        <p>If you have any other questions or comments about our Cookie Policy, please contact us:<a href="https://quadrant-solutions.com/" target="_blank">Quadrant Knowledge Solutions</a>  Private Limited.

        </p><br><br>
    </div>

  </div>
  <div #topElement></div>

  <app-searchbar></app-searchbar>

