


<div id="customAlert" class="alert" [ngClass]="{'success': alertType === 'Success', 'failed': alertType === 'Failed'}">
    
</div>

<div *ngIf="isLoading">
  <br><br><br><br><br><br><br><br>
  <div class="loading-spinner" style="width: 80px; height: 80px;">
      <!-- <div class="logo-pre">
          <img src="../../../../assets/lg.gif" alt="Logo" class="img-fluid" height="40px;width:40px;">
      </div> -->
  </div>
  <br><br><br><br><br><br><br><br>
</div>

<div id="overlay" *ngIf="showOverlay"></div>
<div class="container-fluid heading" id="breadcrumbpr" *ngIf="!isLoading">
  <!-- <h1 class="prtitle">{{ researchMaster.blogTitle }}</h1> -->
  <div class="breadcrumbs">
    <a routerLink='/blogs' style="color: #fff;font-size: 14px;">Blogs > </a><span style="color:#0972EA;font-size: 14px;">{{this.researchMaster.blogTitle}}</span>
  </div>
  <!-- <p class="date"><strong>Publish Date : </strong>{{ researchMaster.postDate | date: 'dd-MM-yyyy' }}</p> -->
</div>
<!-- <div class="container-fluid heading row" id="breadcrumbpr">
  <h1  class="prtitle">{{ researchMaster.blogTitle }}</h1>
  <p  class="date"><strong>Publish Date : </strong>{{ researchMaster.postDate | date: 'dd-MM-yyyy' }}</p>
</div> -->

<div class="container-fluid" *ngIf="!isLoading">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 sec">
      <div class="research-details" style="margin-bottom: 20px;">
      <div class="details-actions">
       
        <!-- <button class="btn btn-success bt2" >Download Sample Report</button> -->
        
      </div>
    </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <!-- <div class="col-md-2" id="searsing" style="background-color: #eaeaea;padding-top:20px;width:20%;left: 15px;height: 200px;">
      <div class="input-group">
        <input class="form-control border-end-0 border" type="search" value="search" id="example-search-input">
        <span class="input-group-append">
            <button class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border ms-n5" type="button">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
      <button class="marbtn">Connect with Our<br> Analyst  <p class="arr">></p></button>
      <button class="marbtn1">Connect with Our<br> Service Partner  <p class="arr1">></p></button>
      
  </div> -->
    <div class="col-md-8" id="prdata">

      <div class="research-details" style="margin-bottom: 20px;">
        <div class="details-header"><br><br>
          <h1  class="prtitle1">{{ researchMaster.blogTitle }}</h1>
          <p  class="date"><strong>Publish Date : </strong>{{ researchMaster.postDate | date: 'dd-MM-yyyy' }}</p>


          <div class="col-md-12"><img class="rep" src={{researchMaster.postImgPath}} style="width:700px; height:400px;"></div><Br><br>
          <!-- <div class="col-md-12 research image"><img src={{research.postImgPath}}
            style="height: 200px;"></div> -->

          <!-- <p><strong>Category:</strong> {{ researchMaster.postCategory }}</p>
          <p><strong>Report Type:</strong> {{ researchMaster.postType }}</p> -->
          <!-- <p><strong>Price:</strong> {{ researchMaster.price }} USD</p> -->
        </div>
        <div class="details-description">
          <!-- <p><strong>Description:</strong></p> -->
          <div class="description" [innerHTML]="researchMaster.postContent"></div>
        </div>
        
      </div>

    </div>
    <div class="col-md-4" id="singlistres" style="background-color: #eaeaea;padding-top:20px;width:20%;left: -15px;height: 430px;">
      <button class="btn btn-success bt3" (click)="downloadForm(researchMaster)">Download Sample Report</button>
      <p class="links"><a href="#" class="fa fa-envelope-o"></a><a href="https://www.linkedin.com/company/quadrant-knowledge-solutions/" target="_blank" class="fa fa-linkedin"></a>
        <a href="https://twitter.com/QKS_Quadrant" target="_blank" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-facebook"></a>
    </p>
            <h3 class="question" style="margin-left: 12px;">Questions</h3>
        <hr>
        <p style="margin-left: 12px;">For more information, please contact your account manager:</p>
        <h4 class="question" style="margin-left: 12px;">Quadrant Sales</h4>
        <p style="margin-left: 12px;">Phone:<a style="color:black;list-style-type: none;text-decoration: none;" href="tel:(+1) 978-344-2770 ">(+1) 978-344-2770 </a> 
          <br>Email: <a href="mailto:ajinkya@quadrant-solutions.com" style="color:black;list-style-type: none;text-decoration: none;">ajinkya@quadrant-solutions.com</a></p>
        <h2 style="margin-left: 12px;">Need a brief overview?</h2>
        <b style="color:#0972EA;margin-left: 12px;"><a href="/contact-us" style="text-decoration: none;">Enquire Now</a></b>
  </div>
  </div>
</div>

<!-- <div class="research-details" style="margin-bottom: 20px;">
  <div class="details-header">
    
    <p><strong>Category:</strong> {{ researchMaster.categoryName }}</p>
    <p><strong>Report Type:</strong> {{ researchMaster.reportType }}</p>
    <p><strong>Price:</strong> {{ researchMaster.price }} USD</p>
  </div>
  <div class="details-description">
    <p><strong>Description:</strong></p>
    <div class="description" [innerHTML]="researchMaster.description"></div>
  </div>
  <div class="details-actions">

    
    
    <button class="btn btn-primary" (click)="addToCart(researchMaster)">Add to Cart</button>
    <button class="btn btn-success" (click)="buyNow(researchMaster)">Buy Now</button>
  </div>
</div> -->

<br><br>
<app-searchbar></app-searchbar>

