<div class="row" style="padding-bottom: 3%;margin-top:-33px;">
    <div class="col-sm-12">
        <h1 class="ct">Returns & Refund Policy</h1>
        <div class="myimg">
          <img class="myimage" src="assets/contact_banner.png">
        </div>
        
    </div>
  </div>



  <div class="container">
    <div class="col-sm-12" style="font-family: Arial Nova;font-size: 16px;">
     <p>Thank you for engaging at <a href="https://quadrant-solutions.com/" target="_blank">quadrant-solutions.com</a> (“Website”).</p>
     
<p>If, for any reason, you are not completely satisfied with a purchase we invite you to review our policy on refunds and returns. </p>
     <p>The following terms are applicable for any products that You purchased with Us.</p>
     
     <b>Interpretation and Definitions</b><br><br>
     <b>Interpretation</b><br><Br>

<p>The words of which the initial letter is capitalized have meanings defined under the following conditions. The following definitions shall have the same meaning regardless of whether they appear in singular or in plural. </p>
        <p>For the purposes of this Return and Refund Policy:</p>
        <ul>
            <li>Company (referred to as either “the Company”, “We”, “Us” or “Our” in this Agreement) refers to Quadrant Knowledge Solutions Private Limited (“Quadrant Knowledge”).</li>

        <li>Goods refer to the items offered for sale on the Website.</li>
        <li>Orders mean a request by You to purchase Goods and Services from Us.</li>
        <li>Service refers to the services offered for sale on the Website.</li>
        <li>Website refers to <a href="https://quadrant-solutions.com/" target="_blank">https://quadrant-solutions.com/</a></li>
        </ul>
          

        <b>Refund or Returns </b><br><Br>

          <p>Payment cannot be refunded or returned once made, however, in the event of any uncertainty, please contact our sales representatives before making any payment. </p>

          <p>The reports being confidential and customized are not subject to refund after they have been dispatched. </p>

          <p>Quadrant Knowledge does not accept any return of reports post-delivery. </p>

          <b>Variations </b><br><br>
          <p>QKS reserves the right to change these guidelines at any time without prior notice. </p>

          <b>Contact Us </b><br><Br>
            <p>If you have any questions about our Returns and Refunds Policy, please contact at <a href="mailto:info@quadrant-solutions.com">info@quadrant-solutions.com</a></p>


       

     <br><br><br>



  </div>
  <div #topElement></div>

  <app-searchbar></app-searchbar>

  