<!-- Banner Start -->
<div class="container-fluid">
    <div class="row" style="margin-bottom: -160px;">
        <div class="col-sm-12" style="padding: 0;">
            <div class="roimg">
                 <img class="img-fluid roinfo" src="assets/ROI_Infographic.png" alt=""> 
                <!-- <iframe width="674" height="379" src="https://www.youtube.com/embed/MKCTFMjBfoI" title="ROI Benchmark Report- Product Explainer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
            </div>
                <h1 class="rot">ROI Benchmark Report</h1>
                <p class="rodec">A vendor-neutral demonstration of value for a specific<br> IT product/solution deployment. It thoroughly analyzes<br> quantifiable and intangible benefits, calculated total cost<br> of ownership (TCO), risks, ROIs, and aggregated end-user<br> perception. </p>
                <!-- <button class="robtn" (click)="downloadForm(researchMaster)">Connect for a Demo  <p class="arr">></p></button> -->
                <!-- <button class="whabtn"><a href="/contact-us" style="color:white;text-decoration: none;">Connect for a Demo  <p class="arr">></p></a></button>  -->
                <button class="whabtn" (click)="downloadForm('roi-benchmark-report')"><a style="color:white;text-decoration: none;">Connect for a Demo  <p class="arr">></p></a></button> 

 
        </div>
      </div>
</div> 
<!-- Banner end -->

<!-- working start -->

<div class="row">
    <div class="col-sm-12">
        <p class="text-center mr">Workings</p>
        <h2 class="mr1 text-center">Bespoke 4-Step Approach</h2>
    </div>
</div>
<div class="row" style="margin-bottom: 20px;">
    <div class="col-md-6">
         <p class="rep">ROI Benchmark report follows a unique four-step methodology, where the QKS analysts aggregate insights from customer interactions and surveys to validate the value proposition of an IT solution:</p>
    </div>
    <div class="col-md-6"></div>
</div>
<div class="row whp">
    <div class="col-sm-3">
        <h3 class="an">Anonymous<br> Customer Surveys</h3>
        <img class="img-fluid anon" src="assets/Anonymous.png" alt="">
        <p class="high">To highlight<br> pain points<br> addressed by the <br>product/solution</p>
    </div>
    <div class="col-sm-3">
        <h3 class="an1">Investment <br>Profiles</h3>
        <img class="img-fluid anon" src="assets/Investment.png" alt="">
        <p class="high">To define<br> the types of <br>expenses involved in<br> a product roadmap</p>
    </div>
    <div class="col-sm-3">
        <h3 class="an2">Benefit<br> Profiles</h3>
        <img class="img-fluid anon" src="assets/Benefit.png" alt="">
        <p class="high">To evaluate<br> qualitative and<br> quantitative benefits<br> at all levels</p>
    </div>
    <div class="col-sm-3">
        <h3 class="an3">ROI & Break-Even<br> Calculations </h3>
        <img class="img-fluid anon" src="assets/ROI & Break.png" alt="">
        <p class="high">To analyze<br> costs-benefits and<br> payback period for<br> target customers</p>
    </div>

</div>
  <!-- working end -->

  <!-- Benefits start -->

  <div class="row">
    <div class="col-sm-12">
        <p class="text-center mr">Benefits</p>
        <h2 class="mr1 text-center">Make Progressive Investment Decisions with</h2>
    </div>
  </div>

  <div class="row whp" style="margin-bottom: 90px; margin-top: 30px;">
    <div class="col-sm-3" id="mind">
        <img class="img-fluid bene" src="assets/ThirdParty.png" alt="">
        <h3 class="c3">Third-Party<br> Validation</h3>
    </div>
    <div class="col-sm-3" id="mind">
        <img class="img-fluid bene" src="assets/Transparency.png" alt="">
        <h3 class="c3">Transparency and <br>Accountability</h3>
    </div>
    <div class="col-sm-3" id="mind">
        <img class="img-fluid bene" src="assets/Reasoningfor.png" alt="">
        <h3 class="c3">Reasoning for <br>Product Adoption</h3>
    </div>
    <div class="col-sm-3" id="mind">
        <img class="img-fluid bene" src="assets/CostBenefit.png" alt="">
        <h3 class="c3">Cost-Benefit<br> Analysis</h3>
    </div>
  </div>
  <!-- Benefits end -->
<!-- Highlight start -->

<div class="row">
    <div class="col-sm-12">
        <p class="text-center mr">Highlights</p>
        <h2 class="mr1 mr11 text-center">Highlights of the ROI Benchmark Report</h2>
    </div>
  </div>

  <div class="row" style="margin-bottom: 200px;">
    <div class="col-md-6 lt">
        <div>
        <p class="exte">With a strong emphasis on extensive financial analysis along with qualitative aspects of technology adoption, the report reflects the true value of a vendor's IT solution/product through:</p>
        </div>
        <div class="cont">
        <div class="a1">
            <img class="img-fluid bg-white" src="assets/Tick.png" alt="" style="width: 7px;">
            <h3 class="det">Understanding Customer Pain Points & Challenges</h3>
            </div>

            <div class="a1">
                <img class="img-fluid bg-white" src="assets/Tick.png" alt="" style="width: 7px;">
                <h3 class="det">Highlighting Quantified/Objective Financial Insights</h3>
                </div>

                <div class="a1">
                    <img class="img-fluid bg-white" src="assets/Tick.png" alt="" style="width: 7px;">
                    <h3 class="det">Featuring Notable Customer Quotes Before & After Purchase </h3>
                </div>
                <div class="a1">
                    <img class="img-fluid bg-white" src="assets/Tick.png" alt="" style="width: 7px;">
                    <h3 class="det">Creating A Target Customer Profile</h3>
                </div>
                <div class="a1">
                    <img class="img-fluid bg-white" src="assets/Tick.png" alt="" style="width: 7px;">
                    <h3 class="det">Showcasing Strategic & Tactical Benefits</h3>
                </div>
                <div class="a1">
                    <img class="img-fluid bg-white" src="assets/Tick.png" alt="" style="width: 7px;">
                    <h3 class="det">Analyzing Incurred Cost & Enhanced Benefits</h3>
                </div>
            </div>
    </div>
    <div class="col-md-6">
        <!-- <img class="img-fluid bg-white thum" src="assets/ROIMockupForUI2.png" alt=""> -->
        <iframe width="490" height="290" src="https://www.youtube.com/embed/MKCTFMjBfoI" title="ROI Benchmark Report- Product Explainer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <button type="submit" class="connbtn btn-primary">Download Sample Report</button>
        </div>
  </div>

  <!-- Highlight end -->

  <!-- neelam Singh Strat -->

  <div class="row nee">
    <div class="col-sm-6">
        <img class="img-fluid qut" src="assets/Quote1.png" alt="">
        <h4 class="nlm">Discover the tangible and intangible benefits of software investments with our robust return on investment benchmark tool.</h4>
        <h3 class="nn">Neelam Singh</h3>
        <p class="pd">Practice Director,<br> Quadrant Knowledge Solutions Pvt. Ltd.</p>
    </div>
    <div class="col-sm-6" id="mobleft">
        <h3 class="att">How to Not Make Wrong Technology <br>Investment Decisions</h3>
        <p class="rd"><a  routerLink="/blogs/how-to-not-make-the-wrong-technology-decisions-234">Read Now >></a></p>
        <hr>
        <h3 class="at1">Five Ways to Enhance User Adoption<br> Strategies for Technology Solution</h3>
        <p class="rd1"><a  routerLink="/blogs/five-ways-to-enhance-user-adoption-strategies-for-technology-solutions-233">Read Now >></a></p>
        <hr class="hr1">
        <h3 class="at2">Importance of ROI While Making Software<br> Selection </h3>
        <p class="rd2"><a  routerLink="/blogs/importance-of-roi-while-making-a-software-selection-232">Read Now >></a></p>
    </div>

  </div>

  <!-- neelam Singh end -->

  <!-- The WHAO Effects -->

<div class="row re diff" style="background: #0972EA;">
    <h2 class="siz">It’s Not Just Another ROI Calculator!</h2>
  <div class="col-sm-3" id="restec">
    <img  src="assets/Quantitative.png" class="pot">

    <p class="text-center eff">Quantitative &<br> Qualitative Analysis<br> of the Benefits</p>
  </div>
  <div class="col-sm-3" id="restec">
    <img src="assets/VendorNeutralPerspective.png" class="pot">

    <p class="text-center eff">Vendor Neutral<br> Perspective</p>
  </div>
  <div class="col-sm-3" id="restec">
    <img src="assets/CustomerInteractions.png" class="pot">

    <p class="text-center eff">Insights Into<br> Customer Interactions<br> & Feedback</p>
  </div>
  <div class="col-sm-3" id="restec">
    <img src="assets/DetailedCalculations.png" class="pot">

    <p class="text-center eff">Detailed Calculations<br> of TCO, Risks &<br> Payback Period</p>
  </div>
</div>


<!-- The WHAO Effects end-->

<!-- FAQ start -->

<div class="row" style="margin-top: 60px;">
<div class="col-sm-12">
  <p class="text-center st">FAQS</p>
        <h2 class="mt text-center">Questions? Look Here.</h2>
</div>
</div>
<div class="row re" style="margin-bottom: 5%;">
<div class="col-sm-12">
    <div class="accordion acc" id="accordionPanelsStayOpenExample">
        <div class="accordion-item" style="background-color: #DADADA;">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne" style="background-color: #DADADA;">
              What is the ROI Benchmark Report?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              The ROI benchmark report is a vendor-neutral demonstration of value derived from product deployment which empowers vendors to validate their investments and end users to truly understand the benefits, costs, and return on investment associated with adopting a specific vendor's offering.            </div>
          </div>
        </div>
        <div class="accordion-item" style="background-color: #DADADA;">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo" style="background-color: #DADADA;">
              What is the ROI Benchmark Report used for?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
              The ROI benchmark report is used to calculate the ROI and payback period ensuring the investment of vendors and end-users are validated. By validating the investment, Quadrant Knowledge solution offers unique value proposition and compelling advantage to the solution or product in question.             </div>
          </div>
        </div>
        <div class="accordion-item" style="background-color: #DADADA;">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree" style="background-color: #DADADA;">
              Why is the ROI Benchmark Report useful for Vendors?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
              The ROI benchmark report provides validation from Quadrant Knowledge Solutions, serving as a certificate of authenticity for vendors ROI claims that become a powerful marketing tool. We also ensure transparency with TCO analysis so that there will be a clear understanding of the financial implications of the solutions.             </div>
          </div>
        </div>
        <div class="accordion-item" style="background-color: #DADADA;">
            <h2 class="accordion-header" id="panelsStayOpen-headingFour">
              <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour" style="background-color: #DADADA;">
                What is the process for analysis of ROI Benchmark Report?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
              <div class="accordion-body">
                The process involves four essential steps following project initiation:<br><br>
                •	Questionnaire is designed to conduct in-depth interviews with 3-4 customers within the target segment.<br>
                •	The second step is to create target profile after the customer interviews, which serves as the foundation for all future calculations.<br>
                •	Benefit and cost profile is created to further refine analysis.<br> 
                •	The ROI and payback period is calculated is calculated ensuring the approach delivers optimal results. 
                              </div>
            </div>
          </div>
          <div class="accordion-item" style="background-color: #DADADA;">
            <h2 class="accordion-header" id="panelsStayOpen-headingFive">
              <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive" style="background-color: #DADADA;">
                How does the planned roadmap section help vendors?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
              <div class="accordion-body">
                In the planned roadmap section, we proactively address the challenges and opportunities that lie ahead for both the vendor and the customer. We analyze and anticipate future trends and developments to help chart a course for long-term success. This helps tie everything together and provide expert recommendations based on insights gained from the report.               </div>
            </div>
          </div>
          <!-- <div class="accordion-item" style="background-color: #DADADA;">
            <h2 class="accordion-header" id="panelsStayOpen-headingSix">
              <button class="accordion-button collapsed btt" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix" style="background-color: #DADADA;">
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
              <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the, though the transition does limit overflow.
              </div>
            </div>
          </div> -->
      </div>
</div>

</div>
<!-- FAQ end -->
<app-searchbar></app-searchbar>